<div class="dashboard">

    <!-- <div id="proyectos" class="project"> -->
    <div class="row">
        <div class="col-md-12">
            <div class="titlebar">
                <span>Mis procesos</span>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-11" ng-class="vm.classFlechas">
            <div id="dvFlechaPlaneacion" style="position: relative; display:inline-flex; z-index:2" ng-click="vm.toggleEvento(1)">
                <img src="{{vm.imgenSeleccionPlaneacion}}" />
                <label style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">PLANEACIÓN</label>
                <span class="macroproceso circle-noti" ng-class="vm.etapa == 'pl'? 'active':''">{{vm.cantidades[0].PProyecto}}</span>
            </div>
            <div id="dvPlaneacionDatos" class="content-macroprocesos" ng-show="vm.VisiblePlaneacion">

                <div style="left:50px" ng-class="vm.etapa == 'pl'? 'accion-seleccionada':'accion-sin-seleccion'">
                    <a href="/proyectos/pl">
                        <div ng-class="vm.etapa == 'pl'? 'div-accion-seleccionada':'div-accion-sin-seleccion'">
                            <label style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">Proyectos</label>
                            <span class="macroproceso circle-noti" ng-class="vm.etapa == 'pl'? 'active':''">{{vm.cantidades[0].PProyecto}}</span>
                        </div>
                    </a>
                </div>
            </div>
            <div id="dvFlechaRecursos" style="position: relative; display: inline-flex; z-index: 2" ng-click="vm.toggleEvento(2)">
                <img src="{{vm.imgenSeleccionRecursos}}" />
                <label style="position: absolute; top: 50%; transform: translate(20%, -50%)">G. RECURSOS</label>
                <span class="macroproceso circle-noti" ng-class="vm.etapa == 'gr'? 'active':''">{{vm.cantidades[0].GRProyecto}}</span>
            </div>
            <div id="dvRecursosDatos" class="content-macroprocesos"  ng-show="vm.VisibleRecursos">
                <div style="left:50px" ng-class="vm.etapa == 'gr'? 'accion-seleccionada':'accion-sin-seleccion'">
                    <a href="/proyectos/gr">
                        <div ng-class="vm.etapa == 'gr'? 'div-accion-seleccionada':'div-accion-sin-seleccion'">
                            <label style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">Proyectos</label>
                            <span class="macroproceso circle-noti" ng-class="vm.etapa == 'gr'? 'active':''">{{vm.cantidades[0].GRProyecto}}</span>
                        </div>
                    </a>
                </div>
            </div>
            <div id="dvFlechaEjecucion" style="position: relative; display: inline-flex; z-index: 2" ng-click="vm.toggleEvento(3)">
                <img src="{{vm.imgenSeleccionEjecucion}}" />
                <label style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">EJECUCIÓN</label>
                <span class="macroproceso circle-noti" ng-class="vm.etapa == 'ej'? 'active':''">{{vm.cantidades[0].EJTotal}}</span>
            </div>
            <div id="dvEjecucionDatos" class="content-macroprocesos conProgramacion" ng-show="vm.VisibleEjecucion">
                <div style="left:50px" ng-class="vm.etapa == 'ej'? 'accion-seleccionada':'accion-sin-seleccion'">
                    <a href="/proyectos/ej">
                        <div ng-class="vm.etapa == 'ej'? 'div-accion-seleccionada':'div-accion-sin-seleccion'">
                            <label style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">Proyectos</label>
                            <span class="macroproceso circle-noti" ng-class="vm.etapa == 'ej'? 'active':''">{{vm.cantidades[0].EJProyecto}}</span>
                        </div>
                    </a>
                </div>
                <div style="left:160px" class="accion-sin-seleccion">
                    <a href="/tramites/ej">
                        <div class="div-accion-sin-seleccion">
                            <label style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">Trámites</label>
                            <span class="macroproceso circle-noti" ng-class="vm.etapa == 'ej'? 'active':''">{{vm.cantidades[0].EJTramite}}</span>
                        </div>
                    </a>
                </div>
                <div style="left:270px" class="accion-sin-seleccion" >
                    <a href="/programacion/ej">
                        <div style="width:150px" class="div-accion-sin-seleccion">
                            <label style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">Programación</label>
                            <span class="macroproceso circle-noti" ng-class="vm.etapa == 'ej'? 'active':''">{{vm.cantidades[0].EJProgramacion}}</span>
                        </div>
                    </a>
                </div>
            </div>
            <div id="dvFlechaEvaluacion" style="position: relative; display: inline-flex; z-index: 2" ng-click="vm.toggleEvento(4)">
                <img src="{{vm.imgenSeleccionEvaluacion}}" />
                <label style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">EVALUACIÓN</label>
                <span class="macroproceso circle-noti" ng-class="vm.etapa == 'ev'? 'active':''">{{vm.cantidades[0].EVProyecto}}</span>
            </div>
            <div id="dvEvaluacionDatos" class="content-macroprocesos" ng-show="vm.VisibleEvaluacion">
                <div style="left:50px" ng-class="vm.etapa == 'ev'? 'accion-seleccionada':'accion-sin-seleccion'">
                    <a href="/proyectos/ev">
                        <div ng-class="vm.etapa == 'ev'? 'div-accion-seleccionada':'div-accion-sin-seleccion'">
                            <label style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">Proyectos</label>
                            <span class="macroproceso circle-noti" ng-class="vm.etapa == 'ev'? 'active':''">{{vm.cantidades[0].EVProyecto}}</span>
                        </div>
                    </a>
                </div>

            </div>
        </div>


        <!--<div class="btn-group btn-group-toggle">
            <label class="btn btn-secondary border-0">
                <a>»</a>
            </label>
        </div>&nbsp;&nbsp;
        <div class="btn-group btn-group-toggle btnsFiltrosAgrupados" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <a>Proyectos</a>
            </label>
            <label class="btn btn-secondary">
                <a href="/tramites/{{vm.etapa}}">Trámites</a>
            </label>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;-->

        <div class="col-md-1 float-right">
            <!-- Componente Crear Proceso -->
            <div id="cmpCrearProceso" class="dropdown new-tar" >
                <div class="dropdown-toggle" data-toggle="dropdown" ng-click="vm.mostrarFlujosDisponibles()">
                    <button class="btnCrearProceso pull-right">+ PROCESO</button>
                </div>
                <div class="dropdown-menu arrow_box accesso-rapido pull-right" role="menu" ng-if="vm.flujosAutorizados.length" style="width:400px !important">
                    <input type="text" class="form-control" placeholder="Búsqueda" ng-model="consulta">
                    <ul class="">
                        <li ng-repeat="flujoAutorizado in  vm.flujosAutorizados | filter:consulta" id="{{flujoAutorizado.IdOpcionDnp}}" ng-click="vm.mostrarModal(flujoAutorizado)" title="{{flujoAutorizado.NombreOpcionCompleto}}" >
                            <a href="#">{{flujoAutorizado.NombreOpcion}}</a>
                        </li>
                    </ul>

                </div>
            </div>
            <!-- /Componente Crear Proceso -->
            <!-- <div class="btn-group btn-group-toggle btnsFiltrosAgrupados" data-toggle="buttons">
                <label class="btn btn-secondary">
                    <a>Crear proceso de proyectoxxxx</a>
                </label>
            </div> -->
        </div>
    </div>




    <!--inicio tabs-->
    <div class="form-group clearfix">
        <div class="row">
            <div class="col-sm-12 tabs radio radio-primary">
                <ul class="nav nav-tabs tabsFiltro">
                    <li tabindex="0" class="{{$index == 0 ? 'active' : ''}}"
                        ng-repeat="tipo in vm.listaTipoEntidad">
                        <a data-toggle="tab" ng-click="vm.cambioTipoEntidad(tipo.Nombre)"
                           ng-disabled="{{tipo.Deshabilitado}}" ng-if="!tipo.Deshabilitado"
                           llamar-funcion-con-tecla="vm.cambioTipoEntidad(tipo.Nombre)">
                            {{tipo.Descripcion}}
                        </a>
                        <a ng-if="tipo.Deshabilitado" class="disabled" disabled>{{tipo.Descripcion}}</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <p class="mis-procesos-titulo-totales">{{vm.nombreEtapa}} / Proyectos / {{vm.tipoEntidad}}. Total: {{ vm.cantidadDeProyectos }}</p>
                </div>
                <div class="row rowbotonesicoDNP">

                    <div class="col-md-12 text-right nopadding">
                        <button class="btnaccion" tooltip-class="customClass" uib-tooltip="Limpiar" ng-click="vm.restablecerBusqueda()">
                            <span> <img id="icoLimpiarBusqueda" class="icoBusquedasDNP" src="Img/IcolimpiarBusqD.svg"></span>
                        </button>
                        <button tooltip-class="customClass" uib-tooltip="Buscar" class="btnicobuscarDNP" type="button" data-toggle="collapse" data-target="#IdPanelBuscador" ng-click="vm.conmutadorFiltro()">
                            <span> <img id="arrow-IdPanelBuscador" class="icoBusquedas2DNP glyphicon-chevron-down-busqDNP" src="Img/IcoBusqUp.svg" data-toggle="collapse" data-target="#IdPanelBuscador"></span>
                        </button>
                        <button class="btnaccion" ng-click="vm.downloadPdf()">
                            <span> <img class="icoBusquedasDNP" src="Img/etapas/u1089.svg"></span>
                        </button>
                        <button class="btnaccion" ng-click="vm.downloadExcel()">
                            <span> <img class="icoBusquedasDNP" src="Img/etapas/u1090.svg"></span>
                        </button>
                    </div>
                </div>
                <!--<span class="buttonbar pull-right">
                    <img src="Img/etapas/u702.svg" class="imgMisProcesosAcciones" ng-click="vm.conmutadorFiltro()" uib-tooltip="Filtro" />
                    <img src="Img/etapas/u1089.svg" class="imgMisProcesosAcciones" ng-click="vm.downloadPdf()" uib-tooltip="Exportar PDF" />
                    <img src="Img/etapas/u1090.svg" class="imgMisProcesosAcciones" ng-click="vm.downloadExcel()" uib-tooltip="Exportar XLS" />
                </span>-->
            </div>
        </div>

        <!--inicio filtro-->
        <br />
        <div class="row panelbuscadorDNP collapse" id="IdPanelBuscador">

            <div class="row">
                <div class="col-md-1">
                    <div class="labelbuscadorDNP"> <span>ID <img id="u1275_img" class="imgTituloAccion " src="Img/u1275.svg"></span></div>
                    <input type="text" ng-model="vm.proyectoFiltro.identificador" name="txtIdentificador"
                           id="txtIdentificador" class="form-control InputBuscadorDNP" />
                </div>
                <div class="col-md-2">
                    <div class="labelbuscadorDNP"> <span>BPIN <img id="u1275_img" class="imgTituloAccion " src="Img/u1275.svg"></span></div>
                    <input type="text" class="form-control InputBuscadorDNP" ng-model="vm.proyectoFiltro.bpin" numbers-only name="txtBpin" id="txtBpin" />
                </div>
                <div class="col-md-5">
                    <div class="labelbuscadorDNP"> <span>Nombre proyecto</span></div>
                    <input type="text" class="form-control InputBuscadorDNP" placeholder="Escriba palabra o frase" ng-model="vm.proyectoFiltro.nombre" name="txtNombreFlujo"
                           id="txtNombreFlujo" />
                </div>
                <!--<div class="col-md-2">
                    <div class="labelbuscadorDNP"> <span>Estado del Proyecto</span></div>
                    <select class="form-control selectDNP" ng-model="vm.proyectoFiltro.estadoProyectoId"
                            ng-options="x.Id as x.Estado for x in vm.listaFiltroEstadoProyectos"
                            name="ddlEstadoDelProyecto" id="ddlEstadoDelProyecto">
                        <option value="" selected>Seleccione...</option>
                    </select>
                </div>-->
                <div class="col-md-4">
                    <div class="labelbuscadorDNP"> <span>Sector proyecto</span></div>
                    <select class="form-control selectDNP" ng-model="vm.proyectoFiltro.sectorId"
                            ng-options="x.Id as x.Name for x in vm.listaFiltroSectores" name="ddlSector" id="ddlSector">
                        <option value="" selected>Seleccione...</option>
                    </select>
                </div>
            </div>

            <div class="" style="height:20px">
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="labelbuscadorDNP"> <span>Código proceso</span></div>
                    <input type="text" class="form-control InputBuscadorDNP" ng-model="vm.proyectoFiltro.codigoProceso" name="txtCodigoProceso" id="txtCodigoProceso" />
                </div>
                <div class="col-md-3">
                    <div class="labelbuscadorDNP"> <span>Nombre proceso</span></div>
                    <input type="text" class="form-control InputBuscadorDNP" placeholder="Escriba palabra o frase" ng-model="vm.proyectoFiltro.nombreFlujo" />
                </div>
                <div class="col-md-3">
                    <div class="labelbuscadorDNP"> <span>Nombre paso actual</span></div>
                    <input type="text" class="form-control InputBuscadorDNP" placeholder="Escriba palabra o frase" ng-model="vm.proyectoFiltro.accionFlujo" />
                </div>
                <div class="col-md-4 SelectBuscadorDNP">
                    <div class="labelbuscadorDNP"> <span>Entidad encargada de paso actual</span></div>
                    <select class="form-control selectDNP" chosen options="vm.listaFiltroEntidades" ng-model="vm.proyectoFiltro.entidadId"
                            ng-options="x.EntityTypeCatalogOptionId as x.Nombre for x in vm.listaFiltroEntidades" name="ddlEntidad" id="ddlEntidad" no-results-text="No hay ningún resultado para su búsqueda"
                            placeholder-text-single="Entidades">
                        <option value="" selected>Seleccione...</option>
                    </select>
                </div>
            </div>
            <div class="" style="height:20px">
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="labelbuscadorDNP"> <span>Estado del proyecto</span></div>
                    <select class="form-control selectDNP" ng-model="vm.proyectoFiltro.estadoProyectoId"
                            ng-options="x.Id as x.Estado for x in vm.listaFiltroEstadoProyectos" name="ddlEstadoProyecto" id="ddlEstadoProyecto">
                        <option value="" selected>Seleccione...</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 pull-left text-left" ng-if="vm.BusquedaRealizada">
                    <span class="spanresultadobusquedaDNP pull-left" ng-if="vm.cantidadDeProyectos > 0">
                        Se encontraron ({{vm.cantidadDeProyectos}}) resultados.
                    </span>
                    <span class="spanresultadobusqueda2DNP pull-left" style="margin-top: 0px;" ng-if="vm.cantidadDeProyectos == 0">
                        No se encontraron resultados.
                    </span>
                </div>
                <div class="col-md-6 pull-right text-right">
                    <span class="pull-right">
                        <button type="button" class=" btnBuscarDNP " tooltip-class="customClass" uib-tooltip="Buscar" ng-click="vm.buscar()">
                            BUSCAR
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <!--<div class="filtro" >
            <div class="clearfix">
                <div class="row">
                    <div class="col-md-10">
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroIdentificador">
                            <input type="text" ng-model="vm.proyectoFiltro.identificador" name="txtIdentificador"
                                   id="txtIdentificador" class="form-control" placeholder="Identificador" />
                        </div>
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroBpin">
                            <input type="text" ng-model="vm.proyectoFiltro.bpin" numbers-only
                                   ng-model="vm.FiltroBpin" name="txtBpin" id="txtBpin" class="form-control"
                                   placeholder="BPIN" />
                        </div>
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroNombre">
                            <input type="text" ng-model="vm.proyectoFiltro.nombre" name="txtNombreFlujo"
                                   id="txtNombreFlujo" class="form-control" placeholder="Nombre Proyecto" />
                        </div>



                        <div class="col-md-3" ng-if="vm.puedeVerFiltroSector">
                            <select ng-model="vm.proyectoFiltro.sectorId"
                                    ng-options="x.Id as x.Name for x in vm.listaFiltroSectores" name="ddlSector"
                                    id="ddlSector" class="form-control">
                                <option value="" selected>Sector del Proyecto</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-3" ng-if="vm.puedeVerFiltroEntidad">
                                <select chosen options="vm.listaFiltroEntidades"
                                        ng-model="vm.proyectoFiltro.entidadId"
                                        ng-options="x.Id as x.Name for x in vm.listaFiltroEntidades" name="ddlEntidad"
                                        id="ddlEntidad" no-results-text="No hay ningún resultado para su búsqueda"
                                        placeholder-text-single="Entidades" class="form-control">
                                    <option value="" selected>Entidad</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroIdentificadorCR">
                            <input type="text" ng-model="vm.proyectoFiltro.identificadorCR"
                                   name="txtIdentificadorCR" id="txtIdentificadorCR" class="form-control"
                                   placeholder="Identificador CR" />
                        </div>

                        <div class="col-md-3" ng-if="vm.puedeVerFiltroAnoInicio">
                            <input type="text" numbers-only ng-model="vm.proyectoFiltro.horizonteInicio"
                                   maxlength="4" name="txtAnoInicio" id="txtAnoInicio" class="form-control"
                                   placeholder="Año Inicio" />
                        </div>
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroAnoFin">
                            <input type="text" numbers-only ng-model="vm.proyectoFiltro.horizonteFin" maxlength="4"
                                   name="txtAnoFinal" id="txtAnoFinal" class="form-control" placeholder="Año Final" />
                        </div>
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroPrioridad">
                            <select ng-model="vm.proyectoFiltro.prioridad"
                                    ng-options="x.Id as x.Name for x in vm.listaFiltroPrioridades" name="ddlPrioridad"
                                    id="ddlPrioridad" class="form-control">
                                <option value="" selected>Prioridad</option>
                            </select>
                        </div>
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroEstadoProyecto">
                            <select ng-model="vm.proyectoFiltro.estadoProyectoId"
                                    ng-options="x.Id as x.Estado for x in vm.listaFiltroEstadoProyectos"
                                    name="ddlEstadoDelProyecto" id="ddlEstadoDelProyecto" class="form-control">
                                <option value="" selected>Estado del Proyecto</option>
                            </select>
                        </div>
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroAccionFlujo">
                            <input type="text" ng-model="vm.proyectoFiltro.accionFlujo" class="form-control"
                                   placeholder="Accion Flujo" />
                        </div>
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroNombreFlujo">
                            <input type="text" ng-model="vm.proyectoFiltro.nombreFlujo" class="form-control"
                                   placeholder="Nombre Flujo" />
                        </div>
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroEstadoInstancia">
                            <select ng-model="vm.proyectoFiltro.estadoInstanciaId"
                                    ng-options="x.Id as x.Estado for x in vm.listaFiltroEstadoInstancias"
                                    name="ddlEstadoInstancia" id="ddlEstadoInstancia" class="form-control">
                                <option value="" selected>Estado</option>
                            </select>
                        </div>
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroNombreFlujo">
                            <select ng-model="vm.proyectoFiltro.procesoId"
                                    ng-options="x.NivelId as x.Nombre for x in vm.listaProcesos"
                                    name="ddlMacroproceso" id="ddlMacroproceso" class="form-control">
                                <option value="" selected>Proceso</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2 text-right">
                        <button type="button" class="btn btn-filtro" ng-click="vm.buscar()" tooltip-placement="auto"
                                uib-tooltip="Buscar">
                            Buscar
                        </button>
                        <button type="button" class="btn btn-filtro" ng-click="vm.limpiarCamposFiltro()"
                                tooltip-placement="auto" uib-tooltip="Limpiar">
                            Limpiar
                        </button>
                    </div>
                </div>

            </div>
        </div>-->
        <!--fim filtro-->
    </div>
    <br />
    <!--fim tabs-->
    <!--inicio grid-->
    <!--<div class="row grid-proyectos">
        <div class="col-md-12">
            <div class="container-table" ui-i18n="{{vm.lang}}" id="proyecto-grid-container">

                <div ng-if="vm.filasFiltradas" class="clearfix grid-icon" id="uigprojecto" ui-grid="vm.gridOptions"
                     ui-grid-resize-columns ui-grid-pagination ui-grid-expandable>
                </div>

                <div class="text-center intro-help  min-mh no-result-watermark"
                     ng-if="!vm.tipoEntidad && !vm.filasFiltradas">
                    <h4>{{ 'Buscando resultados' }} </h4>
                </div>

                <div class="text-center intro-help  min-mh no-result-watermark"
                     ng-if="vm.tipoEntidad && !vm.filasFiltradas">
                    <h4>
                        {{ 'No hay ningún resultado para su búsqueda por el tipo de entidad' }} {{ vm.tipoEntidad }}
                    </h4>
                </div>
            </div>
        </div>
        <div ng-if="vm.mostrarMensajeProyectos" ng-cloak>
            <div class="text-center intro-help no-result-watermark">
                <img src="Img/image-help.png" alt="Sin resultados">
                <h2 id="idLabelMensajeResultados">{{vm.Mensaje}}</h2>
            </div>
        </div>
    </div>-->
    <!-- </div> -->
    <!--Inicio Nueva Grilla-->
    <div class="row">
        <div class="" style="padding: 0 !important" ng-repeat="entidad in vm.listaEntidades | orderBy:'sector'">
            <div class="alert panel-headingAccDNP">
                <div class="card card-body pull-left  divAccordionDNP">
                    <span class="uLabelCampo">{{entidad.sector}}</span> - {{entidad.entidad}}
                    <p class="panelbtnalertAcordnp">
                        <button class="btnaccion btnAccordionDNP" type="button" data-toggle="collapse" data-target="#obj_{{entidad.idEntidad}}" ng-click="vm.AbrilNivel(entidad.idEntidad)">
                            <img ng-show="entidad.estadoEntidad == '+'" src="Img/btnMas.svg">
                            <img ng-show="entidad.estadoEntidad == '-'" src="Img/btnMenos.svg">
                        </button>
                    </p>
                </div>
            </div>
            <br />
            <div class="collapse" id="obj_{{entidad.idEntidad}}" style="margin-top: -20px;">
                <div class="LineaEncabezadodivDNP"></div>
                <div class="row">
                    <h3 class="tituloEncabezadodivDNP">
                        Procesos pendientes: {{entidad.subGridOptions.data.length}}
                    </h3>
                </div>

                <div class="row" style="margin: 0px 0px 0px 0px;">
                    <div class="col-md-12 ">

                        <table class="TableDNP">
                            <thead>
                                <tr>
                                    <th class="columAcc"></th>
                                    <th class="textLeftDNP">ID / BPIN / Estado / Sector</th>
                                    <th class="textLeftDNP">Nombre del proyecto</th>
                                    <th class="textLeftDNP">Proceso / Código / Estado / Fecha inicio</th>
                                    <th class="textLeftDNP">Paso actual / Fecha inicio / Entidad</th>
                                    <th class="columAcc"></th>
                                    <th class="columAcc"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="datos in entidad.subGridOptions.data | orderBy:'-FechaCreacion'">
                                    <td></td>
                                    <td class="textLeftDNP">
                                        <p style="margin:0">
                                            {{datos.ProyectoId}}
                                        </p>
                                        <p style="margin:0; font-weight:600">{{datos.IdObjetoNegocio}}</p>
                                        <p style="margin:0">
                                            {{datos.EstadoProyecto}}
                                        </p>
                                        <p style="margin:0; font-weight:600">{{datos.SectorNombre}}</p>
                                    </td>
                                    <td class="textLeftDNP">{{datos.NombreObjetoNegocio}}</td>
                                    <td class="textLeftDNP">
                                        <a href="#" ng-click="vm.consultarAccion(datos.IdInstancia, datos.NombreObjetoNegocio, datos.IdObjetoNegocio, datos.IdEntidad, datos.NombreFlujo, datos)">
                                            {{datos.NombreFlujo}}
                                        </a>
                                        <p style="margin:0; font-weight:600">
                                            {{datos.CodigoProceso}}
                                        </p>
                                        <p style="margin:0">
                                            {{datos.EstadoInstancia}}
                                        </p>
                                        <p style="margin:0; font-weight:600">
                                            {{datos.FechaCreacion | date:'dd-MM-yyyy HH:mm:ss'}}
                                        </p>
                                        <a href="#" ng-click="vm.consultarAccion(datos.InstanciaPadreId, datos.NombreObjetoNegocio, datos.CodigoTramite, datos.IdEntidad, null, null)">
                                            {{datos.CodigoTramite}}
                                        </a>
                                    </td>
                                    <td class="textLeftDNP">
                                        <p style="margin:0">
                                            {{datos.NombreAccion}} / 
                                        </p>
                                        <p style="margin:0; font-weight:600">
                                            {{datos.FechaPaso | date:'dd-MM-yyyy HH:mm:ss'}} / 
                                        </p>
                                        <p style="margin:0">
                                            {{datos.NombreEntidad}}
                                        </p>
                                    </td>
                                    <td>
                                        <a>
                                            <img src="Img/etapas/u1760.svg" uib-tooltip="Ver historial" ng-click="vm.abrirLogInstancias(datos)" />
                                        </a>
                                    </td>
                                    <td ng-if="!datos.permiteEliminar">
                                        <a>
                                            <img src="Img/etapas/u1756.svg" uib-tooltip="Eliminar" />
                                        </a>
                                    </td>
                                    <td ng-if="datos.permiteEliminar">
                                        <a>
                                            <img src="Img/IcoDelete.svg" uib-tooltip="Eliminar" ng-click="vm.cancelarInstanciaMisProcesos(datos)" />
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Fin Nueva Grilla-->
</div>
<link href="/Content/ui-gridConsolaDNP.css" rel="stylesheet" />
