<div class="dashboard">

    <!-- <div id="proyectos" class="project"> -->
    <div class="row">
        <div class="col-md-12">
            <div class="titlebar">
                <span>Mis procesos - Verificación / Asignar a técnico</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" ng-class="vm.classFlechas" style="padding-top: 12rem !important; margin-top: -4rem;">
            <div class="principal-steps-ocad-paz ax_default" data-left="75" data-top="45" data-width="32" data-height="48" layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div class="circle-steps-ocad-paz initial ax_default label">
                    <div class=""></div>
                    <div class="text">
                        <p><span>Inicio</span></p>
                    </div>
                </div>

                <!-- Button.Blue (Rectangle) -->
                <div class="circle-icon-steps-ocad-paz initial ax_default shape2" data-label="Button.Blue">
                    <div class="empty-div circle"></div>
                    <div class="text" style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="principal-steps-ocad-paz ax_default" data-left="141" data-top="51" data-width="40" data-height="42" layer-opacity="1">

                <!-- Unnamed (Shape) -->
                <div class="step-finished-icon first-step ax_default icon">
                    <img class="img" src="Img/iconssteps/u404.svg">
                    <div class="text" style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Button.Green (Rectangle) -->
                <div class="rectangle-steps-ocad-paz first-step ax_default shape2" data-label="Button.Green">
                    <div class="empty-div rectangle"></div>
                    <div class="text">
                        <p><span>1</span></p>
                    </div>
                </div>
            </div>
            <div class="principal-steps-ocad-paz ax_default" data-left="215" data-top="51" data-width="40" data-height="42" layer-opacity="1">

                <!-- Unnamed (Shape) -->
                <div class="step-finished-icon second-step ax_default icon">
                    <img class="img" src="Img/iconssteps/u404.svg">
                    <div class="text" style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Button.Green (Rectangle) -->
                <div class="rectangle-steps-ocad-paz second-step ax_default shape2" data-label="Button.Green">
                    <div class="empty-div rectangle"></div>
                    <div class="text">
                        <p><span>2</span></p>
                    </div>
                </div>
            </div>

            <div class="rectangle-steps-ocad-paz third-step ax_default shape2" data-label="Button.Blue">
                <img class="img " src="Img/iconssteps/button_blue_u409.svg">
                <div class="text ">
                    <p><span>3</span></p>
                </div>
            </div>

            <div class="rectangle-steps-ocad-paz fourth-step ax_default shape2" data-label="Button.Blue">
                <div class="empty-div rectangle"></div>
                <div class="text ">
                    <p><span>4</span></p>
                </div>
            </div>

            <div class="rectangle-steps-ocad-paz fifth-step ax_default shape2" data-label="Button.Blue">
                <div class="empty-div rectangle"></div>
                <div class="text ">
                    <p><span>5</span></p>
                </div>
            </div>

            <div class="principal-steps-ocad-paz ax_default" data-left="1175" data-top="45" data-width="32" data-height="48" layer-opacity="1">

                <!-- Button.Blue (Rectangle) -->
                <div class="circle-icon-steps-ocad-paz finish ax_default shape2" data-label="Button.Blue">
                    <div class="empty-div circle"></div>
                    <div class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div class="circle-steps-ocad-paz finish ax_default label">
                    <div class=""></div>
                    <div class="text">
                        <p><span>Fin</span></p>
                    </div>
                </div>
            </div>

            <div class="sub-steps-ocad-paz first-step ax_default shape2" data-label="Button.Blue">
                <img class="img" src="Img/iconssteps/button_blue_u415.svg">
                <div class="text">
                    <p><span>1. Asignar </span></p>
                </div>
            </div>

            <div class="sub-steps-ocad-paz second-step ax_default shape2" data-label="Button.Blue">
                <div class="empty-div second"></div>
                <div class="text ">
                    <p><span>2. Elaborar</span></p>
                </div>
            </div>

            <div class="sub-steps-ocad-paz third-step ax_default shape2" data-label="Button.Blue">
                <div class="empty-div third"></div>
                <div class="text ">
                    <p><span>3. Seguimiento y control</span></p>
                </div>
            </div>

            <div class="sub-steps-ocad-paz fourth-step ax_default shape2" data-label="Button.Blue">
                <div class="empty-div fourth"></div>
                <div class="text ">
                    <p><span>4. Revisión coordinador</span></p>
                </div>
            </div>

            <div class="sub-steps-ocad-paz fifth-step ax_default shape2" data-label="Button.Blue">
                <div class="empty-div fifth"></div>
                <div class="text ">
                    <p><span>5. Firma y emisión</span></p>
                </div>
            </div>

            <div id="u420" class="compound ax_default line" data-height="1" data-width="35" compoundmode="true">
                <img id="u420_img" class="singleImg img " src="Img/iconssteps/u420.svg">
                <div id="u420p000" class="ax_vector_shape" widgettopleftx="-0.425" widgettoplefty="0" widgettoprightx="0.45" widgettoprighty="0" widgetbottomleftx="-0.425" widgetbottomlefty="0.16666666666666666" widgetbottomrightx="0.45" widgetbottomrighty="0.16666666666666666">
                    <img id="u420p000_img" class="img " src="Img/iconssteps/u420p000.svg">
                </div>
                <div id="u420p001" class="ax_vector_shape" widgettopleftx="-0.25" widgettoplefty="-0.25" widgettoprightx="8.5" widgettoprighty="-0.25" widgetbottomleftx="-0.25" widgetbottomlefty="0" widgetbottomrightx="8.5" widgetbottomrighty="0">
                    <img id="u420p001_img" class="img " src="Img/iconssteps/u420p001.svg">
                </div>
                <div id="u420p002" class="ax_vector_shape" widgettopleftx="1.5454545454545454" widgettoplefty="0.05" widgettoprightx="-0.045454545454545456" widgettoprighty="0.05" widgetbottomleftx="1.5454545454545454" widgetbottomlefty="0" widgetbottomrightx="-0.045454545454545456" widgetbottomrighty="0">
                    <img id="u420p002_img" class="img " src="Img/iconssteps/u420p002.svg">
                </div>
                <div id="u420_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <div id="u421" class="compound ax_default line" data-height="1" data-width="35" compoundmode="true">
                <img id="u421_img" class="singleImg img " src="Img/iconssteps/u420.svg">
                <div id="u421p000" class="ax_vector_shape" widgettopleftx="-0.425" widgettoplefty="0" widgettoprightx="0.45" widgettoprighty="0" widgetbottomleftx="-0.425" widgetbottomlefty="0.16666666666666666" widgetbottomrightx="0.45" widgetbottomrighty="0.16666666666666666">
                    <img id="u421p000_img" class="img " src="Img/iconssteps/u421p000.svg">
                </div>
                <div id="u421p001" class="ax_vector_shape" widgettopleftx="-0.25" widgettoplefty="-0.25" widgettoprightx="8.5" widgettoprighty="-0.25" widgetbottomleftx="-0.25" widgetbottomlefty="0" widgetbottomrightx="8.5" widgetbottomrighty="0">
                    <img id="u421p001_img" class="img " src="Img/iconssteps/u421p001.svg">
                </div>
                <div id="u421p002" class="ax_vector_shape" widgettopleftx="1.5454545454545454" widgettoplefty="0.05" widgettoprightx="-0.045454545454545456" widgettoprighty="0.05" widgetbottomleftx="1.5454545454545454" widgetbottomlefty="0" widgetbottomrightx="-0.045454545454545456" widgetbottomrighty="0">
                    <img id="u421p002_img" class="img " src="Img/iconssteps/u421p002.svg">
                </div>
                <div id="u421_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <div id="u422" class="compound ax_default line" data-height="1" data-width="35" compoundmode="true">
                <img id="u422_img" class="singleImg img " src="Img/iconssteps/u420.svg">
                <div id="u422p000" class="ax_vector_shape" widgettopleftx="-0.45" widgettoplefty="0" widgettoprightx="0.425" widgettoprighty="0" widgetbottomleftx="-0.45" widgetbottomlefty="0.16666666666666666" widgetbottomrightx="0.425" widgetbottomrighty="0.16666666666666666">
                    <img id="u422p000_img" class="img " src="Img/iconssteps/u422p000.svg">
                </div>
                <div id="u422p001" class="ax_vector_shape" widgettopleftx="0" widgettoplefty="-0.25" widgettoprightx="8.75" widgettoprighty="-0.25" widgetbottomleftx="0" widgetbottomlefty="0" widgetbottomrightx="8.75" widgetbottomrighty="0">
                    <img id="u422p001_img" class="img " src="Img/iconssteps/u422p001.svg">
                </div>
                <div id="u422p002" class="ax_vector_shape" widgettopleftx="1.5" widgettoplefty="0.05" widgettoprightx="-0.09090909090909091" widgettoprighty="0.05" widgetbottomleftx="1.5" widgetbottomlefty="0" widgetbottomrightx="-0.09090909090909091" widgetbottomrighty="0">
                    <img id="u422p002_img" class="img " src="Img/iconssteps/u422p002.svg">
                </div>
                <div id="u422_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <div id="u423" class="compound ax_default line" data-height="1" data-width="35" compoundmode="true">
                <img id="u423_img" class="singleImg img " src="Img/iconssteps/u423.svg">
                <div id="u423p000" class="ax_vector_shape" widgettopleftx="-0.45" widgettoplefty="0" widgettoprightx="0.425" widgettoprighty="0" widgetbottomleftx="-0.45" widgetbottomlefty="0.16666666666666666" widgetbottomrightx="0.425" widgetbottomrighty="0.16666666666666666">
                    <img id="u423p000_img" class="img " src="Img/iconssteps/u423p000.svg">
                </div>
                <div id="u423p001" class="ax_vector_shape" widgettopleftx="0" widgettoplefty="-0.25" widgettoprightx="8.75" widgettoprighty="-0.25" widgetbottomleftx="0" widgetbottomlefty="0" widgetbottomrightx="8.75" widgetbottomrighty="0">
                    <img id="u423p001_img" class="img " src="Img/iconssteps/u423p001.svg">
                </div>
                <div id="u423p002" class="ax_vector_shape" widgettopleftx="1.5" widgettoplefty="0.05" widgettoprightx="-0.09090909090909091" widgettoprighty="0.05" widgetbottomleftx="1.5" widgetbottomlefty="0" widgetbottomrightx="-0.09090909090909091" widgetbottomrighty="0">
                    <img id="u423p002_img" class="img " src="Img/iconssteps/u423p002.svg">
                </div>
                <div id="u423_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <div id="u424" class="compound ax_default line" data-height="1" data-width="35" compoundmode="true">
                <img id="u424_img" class="singleImg img " src="Img/iconssteps/u423.svg">
                <div id="u424p000" class="ax_vector_shape" widgettopleftx="-0.425" widgettoplefty="-0.16666666666666666" widgettoprightx="0.45" widgettoprighty="-0.16666666666666666" widgetbottomleftx="-0.425" widgetbottomlefty="0" widgetbottomrightx="0.45" widgetbottomrighty="0">
                    <img id="u424p000_img" class="img " src="Img/iconssteps/u424p000.svg">
                </div>
                <div id="u424p001" class="ax_vector_shape" widgettopleftx="-0.25" widgettoplefty="-0.5" widgettoprightx="8.5" widgettoprighty="-0.5" widgetbottomleftx="-0.25" widgetbottomlefty="0" widgetbottomrightx="8.5" widgetbottomrighty="0">
                    <img id="u424p001_img" class="img " src="Img/iconssteps/u424p001.svg">
                </div>
                <div id="u424p002" class="ax_vector_shape" widgettopleftx="1.5454545454545454" widgettoplefty="0" widgettoprightx="-0.045454545454545456" widgettoprighty="0" widgetbottomleftx="1.5454545454545454" widgetbottomlefty="-0.05" widgetbottomrightx="-0.045454545454545456" widgetbottomrighty="-0.05">
                    <img id="u424p002_img" class="img " src="Img/iconssteps/u424p002.svg">
                </div>
                <div id="u424_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <div id="u425" class="compound ax_default line" data-height="1" data-width="35" compoundmode="true">
                <img id="u425_img" class="singleImg img " src="Img/iconssteps/u423.svg">
                <div id="u425p000" class="ax_vector_shape" widgettopleftx="-0.45" widgettoplefty="0" widgettoprightx="0.425" widgettoprighty="0" widgetbottomleftx="-0.45" widgetbottomlefty="0.16666666666666666" widgetbottomrightx="0.425" widgetbottomrighty="0.16666666666666666">
                    <img id="u425p000_img" class="img " src="Img/iconssteps/u425p000.svg">
                </div>
                <div id="u425p001" class="ax_vector_shape" widgettopleftx="0" widgettoplefty="-0.25" widgettoprightx="8.75" widgettoprighty="-0.25" widgetbottomleftx="0" widgetbottomlefty="0" widgetbottomrightx="8.75" widgetbottomrighty="0">
                    <img id="u425p001_img" class="img " src="Img/iconssteps/u425p001.svg">
                </div>
                <div id="u425p002" class="ax_vector_shape" widgettopleftx="1.5" widgettoplefty="0.05" widgettoprightx="-0.09090909090909091" widgettoprighty="0.05" widgetbottomleftx="1.5" widgetbottomlefty="0" widgetbottomrightx="-0.09090909090909091" widgetbottomrighty="0">
                    <img id="u425p002_img" class="img " src="Img/iconssteps/u425p002.svg">
                </div>
                <div id="u425_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>
    </div>




    <!--inicio tabs-->
    <div class="form-group clearfix">
        <div class="row">
            <div class="col-sm-12 tabs radio radio-primary">
                <ul class="nav nav-tabs tabsFiltro">
                    <li tabindex="0" class="{{$index == 1 ? 'active' : ''}}"
                        ng-repeat="tipo in vm.listaTipoEntidad">
                        <a data-toggle="tab" ng-click="vm.cambioTipoEntidad(tipo.Nombre)"
                           ng-disabled="{{tipo.Deshabilitado}}" ng-if="!tipo.Deshabilitado"
                           llamar-funcion-con-tecla="vm.cambioTipoEntidad(tipo.Nombre)">
                            {{tipo.Descripcion}}
                        </a>
                        <a ng-if="tipo.Deshabilitado" class="disabled" disabled>{{tipo.Descripcion}}</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <p class="mis-procesos-titulo-totales">Proyectos / {{vm.tipoEntidad}}. Total: {{ vm.cantidadDeProyectos }}</p>
                </div>
                <div class="row rowbotonesicoDNP">

                    <div class="col-md-12 text-right nopadding">
                        <button class="btnaccion" tooltip-class="customClass" uib-tooltip="Limpiar" ng-click="vm.restablecerBusqueda()">
                            <span> <img id="icoLimpiarBusqueda" class="icoBusquedasDNP" src="Img/IcolimpiarBusqD.svg"></span>
                        </button>
                        <button tooltip-class="customClass" uib-tooltip="Buscar" class="btnicobuscarDNP" type="button" data-toggle="collapse" data-target="#IdPanelBuscador" ng-click="vm.conmutadorFiltro()">
                            <span> <img id="arrow-IdPanelBuscador" class="icoBusquedas2DNP glyphicon-chevron-down-busqDNP" src="Img/IcoBusqUp.svg" data-toggle="collapse" data-target="#IdPanelBuscador"></span>
                        </button>
                        <button class="btnaccion" ng-click="vm.downloadPdf()">
                            <span> <img class="icoBusquedasDNP" src="Img/etapas/u1089.svg"></span>
                        </button>
                        <button class="btnaccion" ng-click="vm.downloadExcel()">
                            <span> <img class="icoBusquedasDNP" src="Img/etapas/u1090.svg"></span>
                        </button>
                    </div>
                </div>
                <!--<span class="buttonbar pull-right">
                    <img src="Img/etapas/u702.svg" class="imgMisProcesosAcciones" ng-click="vm.conmutadorFiltro()" uib-tooltip="Filtro" />
                    <img src="Img/etapas/u1089.svg" class="imgMisProcesosAcciones" ng-click="vm.downloadPdf()" uib-tooltip="Exportar PDF" />
                    <img src="Img/etapas/u1090.svg" class="imgMisProcesosAcciones" ng-click="vm.downloadExcel()" uib-tooltip="Exportar XLS" />
                </span>-->
            </div>
        </div>

        <!--inicio filtro-->
        <br />
        <div class="row panelbuscadorDNP collapse" id="IdPanelBuscador">

            <div class="row">
                <div class="col-md-1">
                    <div class="labelbuscadorDNP"> <span>ID <img id="u1275_img" class="imgTituloAccion " src="Img/u1275.svg"></span></div>
                    <input type="text" ng-model="vm.proyectoFiltro.identificador" name="txtIdentificador"
                           id="txtIdentificador" class="form-control InputBuscadorDNP" />
                </div>
                <div class="col-md-2">
                    <div class="labelbuscadorDNP"> <span>BPIN <img id="u1275_img" class="imgTituloAccion " src="Img/u1275.svg"></span></div>
                    <input type="text" class="form-control InputBuscadorDNP" ng-model="vm.proyectoFiltro.bpin" numbers-only name="txtBpin" id="txtBpin" />
                </div>
                <div class="col-md-5">
                    <div class="labelbuscadorDNP"> <span>Nombre proyecto</span></div>
                    <input type="text" class="form-control InputBuscadorDNP" placeholder="Escriba palabra o frase" ng-model="vm.proyectoFiltro.nombre" name="txtNombreFlujo"
                           id="txtNombreFlujo" />
                </div>
                <!--<div class="col-md-2">
                    <div class="labelbuscadorDNP"> <span>Estado del Proyecto</span></div>
                    <select class="form-control selectDNP" ng-model="vm.proyectoFiltro.estadoProyectoId"
                            ng-options="x.Id as x.Estado for x in vm.listaFiltroEstadoProyectos"
                            name="ddlEstadoDelProyecto" id="ddlEstadoDelProyecto">
                        <option value="" selected>Seleccione...</option>
                    </select>
                </div>-->
                <div class="col-md-4">
                    <div class="labelbuscadorDNP"> <span>Sector proyecto</span></div>
                    <select class="form-control selectDNP" ng-model="vm.proyectoFiltro.sectorId"
                            ng-options="x.Id as x.Name for x in vm.listaFiltroSectores" name="ddlSector" id="ddlSector">
                        <option value="" selected>Seleccione...</option>
                    </select>
                </div>
            </div>

            <div class="" style="height:20px">
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="labelbuscadorDNP"> <span>Código proceso</span></div>
                    <input type="text" class="form-control InputBuscadorDNP" ng-model="vm.proyectoFiltro.codigoProceso" name="txtCodigoProceso" id="txtCodigoProceso" />
                </div>
                <div class="col-md-3">
                    <div class="labelbuscadorDNP"> <span>Nombre proceso</span></div>
                    <input type="text" class="form-control InputBuscadorDNP" placeholder="Escriba palabra o frase" ng-model="vm.proyectoFiltro.nombreFlujo" />
                </div>
                <div class="col-md-3">
                    <div class="labelbuscadorDNP"> <span>Nombre paso actual</span></div>
                    <input type="text" class="form-control InputBuscadorDNP" placeholder="Escriba palabra o frase" ng-model="vm.proyectoFiltro.accionFlujo" />
                </div>
                <div class="col-md-4 SelectBuscadorDNP">
                    <div class="labelbuscadorDNP"> <span>Entidad encargada de paso actual</span></div>
                    <select class="form-control selectDNP" chosen options="vm.listaFiltroEntidades" ng-model="vm.proyectoFiltro.entidadId"
                            ng-options="x.EntityTypeCatalogOptionId as x.Nombre for x in vm.listaFiltroEntidades" name="ddlEntidad" id="ddlEntidad" no-results-text="No hay ningún resultado para su búsqueda"
                            placeholder-text-single="Entidades">
                        <option value="" selected>Seleccione...</option>
                    </select>
                </div>
            </div>
            <div class="" style="height:20px">
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="labelbuscadorDNP"> <span>Estado del proyecto</span></div>
                    <select class="form-control selectDNP" ng-model="vm.proyectoFiltro.estadoProyectoId"
                            ng-options="x.Id as x.Estado for x in vm.listaFiltroEstadoProyectos" name="ddlEstadoProyecto" id="ddlEstadoProyecto">
                        <option value="" selected>Seleccione...</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 pull-left text-left" ng-if="vm.BusquedaRealizada">
                    <span class="spanresultadobusquedaDNP pull-left" ng-if="vm.cantidadDeProyectos > 0">
                        Se encontraron ({{vm.cantidadDeProyectos}}) resultados.
                    </span>
                    <span class="spanresultadobusqueda2DNP pull-left" style="margin-top: 0px;" ng-if="vm.cantidadDeProyectos == 0">
                        No se encontraron resultados.
                    </span>
                </div>
                <div class="col-md-6 pull-right text-right">
                    <span class="pull-right">
                        <button type="button" class=" btnBuscarDNP " tooltip-class="customClass" uib-tooltip="Buscar" ng-click="vm.buscar()">
                            BUSCAR
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <!--<div class="filtro" >
            <div class="clearfix">
                <div class="row">
                    <div class="col-md-10">
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroIdentificador">
                            <input type="text" ng-model="vm.proyectoFiltro.identificador" name="txtIdentificador"
                                   id="txtIdentificador" class="form-control" placeholder="Identificador" />
                        </div>
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroBpin">
                            <input type="text" ng-model="vm.proyectoFiltro.bpin" numbers-only
                                   ng-model="vm.FiltroBpin" name="txtBpin" id="txtBpin" class="form-control"
                                   placeholder="BPIN" />
                        </div>
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroNombre">
                            <input type="text" ng-model="vm.proyectoFiltro.nombre" name="txtNombreFlujo"
                                   id="txtNombreFlujo" class="form-control" placeholder="Nombre Proyecto" />
                        </div>



                        <div class="col-md-3" ng-if="vm.puedeVerFiltroSector">
                            <select ng-model="vm.proyectoFiltro.sectorId"
                                    ng-options="x.Id as x.Name for x in vm.listaFiltroSectores" name="ddlSector"
                                    id="ddlSector" class="form-control">
                                <option value="" selected>Sector del Proyecto</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-3" ng-if="vm.puedeVerFiltroEntidad">
                                <select chosen options="vm.listaFiltroEntidades"
                                        ng-model="vm.proyectoFiltro.entidadId"
                                        ng-options="x.Id as x.Name for x in vm.listaFiltroEntidades" name="ddlEntidad"
                                        id="ddlEntidad" no-results-text="No hay ningún resultado para su búsqueda"
                                        placeholder-text-single="Entidades" class="form-control">
                                    <option value="" selected>Entidad</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroIdentificadorCR">
                            <input type="text" ng-model="vm.proyectoFiltro.identificadorCR"
                                   name="txtIdentificadorCR" id="txtIdentificadorCR" class="form-control"
                                   placeholder="Identificador CR" />
                        </div>

                        <div class="col-md-3" ng-if="vm.puedeVerFiltroAnoInicio">
                            <input type="text" numbers-only ng-model="vm.proyectoFiltro.horizonteInicio"
                                   maxlength="4" name="txtAnoInicio" id="txtAnoInicio" class="form-control"
                                   placeholder="Año Inicio" />
                        </div>
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroAnoFin">
                            <input type="text" numbers-only ng-model="vm.proyectoFiltro.horizonteFin" maxlength="4"
                                   name="txtAnoFinal" id="txtAnoFinal" class="form-control" placeholder="Año Final" />
                        </div>
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroPrioridad">
                            <select ng-model="vm.proyectoFiltro.prioridad"
                                    ng-options="x.Id as x.Name for x in vm.listaFiltroPrioridades" name="ddlPrioridad"
                                    id="ddlPrioridad" class="form-control">
                                <option value="" selected>Prioridad</option>
                            </select>
                        </div>
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroEstadoProyecto">
                            <select ng-model="vm.proyectoFiltro.estadoProyectoId"
                                    ng-options="x.Id as x.Estado for x in vm.listaFiltroEstadoProyectos"
                                    name="ddlEstadoDelProyecto" id="ddlEstadoDelProyecto" class="form-control">
                                <option value="" selected>Estado del Proyecto</option>
                            </select>
                        </div>
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroAccionFlujo">
                            <input type="text" ng-model="vm.proyectoFiltro.accionFlujo" class="form-control"
                                   placeholder="Accion Flujo" />
                        </div>
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroNombreFlujo">
                            <input type="text" ng-model="vm.proyectoFiltro.nombreFlujo" class="form-control"
                                   placeholder="Nombre Flujo" />
                        </div>
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroEstadoInstancia">
                            <select ng-model="vm.proyectoFiltro.estadoInstanciaId"
                                    ng-options="x.Id as x.Estado for x in vm.listaFiltroEstadoInstancias"
                                    name="ddlEstadoInstancia" id="ddlEstadoInstancia" class="form-control">
                                <option value="" selected>Estado</option>
                            </select>
                        </div>
                        <div class="col-md-3" ng-if="vm.puedeVerFiltroNombreFlujo">
                            <select ng-model="vm.proyectoFiltro.procesoId"
                                    ng-options="x.NivelId as x.Nombre for x in vm.listaProcesos"
                                    name="ddlMacroproceso" id="ddlMacroproceso" class="form-control">
                                <option value="" selected>Proceso</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2 text-right">
                        <button type="button" class="btn btn-filtro" ng-click="vm.buscar()" tooltip-placement="auto"
                                uib-tooltip="Buscar">
                            Buscar
                        </button>
                        <button type="button" class="btn btn-filtro" ng-click="vm.limpiarCamposFiltro()"
                                tooltip-placement="auto" uib-tooltip="Limpiar">
                            Limpiar
                        </button>
                    </div>
                </div>

            </div>
        </div>-->
        <!--fim filtro-->
    </div>
    <br />
    <!--fim tabs-->
    <!--inicio grid-->
    <!--<div class="row grid-proyectos">
        <div class="col-md-12">
            <div class="container-table" ui-i18n="{{vm.lang}}" id="proyecto-grid-container">

                <div ng-if="vm.filasFiltradas" class="clearfix grid-icon" id="uigprojecto" ui-grid="vm.gridOptions"
                     ui-grid-resize-columns ui-grid-pagination ui-grid-expandable>
                </div>

                <div class="text-center intro-help  min-mh no-result-watermark"
                     ng-if="!vm.tipoEntidad && !vm.filasFiltradas">
                    <h4>{{ 'Buscando resultados' }} </h4>
                </div>

                <div class="text-center intro-help  min-mh no-result-watermark"
                     ng-if="vm.tipoEntidad && !vm.filasFiltradas">
                    <h4>
                        {{ 'No hay ningún resultado para su búsqueda por el tipo de entidad' }} {{ vm.tipoEntidad }}
                    </h4>
                </div>
            </div>
        </div>
        <div ng-if="vm.mostrarMensajeProyectos" ng-cloak>
            <div class="text-center intro-help no-result-watermark">
                <img src="Img/image-help.png" alt="Sin resultados">
                <h2 id="idLabelMensajeResultados">{{vm.Mensaje}}</h2>
            </div>
        </div>
    </div>-->
    <!-- </div> -->
    <!--Inicio Nueva Grilla-->
    <div class="row">
        <div class="" style="padding: 0 !important" ng-repeat="entidad in vm.listaEntidades | orderBy:'sector'">
            <div class="alert panel-headingAccDNP">
                <div class="card card-body pull-left  divAccordionDNP">
                    <span class="uLabelCampo">{{entidad.sector}}</span> - {{entidad.entidad}}
                    <p class="panelbtnalertAcordnp">
                        <button class="btnaccion btnAccordionDNP" type="button" data-toggle="collapse" data-target="#obj_{{entidad.idEntidad}}" ng-click="vm.AbrilNivel(entidad.idEntidad)">
                            <img ng-show="entidad.estadoEntidad == '+'" src="Img/btnMas.svg">
                            <img ng-show="entidad.estadoEntidad == '-'" src="Img/btnMenos.svg">
                        </button>
                    </p>
                </div>
            </div>
            <br />
            <div class="collapse" id="obj_{{entidad.idEntidad}}" style="margin-top: -20px;">
                <div class="LineaEncabezadodivDNP"></div>
                <div class="row">
                    <h3 class="tituloEncabezadodivDNP">
                        Procesos pendientes: {{entidad.subGridOptions.data.length}}
                    </h3>
                </div>

                <div class="row" style="margin: 0px 0px 0px 0px;">
                    <div class="col-md-12 ">

                        <table class="TableDNP">
                            <thead>
                                <tr>
                                    <th class="columAcc"></th>
                                    <th class="textLeftDNP">ID / BPIN / Estado / Sector</th>
                                    <th class="textLeftDNP">Nombre del proyecto</th>
                                    <th class="textLeftDNP">Proceso / Código / Estado / Fecha inicio</th>
                                    <th class="textLeftDNP">Paso actual / Fecha inicio / Entidad / Asignado a / Cumple</th>
                                    <th class="columAcc"></th>
                                    <th class="columAcc"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="datos in entidad.subGridOptions.data | orderBy:'-FechaCreacion'">
                                    <td></td>
                                    <td class="textLeftDNP">
                                        <p style="margin:0">
                                            {{datos.ProyectoId}}
                                        </p>
                                        <p style="margin:0; font-weight:600">{{datos.IdObjetoNegocio}}</p>
                                        <p style="margin:0">
                                            {{datos.EstadoProyecto}}
                                        </p>
                                        <p style="margin:0; font-weight:600">{{datos.SectorNombre}}</p>
                                    </td>
                                    <td class="textLeftDNP">{{datos.NombreObjetoNegocio}}</td>
                                    <td class="textLeftDNP">
                                        <a href="#" ng-if="datos.IdRol === vm.IdRolTecnico" ng-click="vm.consultarAccion(datos.IdInstancia, datos.NombreObjetoNegocio, datos.IdObjetoNegocio, datos.IdEntidad, datos.NombreFlujo, datos)">
                                            {{datos.NombreFlujo}}
                                        </a>
                                        <p ng-if="datos.IdRol !== vm.IdRolTecnico" style="margin:0;">
                                            {{datos.NombreFlujo}}
                                        </p>
                                        <p style="margin:0; font-weight:600">
                                            {{datos.CodigoProceso}}
                                        </p>
                                        <p style="margin:0">
                                            {{datos.EstadoInstancia}}
                                        </p>
                                        <p style="margin:0; font-weight:600">
                                            {{datos.FechaCreacion | date:'dd-MM-yyyy HH:mm:ss'}}
                                        </p>
                                        <a href="#" ng-click="vm.consultarAccion(datos.InstanciaPadreId, datos.NombreObjetoNegocio, datos.CodigoTramite, datos.IdEntidad, null, null)">
                                            {{datos.CodigoTramite}}
                                        </a>
                                    </td>
                                    <td class="textLeftDNP">
                                        <p style="margin:0">
                                            {{datos.NombreAccion}} /
                                        </p>
                                        <p style="margin:0; font-weight:600">
                                            {{datos.FechaPaso | date:'dd-MM-yyyy HH:mm:ss'}} /
                                        </p>
                                        <p style="margin:0">
                                            {{datos.NombreEntidad}}
                                        </p>
                                        <p style="margin:0" ng-bind-html="datos.AsignadoA"></p>
                                        <p style="margin:0" ng-bind-html="datos.Cumple"></p>
                                    </td>
                                    <td>
                                        <a>
                                            <img src="Img/etapas/u1760.svg" uib-tooltip="Ver historial" ng-click="vm.abrirLogInstancias(datos)" />
                                        </a>
                                    </td>
                                    <td ng-if="datos.UsuarioEncargadoOcadPazId === null">
                                        <a>
                                            <img src="Img/icoUser.svg" uib-tooltip="Asignar técnico" ng-click="vm.abrirAsignacionTecnico(datos)" />
                                        </a>
                                    </td>
                                    <td ng-if="datos.UsuarioEncargadoOcadPazId !== null">
                                        <a>
                                            <img src="Img/icoUser.svg" uib-tooltip="Re asignar técnico" ng-click="vm.abrirAsignacionTecnico(datos)" />
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Fin Nueva Grilla-->
</div>
<link href="/Content/ui-gridConsolaDNP.css" rel="stylesheet" />
