<section>
    <div class="container-fluid inbox" ng-init="vm.init();">
        <div class="tab-content">
            <div class="ui-accordion-container hidden" id="accordion-focalizacionpolsgppoliticastransvsintramitesgp">
                <div class="alert panel-heading row ui-accordion-header">
                    <button type="button" data-toggle="collapse" data-target="#focalizacionpolsgppoliticastransvsintramitesgp-1" ng-click="vm.changeArrow('focalizacionpolsgppoliticastransvsintramitesgp-1')">
                        <span class="d-inline-block" id="alert-focalizacionpolsgppoliticastransvsintramitesgp-1"></span>
                        <span id="name-capitulo-focalizacionpolsgppoliticastransvsintramitesgp"></span>
                        <span class="hidden" id="id-capitulo-focalizacionpolsgppoliticastransvsintramitesgp "></span>
                        <span id="arrow-focalizacionpolsgppoliticastransvsintramitesgp-1" class="glyphicon-chevron-down glyphicon pull-right" data-toggle="collapse" data-target="#focalizacionpolsgppoliticastransvsintramitesgp-1"></span>
                    </button>
                </div>
                <div class="collapse" id="focalizacionpolsgppoliticastransvsintramitesgp-1">
                    <div class="row m-0 mb-3">
                        <politicas-Transversales-Sin-Tramite-Sgp guardadoevent="vm.guardado(nombreComponenteHijo)"
                                                                 notificacioncambios="vm.notificacionCambiosCapitulosExternos(handler, nombreComponente)"
                                                                 notificacionestado="vm.notificacionEstado(nombreComponente, esValido)"
                                                                 notificacionvalidacion="vm.notificacionValidacionHijos(handler, nombreComponente)"></politicas-Transversales-Sin-Tramite-Sgp>
                    </div>
                </div>
            </div>

            <div class="ui-accordion-container hidden" id="accordion-focalizacionpolsgpcategoriapoliticassintramitesgp">
                <div class="alert panel-heading row ui-accordion-header">
                    <button type="button" data-toggle="collapse" data-target="#focalizacionpolsgpcategoriapoliticassintramitesgp-1" ng-click="vm.changeArrow('focalizacionpolsgpcategoriapoliticassintramitesgp-1')">
                        <span class="d-inline-block" id="alert-focalizacionpolsgpcategoriapoliticassintramitesgp-1"></span>
                        <span id="name-capitulo-focalizacionpolsgpcategoriapoliticassintramitesgp"></span>
                        <span class="hidden" id="id-capitulo-focalizacionpolsgpcategoriapoliticassintramitesgp"></span>
                        <span id="arrow-focalizacionpolsgpcategoriapoliticassintramitesgp-1" class="glyphicon-chevron-down glyphicon pull-right" data-toggle="collapse" data-target="#focalizacionpolsgpcategoriapoliticassintramitesgp-1"></span>
                    </button>
                </div>
                <div class="collapse" id="focalizacionpolsgpcategoriapoliticassintramitesgp-1">
                    <div class="row m-0 mb-3">
                        <resumen-focalizacion-Sin-Tramite-Sgp guardadoevent="vm.guardado(nombreComponenteHijo)"
                                                              notificacioncambios="vm.notificacionCambiosCapitulosExternos(handler, nombreComponente)"
                                                              notificacionestado="vm.notificacionEstado(nombreComponente, esValido)"
                                                              notificacionvalidacion="vm.notificacionValidacionHijos(handler, nombreComponente)"></resumen-focalizacion-Sin-Tramite-Sgp>
                    </div>
                </div>
            </div>

            <div class="ui-accordion-container hidden" id="accordion-focalizacionpolsgpcrucepoliticassintramitesgp">
                <div class="alert panel-heading row ui-accordion-header">
                    <button type="button" data-toggle="collapse" data-target="#focalizacionpolsgpcrucepoliticassintramitesgp-1" ng-click="vm.changeArrow('focalizacionpolsgpcrucepoliticassintramitesgp-1')">
                        <span class="d-inline-block" id="alert-focalizacionpolsgpcrucepoliticassintramitesgp-1"></span>
                        <span id="name-capitulo-focalizacionpolsgpcrucepoliticassintramitesgp"></span>
                        <span class="hidden" id="id-capitulo-focalizacionpolsgpcrucepoliticassintramitesgp"></span>
                        <span id="arrow-focalizacionpolsgpcrucepoliticassintramitesgp-1" class="glyphicon-chevron-down glyphicon pull-right" data-toggle="collapse" data-target="#focalizacionpolsgpcrucepoliticassintramitesgp-1"></span>
                    </button>
                </div>
                <div class="collapse" id="focalizacionpolsgpcrucepoliticassintramitesgp-1">
                    <div class="row m-0 mb-3">
                        <cruce-Politicas-Sin-Tramite-Sgp guardadoevent="vm.guardado(nombreComponenteHijo)"
                                                         notificacioncambios="vm.notificacionCambiosCapitulosExternos(handler, nombreComponente)"
                                                         notificacionestado="vm.notificacionEstado(nombreComponente, esValido)"
                                                         notificacionvalidacion="vm.notificacionValidacionHijos(handler, nombreComponente)"></cruce-Politicas-Sin-Tramite-Sgp>
                    </div>
                </div>
            </div>

            <div class="ui-accordion-container hidden" id="accordion-focalizacionpolsgpresumendefocalisintramitesgp">
                <div class="alert panel-heading row ui-accordion-header">
                    <button type="button" data-toggle="collapse" data-target="#focalizacionpolsgpresumendefocalisintramitesgp-1" ng-click="vm.changeArrow('focalizacionpolsgpresumendefocalisintramitesgp-1')">
                        <span class="d-inline-block" id="alert-focalizacionpolsgpresumendefocalisintramitesgp-1"></span>
                        <span id="name-capitulo-focalizacionpolsgpresumendefocalisintramitesgp"></span>
                        <span class="hidden" id="id-capitulo-focalizacionpolsgpresumendefocalisintramitesgp"></span>
                        <span id="arrow-focalizacionpolsgpresumendefocalisintramitesgp-1" class="glyphicon-chevron-down glyphicon pull-right" data-toggle="collapse" data-target="#focalizacionpolsgpresumendefocalisintramitesgp-1"></span>
                    </button>
                </div>
                <div class="collapse" id="focalizacionpolsgpresumendefocalisintramitesgp-1">
                    <div class="row m-0 mb-3">
                        <span>
                            <resumen-Sin-Tramite-Sgp guardadoevent="vm.guardado(nombreComponenteHijo)"
                                                     notificacioncambios="vm.notificacionCambiosCapitulosExternos(handler, nombreComponente)"
                                                     notificacionestado="vm.notificacionEstado(nombreComponente, esValido)"
                                                     notificacionvalidacion="vm.notificacionValidacionHijos(handler, nombreComponente)"></resumen>
                        </span>
                    </div>
                </div>
            </div>

            <!--<div class="ui-accordion-container hidden" id="accordion-focalizacionpolSolicitarConAju">
        <div class="alert panel-heading row ui-accordion-header">
            <button type="button" data-toggle="collapse" data-target="#focalizacionpolSolicitarConAju-1" ng-click="vm.changeArrow('focalizacionpolSolicitarConAju-1')">
                <span class="d-inline-block" id="alert-focalizacionpolSolicitarConAju-1"></span>
                <span id="name-capitulo-focalizacionpolSolicitarConAju"></span>
                <span class="hidden" id="id-capitulo-focalizacionpolSolicitarConAju"></span>
                <span id="arrow-focalizacionpolSolicitarConAju-1" class="glyphicon-chevron-down glyphicon pull-right" data-toggle="collapse" data-target="#focalizacionpolSolicitarConAju-1"></span>
            </button>
        </div>
        <div class="collapse" id="focalizacionpolSolicitarConAju-1">
            <div class="row m-0 mb-3">
                <span>
                    <focalizacionconcepto-Sin-Tramite-Sgp guardadoevent="vm.guardado(nombreComponenteHijo)"
                                                   notificacioncambios="vm.notificacionCambiosCapitulosExternos(handler, nombreComponente)"
                                                   notificacionestado="vm.notificacionEstado(nombreComponente, esValido)"
                                                   notificacionvalidacion="vm.notificacionValidacionHijos(handler, nombreComponente)"></focalizacionconcepto-Sin-Tramite-Sgp>
                </span>
            </div>
        </div>
    </div>-->

        </div>
    </div>
</section>