<section>
    <div class="container-fluid inbox" ng-init="vm.init();">
        <div class="tab-content">
            <div class="ui-accordion-container hidden" id="accordion-proyectodatosadicionpordonacion">
                <div class="alert panel-heading row ui-accordion-header" style="width: 1280px;">
                    <button class="button" type="button" data-toggle="collapse" data-target="#proyectodatosadicionpordonacion" ng-click="vm.changeArrow('proyectodatosadicionpordonacion')">
                        <span class="d-inline-block" id="alert-proyectodatosadicionpordonacion"></span>
                        <span id="name-capitulo-proyectodatosadicionpordonacion"></span>
                        <span class="hidden" id="id-capitulo-proyectodatosadicionpordonacion"></span>
                        <span id="arrow-proyectodatosadicionpordonacion" class="glyphicon-chevron-down glyphicon pull-right" data-toggle="collapse" data-target="#proyectodatosadicionpordonacion"></span>
                    </button>
                </div>
                <div class="collapse" id="proyectodatosadicionpordonacion" style="padding-right: 15px; padding-left: 0px; margin-left: -15px;">
                    <div class="row" style="margin-left:20px" ng-if="!vm.mostrar">                        
                        <datos-adicion-donacion tramiteid="{{vm.tramiteid}}"
                                                guardadoevent="vm.guardado(nombreComponenteHijo)"
                                                notificacionestado="vm.notificacionEstado(nombreComponente, esValido)"
                                                notificacionvalidacion="vm.notificacionValidacionHijos(handler, nombreComponente)"
                                                callback="vm.notificarGuardado(botonDevolver, botonSiguiente, ocultarDevolver)">
                        </datos-adicion-donacion>
                    </div>

                </div>
            </div>

            <div class="ui-accordion-container hidden" id="accordion-proyectoasociarproyecto">

                <div class="alert panel-heading row ui-accordion-header" style="width: 1280px;">
                    <button class="button" type="button" data-toggle="collapse" data-target="#proyectoasociarproyecto" ng-click="vm.changeArrow('proyectoasociarproyecto')">
                        <span class="d-inline-block" id="alert-proyectoasociarproyecto"></span>
                        <span id="name-capitulo-proyectoasociarproyecto"></span>
                        <span class="hidden" id="id-capitulo-proyectoasociarproyecto"></span>
                        <span id="arrow-proyectoasociarproyecto" class="glyphicon-chevron-down glyphicon pull-right" data-toggle="collapse" data-target="#proyectoasociarproyecto"></span>
                    </button>
                </div>
                <div class="collapse" id="proyectoasociarproyecto" style="padding-right: 15px; padding-left: 0px; margin-left: -15px; width: 1270px;">
                    <div class="row" style="margin-left:20px">
                        <asociar-proyectos-un-tipo-formulario tramiteid="{{vm.tramiteid}}"
                                                              tipotramiteid="{{vm.tipotramiteid}}"
                                                              nombrecomponentepaso="{{vm.handlerComponentes[1].componente}}"
                                                              guardadoevent="vm.guardado(nombreComponenteHijo)"
                                                              notificacionestado="vm.notificacionEstado(nombreComponente, esValido)"
                                                              notificacionvalidacion="vm.notificacionValidacionHijos(handler, nombreComponente)"
                                                              callback="vm.notificarGuardado(botonDevolver, botonSiguiente, ocultarDevolver)"
                                                              deshabilitarconcepto="vm.deshabilitarConcepto(estado)"
                                                              tipoaccion="D"
                                                              tipoconsulta=""
                                                              tipoproyecto="Credito">
                        </asociar-proyectos-un-tipo-formulario>
                    </div>

                </div>
            </div>

          



        </div>
    </div>
</section>