<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MGAWebContexto" connectionString="Data Source=tcp:sdb-piip-uatntc.database.windows.net,1433;Initial Catalog=DB-PIIP-UAT-MgaWeb;Persist Security Info=False;User ID=apppiip;Password=PIIPdnp2021+*;MultipleActiveResultSets=True;TrustServerCertificate=False;Connection Timeout=300;" providerName="System.Data.SqlClient" />
    <!--<add name="MGAWebContexto" connectionString="metadata=res://*/Modelo.ModeloMGAWeb.csdl|res://*/Modelo.ModeloMGAWeb.ssdl|res://*/Modelo.ModeloMGAWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:sdb-piip-dev.database.windows.net,1433;initial catalog=db-piip-dev-mgaweb;user id=webpiip;password=DNPpiip2016+*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ModelOnlySPEntities" connectionString="Server=tcp:sdb-piip-uatntc1.database.windows.net,1433;Initial Catalog=DB-PIIP-UAT-MgaWeb;Persist Security Info=False;User ID=apppiip;Password=PIIPdnp2021+*;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="IdAplicacionServicioNegocio" value="59FFD1E2-B9C5-4315-BD70-0C28007C6AC2" />

    <!--Application Insights-->
    <add key="InstrumentationKey" value="34e873d9-f8be-4010-8fbd-82cb1514ff29" />
    <add key="InstrumentationEnabled" value="true" />

    <!--End Points-->

    <!--<add key="ApiAutorizacion" value="http://localhost:10221/" />-->
    <!--<add key="ApiPiipCore" value="http://localhost:31573/" />-->
    <!--<add key="ApiCache" value="http://localhost:9130/" />-->

    <add key="ApiAuditoria" value="https://auditoriawebapi-dev.azurewebsites.net/" />
    <add key="ApiAutorizacion" value="https://autorizacionwebapi-dev.azurewebsites.net/" />
    <add key="ApiPiipCore" value="https://as-formularios-api-uat.azurewebsites.net/" />
    <add key="ApiCache" value="http://cacheentidadesnegociowebapi-dev.azurewebsites.net/" />

    <!--<add key="ApiAuditoria" value="https://auditoriawebapi-pr.azurewebsites.net/" />-->
    <!--<add key="ApiAutorizacion" value="https://autorizacionwebapi-pr.azurewebsites.net/"/>-->
    <!--<add key="ApiPiipCore" value="https://as-formularios-api-qa.azurewebsites.net/"/>-->
    <!--<add key="ApiCache" value="http://cacheentidadesnegociowebapi-qa.azurewebsites.net/"/>-->


    <!--Uris-->
    <add key="uriObtenerPermiso" value="api/Authorization/ObtenerPermiso" />
    <add key="uriObtenerProyecto" value="api/CacheEntidadesNegocio/Proyecto/?bpin={0}" />
    <add key="uriObtenerProyectosEntidad" value="api/CacheEntidadesNegocio/Proyectos/?idEntidad={0}" />
    <add key="uriGuardarProyectosEntidad" value="api/CacheEntidadesNegocio/Proyectos/?idEntidad={0}&amp;ttl={1}" />

    <add key="uriGuardarCatalogo" value="api/CacheEntidadesNegocio/Catalogos/{0}/?ttl={1}" />
    <add key="uriObtenerCatalogo" value="api/CacheEntidadesNegocio/Catalogos/{0}" />
    <add key="uriObtenerCatalogoPorId" value="api/CacheEntidadesNegocio/Catalogos/{0}/{1}/" />
    <add key="uriConsultarRelacionCatalogo" value="api/CacheEntidadesNegocio/Catalogos/{0}/{1}/{2}/" />
    <add key="uriGuardarCatalogoReferencia" value="api/CacheEntidadesNegocio/Catalogos/{0}/{1}/{2}/?ttl={3}" />

    <!--Tiempos (TTL) Catálogos Caché-->
    <add key="TTL_Entidades" value="24" />
    <add key="TTL_TiposEntidades" value="24" />
    <add key="TTL_Sectores" value="24" />
    <add key="TTL_Regiones" value="48" />
    <add key="TTL_Programas" value="48" />
    <add key="TTL_Resguardos" value="48" />
    <add key="TTL_Productos" value="48" />
    <add key="TTL_Alternativas" value="24" />
    <add key="TTL_TiposRecursos" value="48" />
    <add key="TTL_ClasificacionesRecursos" value="48" />
    <add key="TTL_Etapas" value="30" />
    <add key="TTL_Departamentos" value="30" />
    <add key="TTL_Municipios" value="30" />
    <add key="TTL_Proyectos" value="24" />

    <!--Métodos Autorización-->
    <add key="consultarFuenteFinanciacion" value="ConsultarFuenteFinanciacion" />
    <add key="previewFuenteFinanciacion" value="PreviewFuenteFinanciacion" />
    <add key="postFuenteFinanciacion" value="PostFuenteFinanciacion" />

    <add key="consultarProyecto" value="ConsultarProyecto" />
    <add key="previewProyecto" value="PreviewProyecto" />
    <add key="consultarProyectosPorEntidadesYEstados" value="ConsultarProyectosPorEntidadesYEstados" />

    <add key="ejecutarAccion" value="EjecutarAccion" />

    <add key="postProductoTemporal" value="PostProductoTemporal" />
    <add key="postProductoDefinitivo" value="PostProductoDefinitivo" />
    <add key="consultarProducto" value="ConsultarProducto" />
    <add key="previewProducto" value="PreviewProducto" />

    <add key="postCadenaValorTemporal" value="PostCadenaValorTemporal" />
    <add key="postCadenaValorDefinitivo" value="PostCadenaValorDefinitivo" />
    <add key="consultarCadenaValor" value="ConsultarCadenaValor" />
    <add key="previewCadenaValor" value="PreviewCadenaValor" />
    <add key="identificarEntidadDestinoTransferencias" value="IdentificarEntidadDestino" />

    <add key="postRegionalizacionTemporal" value="PostRegionalizacionTemporal" />
    <add key="postRegionalizacionDefinitivo" value="PostRegionalizacionDefinitivo" />
    <add key="consultarRegionalizacion" value="ConsultarRegionalizacion" />
    <add key="previewRegionalizacion" value="PreviewRegionalizacion" />

    <add key="consultarCatalogo" value="ConsultarCatalogo" />
    <add key="consultarCatalogoPorId" value="ConsultarCatalogoPorId" />
    <add key="consultarRelacionCatalogo" value="ConsultarRelacionCatalogo" />

    <add key="consultarDatosBasicosSGR" value="ConsultarDatosBasicosSGR" />
    <add key="previewDatosBasicosSGR" value="PreviewDatosBasicosSGR" />
    <add key="postDatosBasicosSGR" value="DefinitivoDatosBasicosSGR" />

    <add key="consultarFuentesFinanciacionAgregar" value="ConsultarFuentesFinanciacionAgregar" />
    <add key="previewFuentesFinanciacionAgregar" value="PreviewFuentesFinanciacionAgregar" />
    <add key="postFuentesFinanciacionAgregar" value="DefinitivoFuentesFinanciacionAgregar" />
    <add key="postFuentesFinanciacionAgregarTemporal" value="PostFuentesFinanciacionAgregarTemporal" />

    <add key="ObtenerDatosAdicionalesFuente" value="ObtenerDatosAdicionalesFuente" />
    <add key="postDatosAdicionalesAgregar" value="postDatosAdicionalesAgregar" />
    <add key="postDatosAdicionalesEliminar" value="postDatosAdicionalesEliminar" />


    <add key="consultarDevolverProyecto" value="ConsultarDevolverProyecto" />
    <add key="postDevolverProyecto" value="PostDevolverProyecto" />
    <add key="postDevolverProyectoTemporal" value="PostDevolverProyectoTemporal" />
	  
	<add key="consultarCofinanciacionAgregar" value="ConsultarCofinanciacionAgregar" />
	<add key="previewCofinanciacionAgregar" value="PreviewCofinanciacionAgregar" />
	<add key="postCofinanciacionAgregarDefinitivo" value="PostCofinanciacionAgregarDefinitivo" />
	<add key="postCofinanciacionAgregarTemporal" value="PostCofinanciacionAgregarTemporal" />

    <!--Otros-->
    <add key="UsuarioGenericoServiciosNegocio" value="UsuarioServiciosNegocio" />
    <add key="idAdministracionEnAutorizaciones" value="AP:PIIP" />
    <add key="idObtenerFuenteFinanciacion" value="FuenteFinanciacionProyecto" />
    <add key="idObtenerProyecto" value="Proyecto" />
    <add key="idObtenerProducto" value="Producto" />
    <!--<add key="idObtenerPreguntas" value="Preguntas"/>-->
    <!--<add key="idObtenerRequisitos" value="Requisitos"/>-->
    <add key="idObtenerEntidadesAcciones" value="EntidadesAcciones" />

    <add key="ConsultarPreguntas" value="ConsultarPreguntas" />
    <add key="PreviewPreguntas" value="PreviewPreguntas" />
    <add key="DefinitivoPreguntas" value="DefinitivoPreguntas" />
    <add key="TemporalPreguntas" value="TemporalPreguntas" />
    <add key="ConsultarRequisitos" value="ConsultarRequisitos" />
    <add key="DefinitivoRequisitos" value="DefinitivoRequisitos" />
	<add key="consultarAlcance" value="ConsultarAlcance" />
	<add key="previewAlcance" value="PreviewAlcance" />
	<add key="postAlcanceDefinitivo" value="PostAlcanceDefinitivo" />
	<add key="postAlcanceTemporal" value="PostAlcanceTemporal" />
	<add key="consultarAgregarPoliticasJerarquia" value="consultarAgregarPoliticasJerarquia" />
	<add key="previewAgregarPoliticasJerarquia" value="previewAgregarPoliticasJerarquia" />
	<add key="postAgregarPoliticasJerarquia" value="postAgregarPoliticasJerarquia" />
	<add key="postAgregarPoliticasJerarquiaTemporal" value="postAgregarPoliticasJerarquiaTemporal" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
