<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
			type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			requirePermission="false"/>
  </configSections>
  <appSettings>
    <!--<add key="DominioMgaWeb" value="https://mgapiipntc.azurewebsites.net/"/>-->
    <add key="DominioMgaWeb" value="https://mgasgrtest.azurewebsites.net/"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="IdAplicacionServicioNegocio" value="59FFD1E2-B9C5-4315-BD70-0C28007C6AC2"/>
    <!--Application Insights-->
    <add key="InstrumentationKey" value="a278ffeb-b400-4bca-9027-5011a242ffd8"/>
    <add key="InstrumentationEnabled" value="true"/>
    <!--End Points-->
    <!--<add key="ApiAutorizacion" value="http://localhost:10221/" />-->
    <!--<add key="ApiPiipCore" value="http://localhost:31573/" />-->
    <add key="ApiCache" value="https://cacheentidadesnegociowebapi-ntdev.azurewebsites.net/"/>
    <add key="ApiAuditoria" value="https://as-auditoria-api-ntdev.azurewebsites.net/"/>
    <add key="ApiAutorizacion" value="https://as-autorizacion-api-ntdev.azurewebsites.net/"/>
    <add key="ApiPiipCore" value="https://as-formularios-api-ntcdev.azurewebsites.net/"/>
    <!--<add key="ApiCache" value="http://cacheentidadesnegociowebapi-uat.azurewebsites.net/"/>-->
    <!--<add key="ApiAuditoria" value="https://auditoriawebapi-pr.azurewebsites.net/" />
    <add key="ApiAutorizacion" value="https://autorizacionwebapi-pr.azurewebsites.net/"/>
    <add key="ApiPiipCore" value="https://as-formularios-api-qa.azurewebsites.net/"/>
    <add key="ApiCache" value="http://cacheentidadesnegociowebapi-qa.azurewebsites.net/"/>-->
    <add key="ApiManejadorArchivos" value="https://as-manejadorarchivos-api-ntdev.azurewebsites.net/"/>
    <!--Uris-->
    <add key="uriObtenerPermiso" value="api/Authorization/ObtenerPermiso"/>
    <add key="uriObtenerProyecto" value="api/CacheEntidadesNegocio/Proyecto/?bpin={0}"/>
    <add key="uriObtenerProyectosEntidad" value="api/CacheEntidadesNegocio/Proyectos/?idEntidad={0}"/>
    <add key="uriGuardarProyectosEntidad" value="api/CacheEntidadesNegocio/Proyectos/?idEntidad={0}&amp;ttl={1}"/>
    <add key="uriGuardarCatalogo" value="api/CacheEntidadesNegocio/Catalogos/{0}/?ttl={1}"/>
    <add key="uriObtenerCatalogo" value="api/CacheEntidadesNegocio/Catalogos/{0}"/>
    <add key="uriObtenerCatalogoPorId" value="api/CacheEntidadesNegocio/Catalogos/{0}/{1}/"/>
    <add key="uriConsultarRelacionCatalogo" value="api/CacheEntidadesNegocio/Catalogos/{0}/{1}/{2}/"/>
    <add key="uriGuardarCatalogoReferencia" value="api/CacheEntidadesNegocio/Catalogos/{0}/{1}/{2}/?ttl={3}"/>
    <!--Tiempos (TTL) Catálogos Caché-->
    <add key="TTL_Entidades" value="24"/>
    <add key="TTL_TiposEntidades" value="24"/>
    <add key="TTL_Sectores" value="24"/>
    <add key="TTL_Regiones" value="48"/>
    <add key="TTL_Programas" value="48"/>
    <add key="TTL_Resguardos" value="48"/>
    <add key="TTL_Productos" value="48"/>
    <add key="TTL_Alternativas" value="24"/>
    <add key="TTL_TiposRecursos" value="48"/>
    <add key="TTL_ClasificacionesRecursos" value="48"/>
    <add key="TTL_Etapas" value="30"/>
    <add key="TTL_Departamentos" value="30"/>
    <add key="TTL_Municipios" value="30"/>
    <add key="TTL_Proyectos" value="24"/>
    <!--Métodos Autorización-->
    <add key="consultarFuenteFinanciacion" value="ConsultarFuenteFinanciacion"/>
    <add key="consultarFuentesFinanciacionAgregarN" value="consultarFuentesFinanciacionAgregarN"/>
    <add key="previewFuenteFinanciacion" value="PreviewFuenteFinanciacion"/>
    <add key="postFuenteFinanciacion" value="DefinitivoFuenteFinanciacion"/>
    <add key="postDatosAdicionalesAgregar" value="DefinitivoFuenteFinanciacion"/>
    <add key="postDatosAdicionalesEliminar" value="postDatosAdicionalesEliminar"/>
    <add key="ConsultarResumenFteFinanciacion" value="ConsultarResumenFteFinanciacion"/>
    <add key="consultarProyecto" value="ConsultarProyecto"/>
    <add key="previewProyecto" value="PreviewProyecto"/>
    <add key="consultarProyectosPorEntidadesYEstados" value="ConsultarProyectosPorEntidadesYEstados"/>
    <add key="ejecutarAccion" value="EjecutarAccion"/>
    <add key="postProductoTemporal" value="PostProductoTemporal"/>
    <add key="postProductoDefinitivo" value="PostProductoDefinitivo"/>
    <add key="consultarProducto" value="ConsultarProducto"/>
    <add key="previewProducto" value="PreviewProducto"/>
    <add key="postCadenaValorTemporal" value="PostCadenaValorTemporal"/>
    <add key="postCadenaValorDefinitivo" value="PostCadenaValorDefinitivo"/>
    <add key="consultarCadenaValor" value="ConsultarCadenaValor"/>
    <add key="previewCadenaValor" value="PreviewCadenaValor"/>
    <add key="identificarEntidadDestinoTransferencias" value="IdentificarEntidadDestino"/>
    <add key="postRegionalizacionTemporal" value="PostRegionalizacionTemporal"/>
    <add key="postRegionalizacionDefinitivo" value="PostRegionalizacionDefinitivo"/>
    <add key="consultarRegionalizacion" value="ConsultarRegionalizacion"/>
    <add key="previewRegionalizacion" value="PreviewRegionalizacion"/>
    <add key="consultarCatalogo" value="ConsultarCatalogo"/>
    <add key="consultarCatalogoPorId" value="ConsultarCatalogoPorId"/>
    <add key="consultarRelacionCatalogo" value="ConsultarRelacionCatalogo"/>
    <add key="consultarDatosBasicosSGR" value="ConsultarDatosBasicosSGR"/>
    <add key="previewDatosBasicosSGR" value="PreviewDatosBasicosSGR"/>
    <add key="postDatosBasicosSGR" value="DefinitivoDatosBasicosSGR"/>
    <add key="postDatosBasicosSGRTemporal" value="PostDatosBasicosSGRTemporal"/>
    <add key="consultarFuentesFinanciacionAgregar" value="ConsultarFuentesFinanciacionAgregar"/>
    <add key="previewFuentesFinanciacionAgregar" value="PreviewFuentesFinanciacionAgregar"/>
    <add key="postFuentesFinanciacionAgregar" value="DefinitivoFuentesFinanciacionAgregar"/>
    <add key="postFuentesFinanciacionAgregarTemporal" value="PostFuentesFinanciacionAgregarTemporal"/>
    <add key="ObtenerDatosAdicionalesFuente" value="ObtenerDatosAdicionalesFuente"/>
    <add key="consultarDevolverProyecto" value="ConsultarDevolverProyecto"/>
    <add key="postDevolverProyecto" value="PostDevolverProyecto"/>
    <add key="postDevolverProyectoTemporal" value="PostDevolverProyectoTemporal"/>
    <add key="consultarResumenCostosVsSolicitado" value="consultarResumenCostosVsSolicitado"/>
    <add key="ConsultarConsultarProyectosASeleccionar" value="ConsultarConsultarProyectosASeleccionar"/>
    <!--ManejadorArchivos -->
    <add key="uriArchivoInfoManejadorArchivos" value="ArchivoInfo/"/>
    <add key="uriArchivosManejadorArchivos" value="Archivos/"/>
    <add key="uriAuthorizationManejadorArchivos" value="Authorization"/>
    <add key="collectionArchivos" value="ArchivosPIIP"/>
    <add key="userAuthArchivos" value="AdminPIIP"/>
    <add key="passwordAuthArchivos" value="PIIP123*+"/>

    <add key="collectionArchivosMGA" value="ArchivosMGA"/>
    <add key="userAuthArchivosMGA" value="AdminMGA"/>
    <add key="passwordAuthArchivosMGA" value="MGA123*+"/>
    <add key="ambienteMGA" value="UAT"/>
    <!--Otros-->
    <add key="ValidacionDevolucionPaso" value="ValidacionDevolucionPaso"/>
    <add key="UsuarioGenericoServiciosNegocio" value="UsuarioServiciosNegocio"/>
    <add key="idAdministracionEnAutorizaciones" value="AP:PIIP"/>
    <add key="idObtenerFuenteFinanciacion" value="FuenteFinanciacionProyecto"/>
    <add key="idObtenerProyecto" value="Proyecto"/>
    <add key="idObtenerProducto" value="Producto"/>
    <!--<add key="idObtenerPreguntas" value="Preguntas"/>-->
    <!--<add key="idObtenerRequisitos" value="Requisitos"/>-->
    <add key="idObtenerEntidadesAcciones" value="EntidadesAcciones"/>
    <add key="idObtenerDatosBasicosSGR" value="DatosBasicosSGR"/>
    <add key="ConsultarPreguntas" value="ConsultarPreguntas"/>
    <add key="PreviewPreguntas" value="PreviewPreguntas"/>
    <add key="DefinitivoPreguntas" value="DefinitivoPreguntas"/>
    <add key="TemporalPreguntas" value="TemporalPreguntas"/>
    <add key="ConsultarRequisitos" value="ConsultarRequisitos"/>
    <add key="DefinitivoRequisitos" value="DefinitivoRequisitos"/>
    <add key="consultarAlcance" value="ConsultarAlcance"/>
    <add key="previewAlcance" value="PreviewAlcance"/>
    <add key="postAlcanceDefinitivo" value="PostAlcanceDefinitivo"/>
    <add key="postAlcanceTemporal" value="PostAlcanceTemporal"/>
    <add key="consultarFuenteCofinanciacion" value="ConsultarFuenteCofinanciacion"/>
    <add key="previewFuenteCofinanciacion" value="PreviewFuenteCofinanciacion"/>
    <add key="postFuenteCofinanciacionDefinitivo" value="DefinitivoFuenteCofinanciacionDefinitivo"/>
    <add key="postFuenteCofinanciacionTemporal" value="DefinitivoFuenteCofinanciacionTemporal"/>
    <add key="consultarCofinanciacionAgregar" value="ConsultarCofinanciacionAgregar"/>
    <add key="previewCofinanciacionAgregar" value="PreviewCofinanciacionAgregar"/>
    <add key="postCofinanciacionAgregarDefinitivo" value="PostCofinanciacionAgregarDefinitivo"/>
    <add key="postCofinanciacionAgregarTemporal" value="PostCofinanciacionAgregarTemporal"/>
    <add key="consultarAgregarPoliticasJerarquia" value="consultarAgregarPoliticasJerarquia"/>
    <add key="previewAgregarPoliticasJerarquia" value="previewAgregarPoliticasJerarquia"/>
    <add key="postAgregarPoliticasJerarquia" value="postAgregarPoliticasJerarquia"/>
    <add key="postAgregarPoliticasJerarquiaTemporal" value="postAgregarPoliticasJerarquiaTemporal"/>
    <add key="JwtSecret-Servicio" value="22sAsDs1s8D3J21419Jf12fJfDb9f2Jg0a1I32KKKSs12gKgDg01g2gKDK12KDJ92192JRTR"/>
    <add key="postTramitesProyectos" value="postTramitesProyectos"/>
    <add key="ObtenerProyectosTramiteNegocio" value="ObtenerProyectosTramiteNegocio"/>
    <add key="GuardarProyectosTramiteNegocio" value="GuardarProyectosTramiteNegocio"/>
    <add key="EliminarProyectosTramiteNegocio" value="EliminarProyectosTramiteNegocio"/>
    <add key="consultarAjsuteAgregarPoliticas" value="consultarAjsuteAgregarPoliticas"/>
    <add key="previewAjusteAgregarPoliticas" value="previewAjusteAgregarPoliticas"/>
    <add key="postAjusteAgregarPoliticas" value="postAjusteAgregarPoliticas"/>
    <add key="postAjusteAgregarPoliticasTemporal" value="postAjusteAgregarPoliticasTemporal"/>
    <add key="ProyectosTramiteNegocio" value="ProyectosTramiteNegocio"/>
    <add key="ObtenerFuentesInformacionPresupuestal" value="ObtenerFuentesInformacionPresupuestal"/>
    <add key="ObtenerProyectoFuentePresupuestalPorTramite" value="ObtenerProyectoFuentePresupuestalPorTramite"/>
    <add key="ObtenerProyectoRequisitosPorTramite" value="ObtenerProyectoRequisitosPorTramite"/>
    <add key="GestionTramitesProyectos" value="GestionTramitesProyectos"/>
    <add key="ConsultarPreguntasPersonalizadas" value="ConsultarPreguntasPersonalizadas"/>
    <add key="ObtenerPreguntasPersonalizadas" value="ObtenerPreguntasPersonalizadas"/>
    <add key="ObtenerDatosGeneralesProyecto" value="ObtenerDatosGeneralesProyecto"/>
    <add key="ObtenerIndicadoresProducto" value="ObtenerIndicadoresProducto"/>
    <add key="GuardarIndicadoresSecundarios" value="GuardarIndicadoresSecundarios"/>
    <add key="IndicadoresValidarCapituloModificado" value="IndicadoresValidarCapituloModificado"/>
    <add key="ActualizaEstadoAjusteProyecto" value="ActualizaEstadoAjusteProyecto"/>
    <add key="ObtenerDatosProyectoTramite" value="ObtenerDatosProyectoTramite"/>
    <add key="obtenerInformacionPresupuestalVlrConstanteVF" value="obtenerInformacionPresupuestalVlrConstanteVF"/>
    <add key="ObtenerDatosCronograma" value="ObtenerDatosCronograma"/>
    <add key="ObtenerPreguntasProyectoActualizacionPaso" value="ObtenerPreguntasProyectoActualizacionPaso"/>
    <add key="ObtenerInformacionPresupuestalValores" value="ObtenerInformacionPresupuestalValores"/>
    <add key="GuardarInformacionPresupuestalValores" value="GuardarInformacionPresupuestalValores"/>
    <add key="ConsultarPriorizacionPorBPINs" value="ConsultarPriorizacionPorBPINs"/>
    <add key="obtenerOperacionCreditoDatosGenerales" value="obtenerOperacionCreditoDatosGenerales"/>
    <add key="postOperacionCreditoDatosGenerales" value="postOperacionCreditoDatosGenerales"/>
    <add key="Administracion_ConsultarEjecutor" value="Administracion_ConsultarEjecutor"/>
    <add key="Administracion_GuardarEjecutor" value="Administracion_GuardarEjecutor"/>
    <add key="ObtenerDatosProyectosPorTramite" value="ObtenerDatosProyectosPorTramite"/>
    <add key="ObtenerDatosIncorporacion" value="ObtenerDatosIncorporacion"/>
    <add key="GuardarDatosIncorporacion" value="GuardarDatosIncorporacion"/>
    <add key="EiliminarDatosIncorporacion" value="EiliminarDatosIncorporacion"/>
    <add key="ObtenerResumenReprogramacionPorVigencia" value="ObtenerResumenReprogramacionPorVigencia"/>
    <add key="GuardarDatosReprogramacion" value="GuardarDatosReprogramacion"/>
    <add key="ObtenerModalidadContratacionVigenciasFuturas" value="ObtenerModalidadContratacionVigenciasFuturas"/>
    <add key="ObtenerResumenReprogramacionPorProductoVigencia" value="ObtenerResumenReprogramacionPorProductoVigencia"/>

    <!--Programacion-->
    <add key="ObtenerDatosProgramacionEncabezado" value="ObtenerDatosProgramacionEncabezado"/>
    <add key="GuardarDatosProgramacionDistribucion" value="GuardarDatosProgramacionDistribucion"/>
    <add key="ObtenerDatosProgramacionDetalle" value="ObtenerDatosProgramacionDetalle"/>
    <add key="ObtenerResumenReprogramacionPorProductoVigencia" value="ObtenerResumenReprogramacionPorProductoVigencia"/>
    <add key="GuardarDatosProgramacionFuente" value="GuardarDatosProgramacionFuente"/>
    <add key="ObtenerDatostProgramacionProducto" value="ObtenerDatostProgramacionProducto"/>
    <add key="GuardarDatosProgramacionProducto" value="GuardarDatosProgramacionProducto"/>
    <add key="GuardarDatosProgramacionIniciativa" value="GuardarDatosProgramacionIniciativa"/>
    <add key="GuardarProgramacionRegionalizacion" value="GuardarProgramacionRegionalizacion"/>
    <add key="ConsultarPoliticasTransversalesProgramacion" value="ConsultarPoliticasTransversalesProgramacion"/>
    <add key="AgregarPoliticasTransversalesProgramacion" value="AgregarPoliticasTransversalesProgramacion"/>
    <add key="ConsultarPoliticasTransversalesCategoriasProgramacion" value="ConsultarPoliticasTransversalesCategoriasProgramacion"/>
    <add key="EliminarPoliticasProyectoProgramacion" value="EliminarPoliticasProyectoProgramacion"/>
    <add key="AgregarCategoriasPoliticaTransversalesProgramacion" value="AgregarCategoriasPoliticaTransversalesProgramacion"/>
    <add key="EliminarCategoriaPoliticasProyectoProgramacion" value="EliminarCategoriaPoliticasProyectoProgramacion"/>
    <add key="ObtenerProgramacionBuscarProyecto" value="ObtenerProgramacionBuscarProyecto"/>
    <add key="BorrarTramiteProyecto" value="BorrarTramiteProyecto"/>
    <add key="GuardarDatosInclusion" value="GuardarDatosInclusion"/>

    <add key="GuardarProgramacionRegionalizacion" value="GuardarProgramacionRegionalizacion"/>
    <add key="ConsultarPoliticasTransversalesProgramacion" value="ConsultarPoliticasTransversalesProgramacion"/>
    <add key="AgregarPoliticasTransversalesProgramacion" value="AgregarPoliticasTransversalesProgramacion"/>
    <add key="ConsultarPoliticasTransversalesCategoriasProgramacion" value="ConsultarPoliticasTransversalesCategoriasProgramacion"/>
    <add key="EliminarPoliticasProyectoProgramacion" value="EliminarPoliticasProyectoProgramacion"/>
    <add key="AgregarCategoriasPoliticaTransversalesProgramacion" value="AgregarCategoriasPoliticaTransversalesProgramacion"/>
    <add key="EliminarCategoriaPoliticasProyectoProgramacion" value="EliminarCategoriaPoliticasProyectoProgramacion"/>
    <add key="ObtenerCrucePoliticasProgramacion" value="ObtenerCrucePoliticasProgramacion"/>
    <add key="PoliticasSolicitudConceptoProgramacion" value="PoliticasSolicitudConceptoProgramacion"/>
    <add key="GuardarCrucePoliticasProgramacion" value="GuardarCrucePoliticasProgramacion"/>
    <add key="SolicitarConceptoDTProgramacion" value="SolicitarConceptoDTProgramacion"/>
    <add key="ObtenerResumenSolicitudConceptoProgramacion" value="ObtenerResumenSolicitudConceptoProgramacion"/>

    <add key="ConsultarPoliticasTransversalesCategoriasModificaciones" value="ConsultarPoliticasTransversalesCategoriasModificaciones"/>
    <add key="ConsultarPoliticasTransversalesAprobacionesModificaciones" value="ConsultarPoliticasTransversalesAprobacionesModificaciones"/>


    <!--Modificacion Ley-->
    <add key="ObtenerInformacionPresupuestalMLEncabezado" value="ObtenerInformacionPresupuestalMLEncabezado"/>
    <add key="ObtenerInformacionPresupuestalMLDetalle" value="ObtenerInformacionPresupuestalMLDetalle"/>
    <add key="GuardarInformacionPresupuestalML" value="GuardarInformacionPresupuestalML"/>

    <!--SGP-->
    <add key="SGPTransversalLeerParametro" value="SGPTransversalLeerParametro"/>
    <add key="SGR_Transversal_LeerListaParametros" value="SGR_Transversal_LeerListaParametros"/>
    <add key="SGPAcuerdoLeerProyecto" value="SGPAcuerdoLeerProyecto"/>
    <add key="SGPAcuerdoGuardarProyecto" value="SGPAcuerdoGuardarProyecto"/>
    <add key="SGPProyectosLeerListas" value="SGPProyectosLeerListas"/>
    <add key="SGPViabilidadLeerInformacionGeneral" value="SGPViabilidadLeerInformacionGeneral"/>
    <add key="SGPViabilidadLeerParametricas" value="SGPViabilidadLeerParametricas"/>
    <add key="SGPViabilidadGuardarInformacionBasica" value="SGPViabilidadGuardarInformacionBasica"/>
    <add key="SGPViabilidadFirmarUsuario" value="SGPViabilidadFirmarUsuario"/>
    <add key="SGPProyectosLeerProyectoViabilidadInvolucrados" value="SGPProyectosLeerProyectoViabilidadInvolucrados"/>
    <add key="SGPProyectosLeerProyectoViabilidadInvolucradosFirm" value="SGPProyectosLeerProyectoViabilidadInvolucradosFirm"/>
    <add key="EliminarProyectoViabilidadInvolucradosSGP" value="EliminarProyectoViabilidadInvolucradosSGP"/>
    <add key="GuardarProyectoViabilidadInvolucradosSGP" value="GuardarProyectoViabilidadInvolucradosSGP"/>
    <add key="ConsultarPreguntasSGP" value="ConsultarPreguntasSGP"/>


    <!--SGR-->
    <add key="obtenerOperacionCreditoDetalles" value="obtenerOperacionCreditoDetalles"/>
    <add key="postOperacionCreditoDetalles" value="postOperacionCreditoDetalles"/>
    <add key="ObtenerConceptosPreviosEmitidos" value="ObtenerConceptosPreviosEmitidos"/>
    <add key="SGR_Transversal_ObtenerCrucePoliticas" value="SGR_Transversal_ObtenerCrucePoliticas"/>
    <add key="SGR_Transversal_LeerParametro" value="SGR_Transversal_LeerParametro"/>
    <add key="SGR_Encabezado_LeerEncabezado" value="SGR_Encabezado_LeerEncabezado"/>
    <add key="SGR_Acuerdo_LeerProyecto" value="SGR_Acuerdo_LeerProyecto"/>
    <add key="SGR_Acuerdo_GuardarProyecto" value="SGR_Acuerdo_GuardarProyecto"/>
    <add key="SGR_Proyectos_LeerListas" value="SGR_Proyectos_LeerListas"/>
    <add key="SGR_Viabilidad_LeerInformacionGeneral" value="SGR_Viabilidad_LeerInformacionGeneral"/>
    <add key="SGR_Viabilidad_LeerParametricas" value="SGR_Viabilidad_LeerParametricas"/>
    <add key="SGR_Viabilidad_GuardarInformacionBasica" value="SGR_Viabilidad_GuardarInformacionBasica"/>
    <add key="SGR_Transversal_ObtenerTipoDocumentoSoporte" value="SGR_Transversal_ObtenerTipoDocumentoSoporte"/>
    <add key="SGR_Proyectos_LeerProyectoViabilidadInvolucrados" value="SGR_Proyectos_LeerProyectoViabilidadInvolucrados"/>
    <add key="SGR_Proyectos_LeerProyViabilidadInvolucradosFirma" value="SGR_Proyectos_LeerProyViabilidadInvolucradosFirma"/>
    <add key="SGR_Viabilidad_FirmarViabilidad" value="SGR_Viabilidad_FirmarViabilidad"/>
    <add key="SGR_Proyectos_GenerarMensajeEstadoProyecto" value="SGR_Proyectos_GenerarMensajeEstadoProyecto"/>
    <add key="SGR_Proyectos_LeerProyectoCtus" value="SGR_Proyectos_LeerProyectoCtus"/>
    <add key="SGR_Proyectos_LeerEntidadesSolicitarCtus" value="SGR_Proyectos_LeerEntidadesSolicitarCtus"/>
    <add key="SGR_Proyectos_GuardarProyectoCtus" value="SGR_Proyectos_GuardarProyectoCtus"/>
    <add key="SGR_Transversal_ObtenerConfiguracionReportes" value="SGR_Transversal_ObtenerConfiguracionReportes"/>
    <add key="SGR_Transversal_LeerUsuariosNotificacionViabilidad" value="SGR_Transversal_LeerUsuariosNotificacionViabilidad"/>
    <add key="SGR_Transversal_LeerUsuariosNotificarInvolucrados" value="SGR_Transversal_LeerUsuariosNotificarInvolucrados"/>

    <!--Entidad Nacional SGR-->
    <add key="SGR_Proyectos_LeerEntidadesAdscritas" value="SGR_Proyectos_LeerEntidadesAdscritas"/>
    <add key="SGR_Proyectos_ActualizarEntidadAdscrita" value="SGR_Proyectos_ActualizarEntidadAdscrita"/>
    <add key="SGR_Proyectos_LeerAsignacionUsuarioEncargado" value="SGR_Proyectos_LeerAsignacionUsuarioEncargado"/>
    <add key="SGR_Proyectos_GuardarAsignacionUsuarioEncargado" value="SGR_Proyectos_GuardarAsignacionUsuarioEncargado"/>
    <add key="SGR_Proyectos_ValidarEntidadDelegada" value="SGR_Proyectos_ValidarEntidadDelegada"/>

    <!--Cumplimiento SGR-->
    <add key="SGR_Proyectos_CumplimentoFlujoSGR" value="SGR_Proyectos_CumplimentoFlujoSGR"/>

    <!--CTUS-->
    <add key="SGR_CTUS_LeerProyectoCtusConcepto" value="SGR_CTUS_LeerProyectoCtusConcepto"/>
    <add key="SGR_CTUS_GuardarProyectoCtusConcepto" value="SGR_CTUS_GuardarProyectoCtusConcepto"/>
    <add key="SGR_CTUS_GuardarAsignacionUsuarioEncargado" value="SGR_CTUS_GuardarAsignacionUsuarioEncargado"/>
    <add key="SGR_CTUS_LeerProyectoCtusUsuarioEncargado" value="SGR_CTUS_LeerProyectoCtusUsuarioEncargado"/>
    <add key="SGR_CTUS_GuardarResultadoConceptoCtus" value="SGR_CTUS_GuardarResultadoConceptoCtus"/>
    <add key="SGR_CTUS_LeerRolDirectorProyectoCtus" value="SGR_CTUS_LeerRolDirectorProyectoCtus"/>
    <add key="SGR_CTUS_ValidarInstanciaCTUSNoFinalizada" value="SGR_CTUS_ValidarInstanciaCTUSNoFinalizada"/>
    <add key="SGR_Proyectos_ActualizarEntidadAdscritaCTUS" value="SGR_Proyectos_ActualizarEntidadAdscritaCTUS"/>

    <!--OCAD Paz-->
    <add key="SGR_Proyectos_ObtenerUsuariosVerificacionOcadPaz" value="SGR_Proyectos_ObtenerUsuariosVerificacionOcadPaz"/>
    <add key="SGR_OCADPaz_GuardarAsignacionUsuarioEncargado" value="SGR_OCADPaz_GuardarAsignacionUsuarioEncargado"/>

    <!--CTEI-->
    <add key="SGR_CTEI_LeerDatosAdicionales" value="SGR_CTEI_LeerDatosAdicionales"/>
    <add key="SGR_CTEI_GuardarDatosAdicionales" value="SGR_CTEI_GuardarDatosAdicionales"/>

    <!--Aval Uso-->
    <add key="SGR_AvalUso_LeerAvalUso" value="SGR_AvalUso_LeerAvalUso"/>
    <add key="SGR_AvalUso_RegistrarAvalUso" value="SGR_AvalUso_RegistrarAvalUso"/>

    <!--Procesos-->
    <add key="SGR_Transversal_PriorizacionProyectoSGR" value="SGR_Transversal_PriorizacionProyectoSGR"/>
    <add key="SGR_Transversal_AprobacionProyectoSGR" value="SGR_Transversal_AprobacionProyectoSGR"/>
    <add key="SGR_Procesos_ConsultarEjecutorbyTipo" value="SGR_Procesos_ConsultarEjecutorbyTipo"/>

    <!-- Designación Ejecutor -->
    <add key="ProcesoDesignacionEjecutorSGR" value="ProcesoDesignacionEjecutorSGR"/>

    <!-- Aprobación -->
    <add key="SGR_Proyectos_MostrarEstadosAprobacion" value="SGR_Proyectos_MostrarEstadosAprobacion"/>

    <!--Priorización-->
    <add key="SGR_Proyectos_MostrarEstadosPriorizacion" value="SGR_Proyectos_MostrarEstadosPriorizacion"/>

    <!--SGR-->

    <!--SGP-->
    <add key="SGP_Encabezado_LeerEncabezado" value="SGP_Encabezado_LeerEncabezado"/>
    <!--SGP-->
  </appSettings>
  <connectionStrings>
    <!--connectionString="Server=tcp:sdb-piip-uatntc1.database.windows.net;Initial Catalog=DB-PIIP-UAT-MgaWeb;Persist Security Info=False;User ID=AppPiip;Password=PIIPdnp2021+*;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;"-->
    <add name="MGAWebContexto"
      connectionString="Server=tcp:sdb-piip-uatntc.database.windows.net;Initial Catalog=DB-PIIP-UAT-MgaWeb;Persist Security Info=False;User ID=AppPiip;Password=PIIPdnp2021+*;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;"
      providerName="System.Data.EntityClient"/>
    <add name="ModelOnlySPEntities"
      connectionString="Server=tcp:sdb-piip-uatntc.database.windows.net,1433;Initial Catalog=DB-PIIP-UAT-MgaWeb;Persist Security Info=False;User ID=apppiip;Password=PIIPdnp2021+*;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;"
      providerName="System.Data.EntityClient"/>
    <add name="MGAWebContextoSGR"
      connectionString="Server=tcp:sdb-piip-uatntc.database.windows.net;Initial Catalog=DB-PIIP-UAT-MgaWeb;Persist Security Info=False;User ID=AppPiip;Password=PIIPdnp2021+*;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;"
      providerName="System.Data.EntityClient"/>
    <!--<add name="MGAWebContexto" connectionString="Server=tcp:sdb-piip-pr.database.windows.net,1433;Initial Catalog=DB-PIIP-PR-MgaWeb;Persist Security Info=False;User ID=webpiip;Password=DNPpiip2016+*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;" providerName="System.Data.EntityClient" />-->
    <!--<add name="MGAWebContexto" connectionString="metadata=res://*/Modelo.ModeloMGAWeb.csdl|res://*/Modelo.ModeloMGAWeb.ssdl|res://*/Modelo.ModeloMGAWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:sdb-piip-dev.database.windows.net;initial catalog=db-piip-dev-mgaweb;user id=webpiip;password=DNPpiip2016+*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.8" debug="true"/>
    <httpRuntime targetFramework="4.8" executionTimeout="240" maxRequestLength="9480"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule"
        type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation"
        preCondition="integratedMode,managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener"
          type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4"
        compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: B25F5746-AC7A-411A-9CF6-B4D08C147EA4-->