<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
  -->  
    <connectionStrings>
      <add name="MGAWebContexto" connectionString="sdb-piip-uat.database.windows.net,1433;Initial Catalog=DB-PIIP-UAT-MgaWeb;Persist Security Info=False;User ID=webpiip;Password=DNPpiip2016+*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <appSettings>
    <add key="IdAplicacionServicioNegocio" value="59FFD1E2-B9C5-4315-BD70-0C28007C6AC2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--Application Insights-->
    <add key="InstrumentationKey" value="38352bd6-74b3-4346-97af-5ffc719b338f" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="InstrumentationEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="ApiAuditoria" value="https://auditoriawebapi-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiAutorizacion" value="https://autorizacionwebapi-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiPiipCore" value="https://as-formularios-api-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiCache" value="http://cacheentidadesnegociowebapi-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>