<div ng-init="vm.init();">
    <div id="SGRERRSEC{{vm.nombreComponente}}" class="hidden mb-3 ml-5 errorSeccionPriorizacion" style="text-align: left; font-family: 'Work Sans Roman', 'Work Sans Regular Roman', 'Work Sans'; font-size: 12px; font-style: normal; color: #A80521;"></div>

    <div class="ui-accordion-container hidden" id="accordion-sgrpriorizacionm3priorizacionregistropriorizacion">
        <div class="alert panel-heading row ui-accordion-header">
            <button type="button" data-toggle="collapse" data-target="#sgrpriorizacionm3priorizacionregistropriorizacion" ng-click="vm.changeArrow('sgrpriorizacionm3priorizacionregistropriorizacion')">
                <span class="d-inline-block" id="alert-sgrpriorizacionm3priorizacionregistropriorizacion"></span>
                <span id="name-capitulo-sgrpriorizacionm3priorizacionregistropriorizacion"></span>
                <span class="hidden" id="id-capitulo-sgrpriorizacionm3priorizacionregistropriorizacion"></span>
                <span id="arrow-sgrpriorizacionm3priorizacionregistropriorizacion" class="glyphicon-chevron-down glyphicon pull-right" data-toggle="collapse" data-target="#sgrpriorizacionm3priorizacionregistropriorizacion"></span>
            </button>
        </div>
        <div class="collapse" id="sgrpriorizacionm3priorizacionregistropriorizacion">
            <div class="row m-0 mb-3">
                <div class="col-md-12 ">
                    <registro-priorizacion-m3-sgr callback="vm.notificarGuardado()"
                                             guardadocomponent="vm.guardadohijos(nombreComponenteHijo)"
                                              guardadoevent="vm.guardado(nombreComponenteHijo)"
                                             notificacionestado="vm.notificacionEstado(nombreComponente, esValido)"
                                             notificacionvalidacion="vm.notificacionValidacionHijos(handler, nombreComponente)"
                                             notificarrefresco="vm.notificarRefresco(handler, nombreComponente)"
                                             notificacioncambios="vm.notificacionCambiosCapitulosExternos(handler, nombreComponente)">
                    </registro-priorizacion-m3-sgr>

                </div>
            </div>
        </div>
    </div>

    <div class="ui-accordion-container hidden" id="accordion-sgrpriorizacionm3priorizacionestadopriorizacion">
        <div class="alert panel-heading row ui-accordion-header">
            <button type="button" data-toggle="collapse" data-target="#sgrpriorizacionm3priorizacionestadopriorizacion" ng-click="vm.changeArrow('sgrpriorizacionm3priorizacionestadopriorizacion')">
                <span class="d-inline-block" id="alert-sgrpriorizacionm3priorizacionestadopriorizacion"></span>
                <span id="name-capitulo-sgrpriorizacionm3priorizacionestadopriorizacion"></span>
                <span class="hidden" id="id-capitulo-sgrpriorizacionm3priorizacionestadopriorizacion"></span>
                <span id="arrow-sgrpriorizacionm3priorizacionestadopriorizacion" class="glyphicon-chevron-down glyphicon pull-right" data-toggle="collapse" data-target="#sgrpriorizacionm3priorizacionestadopriorizacion"></span>
            </button>
        </div>
        <div class="collapse" id="sgrpriorizacionm3priorizacionestadopriorizacion">
            <div class="row m-0 mb-3">
                <div class="col-md-12 ">
                    <estado-priorizacion-m3-sgr callback="vm.notificarGuardado()"
                                             guardadocomponent="vm.guardadohijos(nombreComponenteHijo)"
                                             notificacionestado="vm.notificacionEstado(nombreComponente, esValido)"
                                             notificacionvalidacion="vm.notificacionValidacionHijos(handler, nombreComponente)"
                                             notificarrefresco="vm.notificarRefresco(handler, nombreComponente)"
                                             notificacioncambios="vm.notificacionCambiosCapitulosExternos(handler, nombreComponente)">
                    </estado-priorizacion-m3-sgr>

                </div>
            </div>
        </div>
    </div>

</div>