<section>
    <div class="container-fluid inbox" ng-init="vm.init();">
        <div class="tab-content">
            <div class="ui-accordion-container hidden" id="accordion-sgpsolicitudrecursosfocalizacionpoliticassgp">
                <div class="alert panel-heading row ui-accordion-header">
                    <button type="button" data-toggle="collapse" data-target="#sgpsolicitudrecursosfocalizacionpoliticassgp-1" ng-click="vm.changeArrow('sgpsolicitudrecursosfocalizacionpoliticassgp-1')">
                        <span class="d-inline-block" id="alert-sgpsolicitudrecursosfocalizacionpoliticassgp-1"></span>
                        <span id="name-capitulo-sgpsolicitudrecursosfocalizacionpoliticassgp"></span>
                        <span class="hidden" id="id-capitulo-sgpsolicitudrecursosfocalizacionpoliticassgp"></span>
                        <span id="arrow-sgpsolicitudrecursosfocalizacionpoliticassgp-1" class="glyphicon-chevron-down glyphicon pull-right" data-toggle="collapse" data-target="#sgpsolicitudrecursosfocalizacionpoliticassgp-1"></span>
                    </button>
                </div>
                <div class="collapse" id="sgpsolicitudrecursosfocalizacionpoliticassgp-1">
                    <div class="row m-0 mb-3">
                        <politicas-Transversales-sgp guardadoevent="vm.guardado(nombreComponenteHijo)"
                                                 notificacioncambios="vm.notificacionCambiosCapitulosExternos(handler, nombreComponente)"
                                                 notificacionestado="vm.notificacionEstado(nombreComponente, esValido)"
                                                 notificacionvalidacion="vm.notificacionValidacionHijos(handler, nombreComponente)">
                        </politicas-Transversales-sgp>
                    </div>
                </div>
            </div>

            <div class="ui-accordion-container hidden" id="accordion-sgpsolicitudrecursosfocalizacioncategoriapoliticassgp">
                <div class="alert panel-heading row ui-accordion-header">
                    <button type="button" data-toggle="collapse" data-target="#sgpsolicitudrecursosfocalizacioncategoriapoliticassgp-1" ng-click="vm.changeArrow('sgpsolicitudrecursosfocalizacioncategoriapoliticassgp-1')">
                        <span class="d-inline-block" id="alert-sgpsolicitudrecursosfocalizacioncategoriapoliticassgp-1"></span>
                        <span id="name-capitulo-sgpsolicitudrecursosfocalizacioncategoriapoliticassgp"></span>
                        <span class="hidden" id="id-capitulo-sgpsolicitudrecursosfocalizacioncategoriapoliticassgp"></span>
                        <span id="arrow-sgpsolicitudrecursosfocalizacioncategoriapoliticassgp-1" class="glyphicon-chevron-down glyphicon pull-right" data-toggle="collapse" data-target="#sgpsolicitudrecursosfocalizacioncategoriapoliticassgp-1"></span>
                    </button>
                </div>
                <div class="collapse" id="sgpsolicitudrecursosfocalizacioncategoriapoliticassgp-1">
                    <div class="row m-0 mb-3">
                        <resumen-focalizacion-sgp guardadoevent="vm.guardado(nombreComponenteHijo)"
                                              notificacioncambios="vm.notificacionCambiosCapitulosExternos(handler, nombreComponente)"
                                              notificacionestado="vm.notificacionEstado(nombreComponente, esValido)"
                                              notificacionvalidacion="vm.notificacionValidacionHijos(handler, nombreComponente)">
                        </resumen-focalizacion-sgp>
                    </div>
                </div>
            </div>

            <div class="ui-accordion-container hidden" id="accordion-sgpsolicitudrecursosfocalizacioncrucepoliticassgp">
                <div class="alert panel-heading row ui-accordion-header">
                    <button type="button" data-toggle="collapse" data-target="#sgpsolicitudrecursosfocalizacioncrucepoliticassgp-1" ng-click="vm.changeArrow('sgpsolicitudrecursosfocalizacioncrucepoliticassgp-1')">
                        <span class="d-inline-block" id="alert-sgpsolicitudrecursosfocalizacioncrucepoliticassgp-1"></span>
                        <span id="name-capitulo-sgpsolicitudrecursosfocalizacioncrucepoliticassgp"></span>
                        <span class="hidden" id="id-capitulo-sgpsolicitudrecursosfocalizacioncrucepoliticassgp"></span>
                        <span id="arrow-sgpsolicitudrecursosfocalizacioncrucepoliticassgp-1" class="glyphicon-chevron-down glyphicon pull-right" data-toggle="collapse" data-target="#sgpsolicitudrecursosfocalizacioncrucepoliticassgp-1"></span>
                    </button>
                </div>
                <div class="collapse" id="sgpsolicitudrecursosfocalizacioncrucepoliticassgp-1">
                    <div class="row m-0 mb-3">
                        <span>
                            <cruce-politicas-transversales-sgp guardadoevent="vm.guardado(nombreComponenteHijo)"
                                                           notificacioncambios="vm.notificacionCambiosCapitulosExternos(handler, nombreComponente)"
                                                           notificacionestado="vm.notificacionEstado(nombreComponente, esValido)"
                                                           notificacionvalidacion="vm.notificacionValidacionHijos(handler, nombreComponente)">
                            </cruce-politicas-transversales-sgp>
                        </span>
                    </div>
                </div>
            </div>

            <div class="ui-accordion-container hidden" id="accordion-sgpsolicitudrecursosfocalizacionresumenfocalizacionsgp">
                <div class="alert panel-heading row ui-accordion-header">
                    <button type="button" data-toggle="collapse" data-target="#sgpsolicitudrecursosfocalizacionresumenfocalizacionsgp-1" ng-click="vm.changeArrow('sgpsolicitudrecursosfocalizacionresumenfocalizacionsgp-1')">
                        <span class="d-inline-block" id="alert-categoriasPoliticasTrans-1"></span>
                        <span id="name-capitulo-sgpsolicitudrecursosfocalizacionresumenfocalizacionsgp"></span>
                        <span class="hidden" id="id-capitulo-sgpsolicitudrecursosfocalizacionresumenfocalizacionsgp"></span>
                        <span id="arrow-sgpsolicitudrecursosfocalizacionresumenfocalizacionsgp-1" class="glyphicon-chevron-down glyphicon pull-right" data-toggle="collapse" data-target="#sgpsolicitudrecursosfocalizacionresumenfocalizacionsgp-1"></span>
                    </button>
                </div>
                <div class="collapse" id="sgpsolicitudrecursosfocalizacionresumenfocalizacionsgp-1">
                    <div class="row m-0 mb-3">
                        <span>
                            <resumen-sgp guardadoevent="vm.guardado(nombreComponenteHijo)"
                                     notificacioncambios="vm.notificacionCambiosCapitulosExternos(handler, nombreComponente)"
                                     notificacionestado="vm.notificacionEstado(nombreComponente, esValido)"
                                     notificacionvalidacion="vm.notificacionValidacionHijos(handler, nombreComponente)">
                            </resumen-sgp>
                        </span>
                    </div>
                </div>
            </div>

            <div class="ui-accordion-container hidden" id="accordion-focalizacionpolSolicitarConAju">
                <div class="alert panel-heading row ui-accordion-header">
                    <button type="button" data-toggle="collapse" data-target="#focalizacionpolSolicitarConAju-1" ng-click="vm.changeArrow('focalizacionpolSolicitarConAju-1')">
                        <span class="d-inline-block" id="alert-focalizacionpolSolicitarConAju-1"></span>
                        <span id="name-capitulo-focalizacionpolSolicitarConAju"></span>
                        <span class="hidden" id="id-capitulo-focalizacionpolSolicitarConAju"></span>
                        <span id="arrow-focalizacionpolSolicitarConAju-1" class="glyphicon-chevron-down glyphicon pull-right" data-toggle="collapse" data-target="#focalizacionpolSolicitarConAju-1"></span>
                    </button>
                </div>
                <div class="collapse" id="focalizacionpolSolicitarConAju-1">
                    <div class="row m-0 mb-3">
                        <span>
                            <focalizacionconcepto guardadoevent="vm.guardado(nombreComponenteHijo)"
                                                  notificacioncambios="vm.notificacionCambiosCapitulosExternos(handler, nombreComponente)"
                                                  notificacionestado="vm.notificacionEstado(nombreComponente, esValido)"
                                                  notificacionvalidacion="vm.notificacionValidacionHijos(handler, nombreComponente)">
                            </focalizacionconcepto>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>