<div ng-class="{ 'my-css-class': grid.appScope.rowFormatter( row ) }">
    <div ng-if="!row.entity.editable" ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.colDef.name" class="ui-grid-cell" ng-class="{ 'ui-grid-row-header-cell': col.isRowHeader }" ui-grid-cell></div>
    <div ng-if="row.entity.editable">
        <!-- ReSharper disable Html.TagNotResolved -->
        <crear-Modificar-Extension extension-A-Editar="row.entity"
                                   retorno-Guardar="grid.appScope.vm.finalizarCreacion()"
                                   retorno-Cancelar="grid.appScope.vm.cancelaCrearOEditar()"
                                   crear-Extensiones="row.entity.abrirEditarExtension"
                                   formulario-modificado-extension="grid.appScope.vm.estaEditandoExtension">
        </crear-Modificar-Extension>
    </div>
</div>