<div class="text-center">
    <button class="btnaccion" ng-click="grid.appScope.vm.accion1({$row: row.entity})" tooltip-placement="Auto" uib-tooltip="Editar">
            <!--has-claim has-opciones="['Perfiles:Editar']"--> 
        <span><img class="grid-icon-accion"  src="Img/iconsgrid/iconAccionEditar.png"></span>
    </button>
    <button class="btnaccion" ng-click="grid.appScope.vm.accion2({$row: row.entity})" tooltip-placement="Auto" uib-tooltip="Eliminar">
            <!--has-claim has-opciones="['Perfiles:Eliminar']"--> 
        <span><img  class="grid-icon-accion" src="Img/iconsgrid/iconAccionEliminar.png"></span>
    </button>
</div>