<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--AZURE-->
    <add key="DisableSwagger" value="False" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="urlMGA" value="https://mgapiipntc.azurewebsites.net/Bank/GetProject?message="/>
    <add key="ApiPiipCore" value="https://as-formularios-api-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiServicioNegocio" value="https://as-serviciosnegocios-api-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiBackbone" value="https://as-backbone-api-qa-2.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiCache" value="https://cacheentidadesnegociowebapi-uatntc.azurewebsites.net/"/>
    <add key="ApiMotorFlujos" value="https://as-motorflujos-api-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiServicioNegocio" value="https://as-serviciosnegocios-api-ntuat.azurewebsites.net/"/>
    <add key="ApiServicioNegocioWBS" value="https://as-serviciowbs-api-ntuat.azurewebsites.net/"/>
    <add key="AplicacionBackboneId" value="F76BCA19-8116-4157-AA89-D8A41759E79D" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiAuditoria" value="https://as-auditoria-api-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiMensajeria" value="https://mensajeriawebapi-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiAutorizacion" value="https://as-autorizacion-api-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiNotificacion" value="https://as-notificaciones-api-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiIdentidad" value="https://as-identidad-api-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiArchivo" value="https://as-archivos-api-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiManejadorArchivos" value="https://as-manejadorarchivos-api-ntuat.azurewebsites.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="KeyCollection" value="Archivos" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--Application Insights-->
    <add key="InstrumentationKey" value="84d734ef-f124-45c2-a2bf-f4cd7e72712c" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="InstrumentationEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
  </system.web>
</configuration>