<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--AZURE-->
    <add key="urlMGA" value="https://mgapiipntc.azurewebsites.net/Bank/GetProject?message="  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiPiipCore" value="https://as-formularios-api-ntcdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiServicioNegocio" value="https://as-serviciosnegocios-api-sgr.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiBackbone" value="https://as-backbone-api-sgr.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiMotorFlujos" value="https://as-motorflujos-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiAuditoria" value="https://as-auditoria-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiMensajeria" value="https://mensajeriawebapi-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiAutorizacion" value="https://as-autorizacion-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiNotificacion" value="https://as-notificaciones-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiIdentidad" value="https://as-identidad-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiArchivo" value="https://as-archivos-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiManejadorArchivos" value="https://as-manejadorarchivos-api-ntdev.azurewebsites.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="KeyCollection" value="Archivos" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AplicacionBackboneId" value="F76BCA19-8116-4157-AA89-D8A41759E79D" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--Application Insights-->
    <add key="InstrumentationKey" value="41decc15-a016-4e69-88ce-c4865d0c1ce8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="InstrumentationEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>