<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--LOCALHOST-->
    <add key="DisableSwagger" value="False" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiBackbone" value="http://localhost:3240/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--<add key="ApiMensajeria" value="http://localhost:41055/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->
    <add key="ApiAutorizacion" value="http://localhost:10221/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiIdentidad" value="http://localhost:8058/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--LOCALHOST-->

    <!--AZURE-->
    <!--<add key="ApiBackbone" value="https://as-backbone-api-piip.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->
    <add key="ApiMensajeria" value="https://mensajeriawebapi-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiAuditoria" value="https://as-auditoria-api-piip.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--AZURE-->

    <!--Application Insights-->
	  <add key="InstrumentationKey" value="41decc15-a016-4e69-88ce-c4865d0c1ce8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	  <add key="InstrumentationEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
  </appSettings>
</configuration>