<section>
    <div class="container-fluid inbox" ng-init="vm.init();">
        <div class="tab-content">
            <div class="row" style="margin-left: 0px; margin-right: 0px; padding-bottom: 1rem">

                <div class="alert panel-heading row ui-accordion-header" style="">
                    <button class="button" type="button" data-toggle="collapse" data-target="#informacionpresupuestalsolicitudadiciondonacion" ng-click="vm.changeArrow('informacionpresupuestalsolicitudadiciondonacion')">
                        <span class="d-inline-block" id="alert-informacionpresupuestalsolicitudadiciondonacion"></span>
                        <span id="name-capitulo-informacionpresupuestalsolicitudadiciondonacion"></span>
                        <span class="hidden" id="id-capitulo-informacionpresupuestalsolicitudadiciondonacion"></span>
                        <span id="arrow-informacionpresupuestalsolicitudadiciondonacion" class="glyphicon-chevron-down glyphicon pull-right" data-toggle="collapse" data-target="#informacionpresupuestalsolicitudadiciondonacion"></span>
                    </button>
                </div>
                <div class="collapse" id="informacionpresupuestalsolicitudadiciondonacion" style="padding-right: 15px; padding-left: 0px; margin-left: -15px;">
                    <div class="row" style="margin-left:20px" ng-if="!vm.mostrar">
                        <aprobacion-adicion-donacion-formulario tipotramiteid="{{vm.tipotramiteid}}"
                                                            tramiteid="{{vm.tramiteid}}"
                                                            nivel="{{vm.nivel}}"
                                                            rol="{{vm.rol}}"
                                                            rolanalista ="{{vm.rolanalista}}"
                                                            section="{{vm.section}}"
                                                            nombrecomponentepaso="{{vm.nombreComponenteHijo}}"
                                                            guardadoevent="vm.guardado(nombreComponenteHijo)"
                                                            notificacionestado="vm.notificacionEstado(nombreComponente, esValido)"
                                                            notificacionvalidacion="vm.notificacionValidacionHijos(handler, nombreComponente)"
                                                            actualizacomponentes="{{vm.actualizacomponentes}}">
                        </aprobacion-adicion-donacion-formulario>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>