.row-new-gray {
    background: #E6EFFD;
    border: solid 1px #004884;
}

.ui-seccion-title {
    color: #004884;
}

.ui-grid-header-cell-label {
    font-weight: 600;
    color: #004884;
}

.d-block {
    display: block;
}
