<div class="text-center">
    <a href="/tramite/{{row.entity.IdInstancia}}/proyectos" class="btnaccion" tooltip-placement="Auto" uib-tooltip="Ver Proyectos">
        <span><img  class="grid-icon-accion" src="Img/iconsgrid/iconAccionVer.png" /></span>
    </a>
    <button class="btnaccion" ng-click="grid.appScope.vm.mostrarLog(row.entity)" tooltip-placement="auto" uib-tooltip="Ver log">
        <span><img class="grid-icon-accion" src="Img/iconsgrid/iconAccionCalendar.svg" /></span>
    </button>
    <!--<button class="btnaccion" ng-click="/tramite/{{row.entity.codigo}}/proyectos" tooltip-placement="auto" uib-tooltip="Ver Proyectos">
        <span><img src="Img/iconsgrid/iconAccionVer.png" /></span>
    </button>-->
</div>