<div class="text-center">
    <button class="btnaccion" ng-click="grid.appScope.vm.pausarInstancia(row.entity)" tooltip-placement="auto" uib-tooltip="Pause">
        <span><img class="grid-icon-accion" src="Img/iconsgrid/iconAccionPause.svg" /></span>
    </button>
    <button class="btnaccion" ng-click="grid.appScope.vm.activarInstancia(row.entity)" tooltip-placement="auto" uib-tooltip="Play">
        <span><img class="grid-icon-accion" src="Img/iconsgrid/iconAccionPlay.svg" /></span>
    </button>
    <button class="btnaccion" ng-click="grid.appScope.vm.detenerInstancia(row.entity)" tooltip-placement="auto" uib-tooltip="Stop">
        <span><img class="grid-icon-accion" src="Img/iconsgrid/iconAccionStop.svg" /></span>
    </button>
    <button class="btnaccion" ng-click="grid.appScope.vm.mostrarLog(row.entity)" tooltip-placement="auto" uib-tooltip="Ver log">
        <span><img class="grid-icon-accion" src="Img/iconsgrid/iconAccionCalendar.svg" /></span>
    </button>
</div> 