<div style="margin-left: 20px;" ng-init="vm.init();">
    <form class="formCenter" id="generalesForm" name="generalesForm" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div id="SGRCTUSConcepto" style="padding-left: 0.5rem;" class="hidden uMensajeError {{vm.nombreComponente}}-errores"></div>
            </div>
        </div>
        <br />
        <div id="seccionNoHabilitadaCtus" class="row hidden">
            <div class="col-md-12 col-lg-12 col-sm-12 divPanelSecNoHabilitadaDNP">
                <span style="text-align: left;font-family: 'Work Sans'; font-size: 14px; font-style: normal;">Este capítulo se activará cuando diligencie y guarde los campos de la sección Requisitos para el proyecto.</span>
            </div>
        </div>
        <div id="seccionHabilitadaCtus" class="hidden">
            <div style="padding-top:30px;">
                <span class="buttonbar pull-right">
                    <button has-opciones="['ctusElaboracionConceptoSGR:formularioEditar']"
                            id="EditarResultadoConcepto"
                            type="button"
                            class="btneditarDNP"
                            tooltip-placement="top"
                            uib-tooltip="Editar"
                            tabindex="0"
                            ng-click="vm.ActivarEditar()"
                            ng-disabled="vm.disabled">
                        EDITAR
                    </button>
                    &nbsp;
                    <button has-opciones="['ctusElaboracionConceptoSGR:formularioGuardar']"
                            id="GuardarResultadoConcepto"
                            type="submit"
                            class="{{vm.activarConcepto ? 'btnguardarDisabledDNP' : 'btnguardarDNP'}}"
                            tooltip-placement="top"
                            uib-tooltip="Guardar"
                            ng-click="vm.guardar()"
                            ng-disabled="vm.activarResultadoConcepto">
                        GUARDAR
                    </button>
                </span>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 5px;">
                    <span class="labelQuestions" style="padding-left: 5px;">El resultado del Concepto técnico único sectorial es*</span>
                </div>
            </div>
            <div class="row">
                <div id="PreguntaObligatoria" class="hidden" style="text-align: justify; margin-left: 20px;">
                    <img class="" src="Img/u4630.svg">
                    <span class="messagealerttableDNP" style="text-align: left;font-family: 'Work Sans'; font-size: 14px; font-style: normal;">Campo obligatorio.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 form-check" style="text-align: left; padding-left: 6px;">
                        <input type="radio" id="radio1" ng-disabled="vm.activarResultadoConcepto" name="optradio" ng-model="vm.resultadoConcepto" value="true" ng-checked="vm.resultadoConcepto== true" ng-change="vm.solicitaConceptoChange()">
                        <label for="radio1" style="padding-right: 50px;">
                            Favorable
                        </label>
                        <input type="radio" id="radio2" ng-disabled="vm.activarResultadoConcepto" name="optradio" ng-model="vm.resultadoConcepto" value="false" ng-checked="vm.resultadoConcepto == false" ng-change="vm.solicitaConceptoChange()">
                        <label for="radio2">
                            No Favorable
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            &nbsp;
        </div>
    </form>
</div>