.ui-accordion-container {
    margin-left: 0;
    margin-bottom: 1rem;
}

.ui-accordion-header {
    height: 50px; 
    margin: 0; 
    padding: 0;
    border-color: #E6EFFD;
    border-left: 10px solid #004884;
}

    .ui-accordion-header button {
        height: 100%;
        width: 100%;
        text-align: left;
        padding: 0 20px;
        background: transparent;
        border: none;
        color: #004884;
        font-weight: 700;
    }