#uigprojecto .ui-grid-row {
    overflow-x: hidden !important;
}

.ui-grid .ui-grid-row .ui-grid-cell {
    min-height: 30px;
    max-height: 30px;


}
#proyectos .grid,
#tramits .grid {
    width: 100% !important;
    height: auto !important;
}
