
<div style="background-color:white;padding-top:2rem;padding-bottom:0px !important;max-width:auto !important;" ng-init="vm.initJustificacionFormulario()">
    <div class="row">
        <table class="TableDNP" style="width: 97%;">
            <tbody>
                <tr>
                    <td>

                        <span class="NomItemAccordDNP" style="padding:0 20px;">Justificación del trámite</span>
                        <div style="width: !important 8%; vertical-align: bottom;">
                            <button class="btnaccion btntablednp collapsed"
                                    type="button" data-toggle="collapse"
                                    ng-click="vm.mostrarOcultarPreguntasTramite('justificaciontramites')"
                                    data-target="#justificaciontramites">
                                <img id="icojustificaciontramites" src="Img/btnMas.svg" class="" style="">
                                <span class="d-inline-block" id="alert-Justificaciondet"></span>
                            </button>
                            <div style="width: !important 95%; text-align: left;">
                                <span class="errores-contenedor" style="display:none;" id="error-button-proyecto-justificaciontramites">
                                    <span class="img iconadverdnp"><img src="Img/u4630.svg"> </span>
                                    <span class="messagealerttableDNP" id="error-txt-button-proyecto-justificaciontramites">{{vm.error.Mensaje}}</span>
                                </span>
                            </div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <div class="collapse" id="justificaciontramites" style="margin-top: -20px; margin-left: -10px;padding-left:3rem;">
                            <div class="LineaEncabezadodivDNP"></div>
                            <h3 class="row tituloEncabezadodivDNP">
                                <div class="col-md-10 form-group text-left NomItemAccordDNP">Preguntas y respuestas desde el formulario actual</div>
                                <br />
                            </h3>
                            <div style="width:99%; text-align:left;padding:2rem;">
                                <div class="row" style="width:100%;">
                                    <div style="text-align: left;" class="col-md-8">
                                        <span class="uLabelCampo">Preguntas relacionadas</span>
                                    </div>
                                    <div style="text-align: right;" class="col-md-4">
                                        <div class="col-md-12 form-group text-right" style="padding-right:2rem;">

                                            <button has-claim has-opciones="['tramite:justificacionVigenciaFuturaEditar']" id="EditarJustificacion"
                                                    class=" btneditarDNP"
                                                    type="button"
                                                    tooltip-placement="top"
                                                    uib-tooltip="Clic para editar la información"
                                                    ng-click="vm.ActivarEditar()">
                                                EDITAR
                                            </button>
                                            &nbsp;

                                            <button id="GuardarJustificacion"
                                                    type="submit" class="{{vm.disabled?'  btnguardarDisabledDNP':'  btnguardarDNP'}}"
                                                    tooltip-placement="top"
                                                    uib-tooltip="Guardar modificación"
                                                    ng-click="vm.registrorespuesta(vm.pregunta)"
                                                    ng-disabled="vm.disabledJustificacion">
                                                GUARDAR
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <br /><br />
                                <div>
                                    <div class="uLabelCampoAzul"> Rol Presupuesto&nbsp;&nbsp;<img src="Img/u32.svg" ng-click="vm.abrirMensajeInformacion()" /></div>
                                    <br /><br />
                                    <label for="respuesta" class="uLabelCampoNegro" style="text-align:left">{{vm.Usuario }} </label>
                                    <br /><br />
                                </div>
                                <div id="VFO005-pregunta-error" class="hidden uMensajeError"></div>
                                <div class="row" id="preguntasJustificacion" ng-repeat="pregunta in vm.Justificaciones">

                                    <div class="col-md-12" align="left" style="padding-bottom:2rem;">
                                        <span id="VFO005-{{pregunta.JustificacionPreguntaId}}" class="hidden text-left color-red"></span>
                                        <div class="row">
                                            <div class="col-md-12 DetacolumnDNP">
                                                <span class="detapregun">{{pregunta.JustificacionPregunta}} </span>

                                            </div>
                                            <div class="col-md-12 DetacolumnDNP">
                                                <span class="uLabelCampoNegro">Justifique su respuesta*  </span><span class="notapregun">(Máximo 5.000 caracteres)</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="u5226_div" class="divPanelPregRespDNP" style="">
                                                    <div class="respAdon">
                                                        <span style="vertical-align: middle; display: table-cell;">/R</span>
                                                    </div>
                                                    <div class="textAreDivRes">
                                                        <textarea rows="3"
                                                                  id="pregunta"
                                                                  name="pregunta"
                                                                  ng-model="vm.pregunta.JustificacionRespuesta[pregunta.JustificacionPreguntaId]"
                                                                  ng-value="pregunta.JustificacionRespuesta"
                                                                  minlength="1"
                                                                  maxlength="5000"
                                                                  ng-disabled="vm.disabledJustificacion"
                                                                  class="uTextAreaSinBorde text-justificado"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</div>