<div class="text-center">
    <button class="btnaccion" ng-click="grid.appScope.vm.crearSubTema({$row: row.entity})" tooltip-placement="Auto" uib-tooltip="Crear">
        <span><img class="grid-icon-accion" src="Img/iconsgrid/iconAccionAdicionar.png"></span>
    </button> 
    <button class="btnaccion" ng-click="grid.appScope.vm.actualizarTema({$row: row.entity})" tooltip-placement="Auto" uib-tooltip="Editar">
        <span><img class="grid-icon-accion" src="Img/iconsgrid/iconAccionEditar.png"></span>
    </button>
    <button class="btnaccion" ng-click="grid.appScope.vm.eliminarTema({$row: row.entity, TipoAyuda: 1})" tooltip-placement="Auto" uib-tooltip="Eliminar">
        <span><img class="grid-icon-accion" src="Img/iconsgrid/iconAccionEliminar.png"></span>
    </button>
</div>