<div ng-init="vm.init();">
    <div id="SGRERRSEC{{vm.nombreComponente}}" class="hidden mb-3 ml-5 errorSeccionRequisitosGenerales" style="text-align: left; font-family: 'Work Sans Roman', 'Work Sans Regular Roman', 'Work Sans'; font-size: 12px; font-style: normal; color: #A80521;"></div>
    <div class="ui-accordion-container " id="accordion-sgrctusintegradoasignaciondelegar">
        <div class="alert panel-heading row ui-accordion-header">
            <button type="button" data-toggle="collapse" data-target="#sgrctusintegradoasignaciondelegar" ng-click="vm.changeArrow('sgrctusintegradoasignaciondelegar')">
                <span class="d-inline-block" id="alert-sgrctusintegradoasignaciondelegar"></span>
                <span id="name-capitulo-sgrctusintegradoasignaciondelegar"></span>
                <span class="hidden" id="id-capitulo-sgrctusintegradoasignaciondelegar"></span>
                <span id="arrow-sgrctusintegradoasignaciondelegar" class="glyphicon-chevron-down glyphicon pull-right" data-toggle="collapse" data-target="#sgrctusintegradoasignaciondelegar"></span>
            </button>
        </div>
        <div class="collapse" id="sgrctusintegradoasignaciondelegar">
            <div class="row m-0 mb-3">
                <div class="col-md-12 ">
                    <delegar-ctus-integrado-sgr guardadoevent="vm.guardado(nombreComponenteHijo)"
                                                     notificacionestado="vm.notificacionEstado(nombreComponente, esValido)"
                                                     notificacionvalidacion="vm.notificacionValidacionHijos(handler, nombreComponente,handlerCapitulos)">
                    </delegar-ctus-integrado-sgr>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-accordion-container " id="accordion-sgrctusintegradoasignacionasignar">
        <div class="alert panel-heading row ui-accordion-header">
            <button type="button" data-toggle="collapse" data-target="#sgrctusintegradoasignacionasignar" ng-click="vm.changeArrow('sgrctusintegradoasignacionasignar')">
                <span class="d-inline-block" id="alert-sgrctusintegradoasignacionasignar"></span>
                <span id="name-capitulo-sgrctusintegradoasignacionasignar"></span>
                <span class="hidden" id="id-capitulo-sgrctusintegradoasignacionasignar"></span>
                <span id="arrow-sgrctusintegradoasignacionasignar" class="glyphicon-chevron-down glyphicon pull-right" data-toggle="collapse" data-target="#sgrctusintegradoasignacionasignar"></span>
            </button>
        </div>
        <div class="collapse" id="sgrctusintegradoasignacionasignar">
            <div class="row m-0 mb-3">
                <div class="col-md-12 ">
                    <asignar-ctus-integrado-sgr guardadoevent="vm.guardado(nombreComponenteHijo)"
                                                       notificacionestado="vm.notificacionEstado(nombreComponente, esValido)"
                                                       notificacionvalidacion="vm.notificacionValidacionHijos(handler, nombreComponente,handlerCapitulos)">
                    </asignar-ctus-integrado-sgr>
                </div>
            </div>
        </div>
    </div>
</div>