<div class="text-center">
    <button class="btnaccion" ng-click="grid.appScope.vm.accion1({$row: row.entity})" tooltip-placement="Auto" uib-tooltip="Ver roles">
        <span>
            <img class="grid-icon-accion"  src="Img/iconsgrid/iconAccionRole.png" />
        </span>
    </button>
    <button class="btnaccion" ng-click="grid.appScope.vm.accion2({$row: row.entity})" tooltip-placement="Auto" uib-tooltip="Ver proyectos">
        <span><img class="grid-icon-accion"  src="Img/iconsgrid/iconAccionVerProyectos.png"></span>
    </button>
    <!--<button class="btnaccion" ng-click="grid.appScope.vm.accion3({$row: row.entity})" tooltip-placement="Auto" uib-tooltip="Ver documento">
        <span><img src="Img/iconsgrid/iconAccionDocumento.png"></span>
    </button>-->
</div>