
<div ng-init="vm.init();">
    <form class="formCenter" id="generalesForm" name="generalesForm" novalidate>
        <div style="padding-top:50px;">
            <span class="buttonbar pull-right">
                <button id="EditarG"
                        type="button"
                        class="btneditarDNP"
                        tooltip-placement="top"
                        uib-tooltip="Editar"
                        tabindex="0"
                        ng-click="vm.ActivarEditar()"
                        ng-disabled="vm.disabled ">
                    EDITAR
                </button>
                &nbsp;
                <button id="GuardarG"
                        type="submit"
                        class="{{vm.activar ? 'btnguardarDisabledDNP' : 'btnguardarDNP'}}"
                        tooltip-placement="top"
                        uib-tooltip="Guardar"
                        ng-click="vm.Guardar()"
                        ng-disabled="vm.activar">
                    GUARDAR
                </button>
            </span>
        </div>
        <div id="APRAPRDECISION" class="hidden mb-3 ml-5 errorSeccionInformacionGeneralViabilidad" style="text-align: left; font-family: 'Work Sans Roman', 'Work Sans Regular Roman', 'Work Sans'; font-size: 12px; font-style: normal; color: #A80521;"></div>
        <div id="APRAPRFECAPRO" class="hidden mb-3 ml-5 errorSeccionInformacionGeneralViabilidad" style="text-align: left; font-family: 'Work Sans Roman', 'Work Sans Regular Roman', 'Work Sans'; font-size: 12px; font-style: normal; color: #A80521;"></div>
        <div id="APRAPRFECACTADM" class="hidden mb-3 ml-5 errorSeccionInformacionGeneralViabilidad" style="text-align: left; font-family: 'Work Sans Roman', 'Work Sans Regular Roman', 'Work Sans'; font-size: 12px; font-style: normal; color: #A80521;"></div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 5px;">
                <span class="labelQuestions" style="padding-left: 5px;">1.¿El proyecto fue aprobado por la entidad o instancia?*</span>
            </div>
        </div>
        <div class="col-md-12" style="text-align: left;">
            <div id="PreguntaObligatoria" class="hidden" style="text-align: left;">
                <img class="" src="Img/u4630.svg">
                <span class="messagealerttableDNP" style="text-align: left;font-family: 'Work Sans'; font-size: 14px; font-style: normal;">
                    Campo obligatorio.
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3 form-check" style="text-align: left; padding-left: 6px;">
                    <input type="radio" id="radio1" ng-disabled="vm.activar" name="optradio" ng-model="vm.AprobacionProyectoDetalle.Aprobado" value="true" ng-value="true" ng-change="vm.solicitaConceptoChange()">
                    <label for="radio1" style="padding-right: 78px;">
                        Si
                    </label>
                    <input type="radio" id="radio2" ng-disabled="vm.activar" name="optradio" ng-model="vm.AprobacionProyectoDetalle.Aprobado" value="false" ng-value="false" ng-change="vm.solicitaConceptoChange()">
                    <label for="radio2">
                        No
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 5px;">
                <span class="labelQuestions" style="padding-left: 5px;">2.¿Fecha de decisión de aprobación o no aprobación? *</span>
            </div>
        </div>
        <div class="col-md-12" style="text-align: left;">
            <div id="PreguntaObligatoria1" class="hidden" style="text-align: left;">
                <img class="" src="Img/u4630.svg">
                <span class="messagealerttableDNP" style="text-align: left;font-family: 'Work Sans'; font-size: 14px; font-style: normal;">
                    Campo obligatorio - la fecha no debe ser superior a la fecha actual.
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" style="margin-top: 10px; padding-left: 6px;">
                <input type="date" id="FechaAprobacion" class="form-control selectDNP" ng-disabled="vm.activar" name="FechaAprobacion" max="{{vm.fechahoy}}"
                       ng-model="vm.AprobacionProyectoDetalle.FechaAprobacion"/>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 5px;">
                <span class="labelQuestions" style="padding-left: 5px;">3.¿Fecha de publicación del acto administrativo? </span>
            </div>
        </div>
        <div class="col-md-12" style="text-align: left; ">
            <div id="PreguntaObligatoria2" class="hidden" style="text-align: left;">
                <img class="" src="Img/u4630.svg">
                <span class="messagealerttableDNP" style="text-align: left;font-family: 'Work Sans'; font-size: 14px; font-style: normal;">
                    Fecha debe ser menor a la fecha de hoy.
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" style="margin-top: 10px; padding-left: 6px;">
                <input type="date" id="FechaActoAdmtvo" class="form-control selectDNP" ng-disabled="vm.activar" name="FechaActoAdmtvo" 
                       ng-model="vm.AprobacionProyectoDetalle.FechaActoAdmtvo" />                
            </div>
        </div>

        <!--Sesión Espacio Formulario-->
        <div class="col-md-12">
            <div class="col-md-6">
                &nbsp;
            </div>
            <div class="col-md-6">
                &nbsp;
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                &nbsp;
            </div>
            <div class="col-md-6">
                &nbsp;
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                &nbsp;
            </div>
            <div class="col-md-6">
                &nbsp;
            </div>
        </div>
    </form>
</div>