<section ng-init="vm.init();" class="mx-5">
    <h3 class="text-left ui-seccion-title">{{vm.titulo}}</h3>
    <div class="row mb-5">
        <div class="col-md-12 text-left">
            <span>
                <strong>Ruta: </strong> Focalización / Categorías políticas transversales               
            </span>
        </div>
    </div>

    <!--Otras Politicas-->
    <div class="row mb-5">
        <div class="row">
            <div class="" style="padding: 0 !important">
                <div class="alert panel-headingAccDNP">
                    <div class="card card-body pull-left  divAccordionDNP">
                        <span class="uLabelCampo"> Políticas a validar</span>
                        <p class="panelbtnalertAcordnp">
                            <button class="btnaccion btnAccordionDNP" type="button" data-toggle="collapse" data-target="#objFocalizacionJustificacion" ng-click="vm.AbrilNivel()">
                                <img id="imgmas-otras-politicas" src="Img/btnMas.svg">
                                <img id="imgmenos-otras-politicas" style="display:none" src="Img/btnMenos.svg">
                                <span id="ico-otras-politicas" style="display:none">+</span>
                            </button>
                        </p>
                    </div>
                </div>
                <br />
                <div class="collapse" id="objFocalizacionJustificacion">
                    <div class="LineaEncabezadodivDNP"></div>
                    <h3 class="row tituloEncabezadodivDNP">Políticas</h3>
                    <div>
                        <div class="alert panel-headingAcc2DNP">
                            <div id="justificacionpoliticaspol" class="collapsed panel-body">
                                <div class="row" ng-repeat="politica in vm.AjustesJustificaionRegionalizacion.Politicas" ng-init="indexpoliticas = $index">
                                    <!--<div ng-if="politica.VerPolitica === 1">-->
                                        <span class="buttonbar pull-right">
                                            <button class="btnaccion btnAccordionDNP" type="button" ng-click="vm.volver()">
                                                <img src="Img/scroll_to.svg">
                                            </button>
                                        </span>
                                        <div class="row" style="color: #004884">
                                            <div class="" style="padding: 0 !important">
                                                <div class="alert panel-heading" style="height:50px">                                                    
                                                    <div class="card card-body pull-left  divAccordionDNP">
                                                        <span class="uLabelCampo">{{politica.Politica}}</span>
                                                        <p class="panelbtnalertAcordnp">
                                                            <button class="btnaccion btnAccordionDNP" type="button" data-toggle="collapse" data-target="#obj-{{politica.PoliticaId}}-{{indexpoliticas}}" ng-click="vm.AbrilNivel1(politica.PoliticaId, indexpoliticas, politica.CategoriaId, politica.Fuenteid, politica.ProductoId, politica.LocalizacionId)">
                                                                <img id="imgmas-{{politica.PoliticaId}}-{{indexpoliticas}}" src="Img/btnMas.svg">
                                                                <img id="imgmenos-{{politica.PoliticaId}}-{{indexpoliticas}}" style="display:none" src="Img/btnMenos.svg">
                                                                <span id="ico-{{politica.PoliticaId}}-{{indexpoliticas}}" style="display:none">+</span>
                                                            </button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="collapse" id="obj-{{politica.PoliticaId}}-{{indexpoliticas}}">
                                                <div class="LineaEncabezadodivDNP" style="height:67px"></div>
                                                <h3 class="row tituloEncabezadodivDNP">Política</h3>

                                                <div class="row" ng-repeat="politicas in politica.DetallePoliticas">
                                                    <!--<div ng-if="politicas.Visible === 1">-->
                                                        <div class="row" style="text-align:justify">
                                                            <div class="col-md-1">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <h4 class="text-right ui-seccion-title">Nombre de la Política</h4>
                                                            </div>
                                                            <div class="col-md-8" style="color:grey">
                                                                {{politicas.Politica}}
                                                            </div>
                                                        </div>
                                                        <div class="row" style="text-align:justify">
                                                            <div class="col-md-1">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <h4 class="text-right ui-seccion-title">Categoria - Subcategoria</h4>
                                                            </div>
                                                            <div class="col-md-8" style="color:grey">
                                                                {{politicas.NombreCategoria}} - {{politicas.SubCategoria}}
                                                            </div>
                                                        </div>
                                                        <div class="row" style="text-align:justify">
                                                            <div class="col-md-1">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <h4 class="text-right ui-seccion-title">Fuente</h4>
                                                            </div>
                                                            <div class="col-md-8" style="color:grey">
                                                                {{politicas.Etapa}} {{politicas.TipoFinanciador}} {{politicas.Financiador}} {{politicas.Recurso}}
                                                            </div>
                                                        </div>
                                                        <div class="row" style="text-align:justify">
                                                            <div class="col-md-1">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <h4 class="text-right ui-seccion-title">Nombre del producto</h4>
                                                            </div>
                                                            <div class="col-md-8" style="color:grey">
                                                                {{politicas.NombreProducto}}
                                                            </div>
                                                        </div>
                                                        <div class="row" style="text-align:justify">
                                                            <div class="col-md-1">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <h4 class="text-right ui-seccion-title">Localización</h4>
                                                            </div>
                                                            <div class="col-md-8" style="color:grey">
                                                                {{politicas.Departamento}} {{politicas.Municipio}} {{politicas.NombreTipoAgrupacion}} {{politicas.Agrupacion}}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 mb-4">
                                                            <ul class="nav nav-tabs">
                                                                <li id="liRecursos" ng-if="politicas.Recursos !== null">
                                                                    <a href="" ng-click="vm.mostrarTab(1,politicas.PoliticaId, politicas.CategoriaId, politicas.Fuenteid, politicas.ProductoId, politicas.LocalizacionId, indexpoliticas)" data-toggle="tab">
                                                                        <b>Recursos</b>
                                                                    </a>
                                                                </li>
                                                                <li id="liMetas" ng-if="politicas.Metas !== null">
                                                                    <a href="" ng-click="vm.mostrarTab(2, politicas.PoliticaId, politicas.CategoriaId, politicas.Fuenteid, politicas.ProductoId, politicas.LocalizacionId, indexpoliticas)" data-toggle="tab">
                                                                        <b>Metas</b>
                                                                    </a>
                                                                </li>
                                                                <li id="liPersonas" ng-if="politicas.Personas !== null">
                                                                    <a href="" ng-click="vm.mostrarTab(3, politicas.PoliticaId, politicas.CategoriaId, politicas.Fuenteid, politicas.ProductoId, politicas.LocalizacionId, indexpoliticas)" data-toggle="tab">
                                                                        <b>Personas</b>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                            <div id="divresumenjustificacionfocalizacion" class="mt-5">
                                                                <div ng-if="politicas.Recursos !== null" id="recursos{{politicas.PoliticaId}}-{{politicas.CategoriaId}}-{{politicas.Fuenteid}}-{{politicas.ProductoId}}-{{politicas.LocalizacionId}}-{{indexpoliticas}}">
                                                                    <table class="TableDNP">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="columAcc"></th>
                                                                                <th class="textRightDNP">Vigencia</th>
                                                                                <th class="textRightDNP">En firme $</th>
                                                                                <th class="textRightDNP">En ajuste $</th>
                                                                                <th class="textRightDNP">Diferencia</th>
                                                                                <th class="columAcc"></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr class="uTexto-grilla" ng-repeat="objResumen in politicas.Recursos">
                                                                                <td></td>
                                                                                <td class="textRightDNP">{{objResumen.Vigencia}}</td>
                                                                                <td class="textRightDNP">{{objResumen.ValorFirme}}</td>
                                                                                <td class="textRightDNP">{{objResumen.ValorActual}}</td>
                                                                                <td class="textRightDNP">{{objResumen.Diferencia}}</td>
                                                                                <td></td>
                                                                            </tr>
                                                                        </tbody>
                                                                        <tfoot>
                                                                            <tr>
                                                                                <td class="columAcc icontotaldnp"><span>=</span></td>
                                                                                <td class="textRightDNP">Total</td>
                                                                                <td class="textRightDNP"><div class="blockReferenciaDNP">{{politicas.Recursos.ValorFirme}}</div></td>
                                                                                <td class="textRightDNP"><div class="blockReferenciaDNP">{{politicas.Recursos.ValorAjuste}}</div></td>
                                                                                <td class="textRightDNP"><div class="blockReferenciaDNP">{{politicas.Recursos.ValorDiferencia}}</div></td>
                                                                                <td></td>
                                                                            </tr>
                                                                        </tfoot>
                                                                    </table>
                                                                </div>
                                                                <div ng-if="politicas.Metas !== null" id="metas{{politicas.PoliticaId}}-{{politicas.CategoriaId}}-{{politicas.Fuenteid}}-{{politicas.ProductoId}}-{{politicas.LocalizacionId}}-{{indexpoliticas}}">
                                                                    <table class="TableDNP">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="columAcc"></th>
                                                                                <th class="textRightDNP">Vigencia</th>
                                                                                <th class="textRightDNP">Meta categoria en firme</th>
                                                                                <th class="textRightDNP">Meta categoria en ajuste</th>
                                                                                <th class="textRightDNP">Diferencia</th>
                                                                                <th class="columAcc"></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr class="uTexto-grilla" ng-repeat="objResumen in politicas.Metas">
                                                                                <td></td>
                                                                                <td class="textRightDNP">{{objResumen.Vigencia}}</td>
                                                                                <td class="textRightDNP">{{objResumen.MetaFirme }}</td>
                                                                                <td class="textRightDNP">{{objResumen.MetaActual}}</td>
                                                                                <td class="textRightDNP">{{objResumen.Diferencia}}</td>
                                                                                <td></td>
                                                                            </tr>
                                                                        </tbody>
                                                                        <tfoot>
                                                                            <tr>
                                                                                <td class="columAcc icontotaldnp"><span>=</span></td>
                                                                                <td class="textRightDNP">Total</td>
                                                                                <td class="textRightDNP"><div class="blockReferenciaDNP">{{politicas.Metas.ValorFirme}}</div></td>
                                                                                <td class="textRightDNP"><div class="blockReferenciaDNP">{{politicas.Metas.ValorAjuste}}</div></td>
                                                                                <td class="textRightDNP"><div class="blockReferenciaDNP">{{politicas.Metas.ValorDiferencia}}</div></td>
                                                                                <td></td>
                                                                            </tr>
                                                                        </tfoot>
                                                                    </table>
                                                                </div>
                                                                <div ng-if="politicas.Personas !== null" id="personas{{politicas.PoliticaId}}-{{politicas.CategoriaId}}-{{politicas.Fuenteid}}-{{politicas.ProductoId}}-{{politicas.LocalizacionId}}-{{indexpoliticas}}">
                                                                    <table class="TableDNP">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="columAcc"></th>
                                                                                <th class="textRightDNP">Vigencia</th>
                                                                                <th class="textRightDNP">Personas categoria en firme</th>
                                                                                <th class="textRightDNP">Personas categoria en ajuste</th>
                                                                                <th class="textRightDNP">Diferencia</th>
                                                                                <th class="columAcc"></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr class="uTexto-grilla" ng-repeat="objResumen in politicas.Personas">
                                                                                <td></td>
                                                                                <td class="textRightDNP">{{objResumen.Vigencia}}</td>
                                                                                <td class="textRightDNP">{{objResumen.PersonasFirme}}</td>
                                                                                <td class="textRightDNP">{{objResumen.PersonasActual}}</td>
                                                                                <td class="textRightDNP">{{objResumen.Diferencia}}</td>
                                                                                <td></td>
                                                                            </tr>
                                                                        </tbody>
                                                                        <tfoot>
                                                                            <tr>
                                                                                <td class="columAcc icontotaldnp"><span>=</span></td>
                                                                                <td class="textRightDNP">Total</td>
                                                                                <td class="textRightDNP"><div class="blockReferenciaDNP">{{politicas.Personas.ValorFirme}}</div></td>
                                                                                <td class="textRightDNP"><div class="blockReferenciaDNP">{{politicas.Personas.ValorAjuste}}</div></td>
                                                                                <td class="textRightDNP"><div class="blockReferenciaDNP">{{politicas.Personas.ValorDiferencia}}</div></td>
                                                                                <td></td>
                                                                            </tr>
                                                                        </tfoot>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <br />
                                                        </div>
                                                        <br />
                                                    <!--</div>-->
                                                </div>
                                                <div class="row mb-4">
                                                    <div class="col-md-12 text-left">
                                                        <h4 class="uLabelCampo">Detalle del ajuste</h4>
                                                        <ul class="pl-4">
                                                            <li ng-repeat="detalle in politica.Detalle">
                                                                <span style="color:#4b4b4b;">{{detalle}}</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <br />
                                            </div>

                                        </div>
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row my-4" ng-if="vm.VerJustificacionOtrasPoliticas == 1">
                        <div class="col-md-12 mt-3 mb-3">
                            <div class="row">
                                <div class="col-md-8 text-left">
                                    <h4 class="text-left ui-seccion-title">Justificación</h4>
                                </div>
                                <div class="col-md-4 text-right">
                                    <button type="button" class="{{vm.isEdicion ? 'btn btncancelarHorizonte' : 'btn btncancelarHorizonte'}}" tooltip-placement="top" ng-click="vm.isEdicion ? vm.editar('cancelar') : vm.editar('editar')" uib-tooltip="{{vm.isEdicion ? 'CANCELAR' : 'EDITAR'}}" ng-if="!vm.soloLectura">
                                        {{vm.isEdicion ? 'CANCELAR' : 'EDITAR'}}
                                    </button>
                                    <button ng-click="vm.guardar()" type="button" id="btn-guardar-edicion-ff" ng-class="vm.ClasesbtnGuardar" tooltip-placement="auto" uib-tooltip="Guardar" ng-if="!vm.soloLectura">GUARDAR</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-left">
                                    <span>
                                        <strong>Justifique la modificación* </strong> (Máximo 8.000 caracteres)
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div id="focalizacionpolsgpcategoriapoliticassintramitesgp-justificacion-error" class="hidden text-left color-red">
                                <img class="img img-advertencia" src="Img/u11.svg" />
                                <span id="focalizacionpolsgpcategoriapoliticassintramitesgp-justificacion-error-mns"></span>
                            </div>
                            <textarea rows="3"
                                      id="justificacionfocapt"
                                      name="justificacionfocapt"
                                      ng-model="vm.justificacion"
                                      placeholder="Maximo 8.000 caracteres"
                                      minlength="1"
                                      maxlength="8000"
                                      class="form-control disabled" ng-required="true"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
</section>