<div ng-init="vm.init();">
    <form id="tecnicoespecificasForm" name="tecnicoespecificasForm" novalidate>
        <br>
        <span class="buttonbar pull-right">
            <button id="EditarTE"
                    type="button"
                    class="btneditarDNP"
                    tooltip-placement="top"
                    uib-tooltip="Editar"
                    tabindex="0"
                    ng-click="vm.ActivarEditar()"
                    ng-disabled="vm.disabled">
                EDITAR
            </button>
            &nbsp;
            <button has-claim has-opciones="['viabilidad:preguntasTecnicoGuardar']"
                    id="GuardarTE"
                    type="submit"
                    class="{{vm.activar ? 'btnguardarDisabledDNP' : 'btnguardarDNP'}}"
                    tooltip-placement="top"
                    uib-tooltip="Guardar"
                    ng-click="vm.guardarTecnico(vm.PreguntasPersonalizadas)"
                    ng-disabled="vm.activar">
                GUARDAR
            </button>
        </span>
        <br />
        <br />
        <div class="input-group pull-right">
            <input type="search" ng-model="vm.codigoE" class="form-control InputSearchDNP " placeholder="Buscar">
            <span class="input-group-append imgTituloAccion spanSearchDNP" ng-click="vm.buscarEspecificas()">
                <i class="fa fa-search "></i>
            </span>
        </div>
        <br />
        <div class="col-md-12">
            <label id="labelResultadoTE" class="col-md-12 col-form-label" style="text-align: left;font-family: 'Work Sans Roman', 'Work Sans Regular Roman', 'Work Sans'; color: #004884; font-size: 14px; font-style: normal;"></label>
        </div>
        <br />
        <div ng-repeat="preguntasEspecificas in vm.PreguntasPersonalizadas.PreguntasEspecificas" ng-init="preguntasEspecificasIndex = $index">
            <div class="row">
                <div class="" style="padding: 0 !important">
                    <div class="alert panel-headingAccDNP">
                        <div class="card card-body pull-left  divAccordionDNP">
                            <span class="uLabelCampo">{{preguntasEspecificas.Tematica}}</span>
                            <div class="line-clamp">

                            </div>
                            <p class="panelbtnalertAcordnp">
                                <button class="btnaccion btnAccordionDNP" type="button" data-toggle="collapse" data-target="#TematicaIdTE{{preguntasEspecificas.OrdenTematica}}" ng-click="vm.BtnTematica(preguntasEspecificas.OrdenTematica)">
                                    <img id="imgTE{{preguntasEspecificas.OrdenTematica}}" src="Img/btnMas.svg">
                                </button>
                                <img id="u9_imgTE{{preguntasEspecificas.OrdenTematica}}" class="imgViabilidad" src="Img/u9.svg" style="display:none;">
                                <span class="d-inline-block" id="alert-viabilidadtecnicoespecificas{{preguntasEspecificas.OrdenTematica}}"></span>
                            </p>
                        </div>
                    </div>
                    <div class="collapse" id="TematicaIdTE{{preguntasEspecificas.OrdenTematica}}" style="padding-left: 40px !important; padding-top: 0 !important">
                        <br />
                        <div class="LineaEncabezadodivDNP"></div>
                        <h3 class="row tituloEncabezadodivDNP">
                            <!--Items Nivel 1-->
                        </h3>
                        <div ng-repeat="pregunta in preguntasEspecificas.Preguntas" ng-init="preguntaEIndex = $index">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-1 filaoberDNP">
                                        <span id="spanIdT{{pregunta.IdPregunta}}" class="keyPregResObservapDNP">{{pregunta.IdPregunta}}</span>
                                        <span class="d-inline-block" id="alert-viabilidadtecnicoespecificas{{preguntasEspecificas.OrdenTematica}}{{pregunta.IdPregunta}}"></span>
                                    </div>
                                    <div class="col-md-11 DetacolumnDNP" style="text-align:justify">
                                        <label id="labelIdT{{pregunta.IdPregunta}}" for="pregunta" class="detapregun">{{pregunta.Pregunta}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-1">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-5" style="text-align:left">
                                        <div class="col-md-2 form-check" ng-repeat="opciones in pregunta.OpcionesRespuesta">
                                            <input type="radio" ng-model="vm.PreguntasPersonalizadas.PreguntasEspecificas[preguntasEspecificasIndex].Preguntas[preguntaEIndex].Respuesta" name="RespuestaT{{pregunta.IdPregunta}}" value="{{opciones.OpcionId}}" id="RespuestaT{{pregunta.IdPregunta}}" ng-disabled="vm.activar"> {{opciones.ValorOpcion}}
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="text-align:justify">
                                        <p>
                                            <img data-toggle="collapse" data-target="#opcionesIdT{{pregunta.IdPregunta}}" aria-expanded="false" class="img" src="Img/u32.svg">
                                        </p>
                                        <div class="collapse" id="opcionesIdT{{pregunta.IdPregunta}}">
                                            <div class="card card-body">
                                                {{pregunta.AyudaOpcionesRespuesta}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-6">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6" style="text-align:left">
                                        <span class="spanPregResObservapDNP"> Explicación </span><span class="contPregunObservaDNP">(1)</span>
                                    </div>
                                    <div class="col-md-6" style="text-align:left">
                                        <span class="spanPregResObservapDNP"> Justificación </span><span class="notapregun">(Máximo 5.000 caracteres)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6 divPanelPregResObservapDNP">
                                        <div class="textAreDivRes">
                                            <textarea rows="5"
                                                      ng-disabled="true"
                                                      class="textareObservaDNP">{{pregunta.Explicacion}}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6 divPanelPregResObservapDNP margindnpobser">
                                        <div class="textAreDivRes2">
                                            <textarea rows="3"
                                                      id="justificacionT{{pregunta.IdPregunta}}"
                                                      name="justificacionT{{pregunta.IdPregunta}}"
                                                      placeholder="Justifique su respuesta."
                                                      ng-model="vm.PreguntasPersonalizadas.PreguntasEspecificas[preguntasEspecificasIndex].Preguntas[preguntaEIndex].ObservacionPregunta"
                                                      ng-value="pregunta.ObservacionPregunta"
                                                      minlength="1"
                                                      maxlength="5000"
                                                      class="textareObservaDNP"
                                                      ng-disabled="vm.activar">
											</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-6">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>