.labelInfo {
    font-family: 'Work Sans Medium Roman', 'Work Sans Regular Roman', 'Work Sans';
    font-weight: 500;
}

.label-sub-Info {
    font-family: 'Work Sans Medium Roman', 'Work Sans Regular Roman', 'Work Sans';
    font-weight: 700;
}
