<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--STS-->
    <add key="STSAPPName" value="PIIPTest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="STSRealm" value="https://piip.dnp.gov.co/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--AZURE-->
    <add key="ApiAutorizacion" value="https://as-autorizacionweb-api-piip.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiIdentidad" value="https://identidadapi-piip.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ida:RedirectUri" value="https://backbone-piip.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BackboneURL" value="https://backbone-piip.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiBackbone" value="https://as-backbone-api-piip.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiMensajeria" value="https://mensajeriawebapi-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiAuditoria" value="https://as-auditoria-api-piip.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--AZURE-->

    <!--Application Insights-->
 
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="true" name="MGAWebAppFedAuth" path="/" persistentSessionLifetime="0:10:0"/>
      <wsFederation passiveRedirectEnabled="true" issuer="https://sts.dnp.gov.co/" realm="https://piip.dnp.gov.co/" requireHttps="true" xdt:Transform="Replace" />
    </federationConfiguration>
  </system.identityModel.services>

</configuration>