<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--AZURE-->
    <add key="AdministracionURL" value="https://as-administracion-sitio-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BackboneURL" value="https://as-backbone-sitio-sgr.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiPiipCore" value="https://as-formularios-api-ntcdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiServicioNegocio" value="https://as-serviciosnegocios-api-sgr.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiBackbone" value="https://as-backbone-api-sgr.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiMotorFlujos" value="https://as-motorflujos-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiAuditoria" value="https://as-auditoria-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiMensajeria" value="https://mensajeriawebapi-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiAutorizacion" value="https://as-autorizacion-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiNotificacion" value="https://as-notificaciones-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiIdentidad" value="https://as-identidad-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiArchivo" value="https://as-archivos-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="pdf:Backbone" value="https://as-backbone-sitio-sgr.azurewebsites.net/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiCache" value="https://as-serviciosnegocio-api-sgr.azurewebsites.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiFichasProyectos" value="http://as-fichasproyectos-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiManejadorArchivos" value="https://as-manejadorarchivos-api-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--<add key="ApiManejadorArchivos" value="https://as-manejadorarchivos-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->
    <add key="KeyCollection" value="Archivos" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--AZURE-->

    <!--STS-->
    <add key="STSAPPName" value="PIIPSGR"/>
    <add key="STSRealm" value="https://as-backbone-sitio-sgr.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="STSIssuer" value="https://sts-test.dnp.gov.co/WebServices/CredentialStoreService.asmx"/>
    <add key="STSWebServiceUser" value="itcert:#79987654"/>
    <add key="STSWebServicePassword" value="Test@123"/>

    <!--B2C-->
    <add key="b2c:Tenant" value="dnpb2c.onmicrosoft.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="b2c:ClientId" value="e01c928d-e8a7-4dba-9e01-ab88099653b6" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="b2c:PolicySignin" value="B2C_1_Sign_in" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--B2B-->
    <add key="b2b:Tenant" value="dnp.gov.co" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="b2b:ClientId" value="bc4293dd-1b04-44c0-93a0-98732ba5f16f" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--AAD-->
    <!-- METADADOS -->
    <!--<add key="ida:MultiTenantClientId" value="25bb44ae-5e84-476d-ae15-21a54e89af92" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->
    <add key="ida:MultiTenantClientId" value="5b4ca295-7da1-44ab-aa6a-9d555b75e433" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:MetadataAddress" value="https://as-identidad-sitio-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:RedirectUri" value="https://as-backbone-sitio-sgr.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--Application Insights-->
    <add key="InstrumentationKey" value="95df2959-854f-40d2-97f4-cff512bf9e8e" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="InstrumentationEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--Paginacion-->
    <add key="TopePaginacionConsultaAplicaciones" value="10" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TopePaginacion" value="15" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MaximoPaginas" value="10" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--Ids de tipos de objetos de negocio-->
    <add key="IdTipoProyecto" value="bc154cba-50a5-4209-81ce-7c0ff0aec2ce" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IdTipoTramite" value="9c5ef8c1-da05-48b9-ba29-00c9efd7a774" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--Nombre troca de modulos-->
    <add key="NombreEntorno" value="NTDEV" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="false" name="MGAWebAppFedAuth" path="/" persistentSessionLifetime="0:10:0"/>
      <wsFederation passiveRedirectEnabled="true" issuer="https://sts-test.dnp.gov.co/" realm="https://as-backbone-sitio-sgr.azurewebsites.net/" requireHttps="false" xdt:Transform="Replace" />
    </federationConfiguration>
  </system.identityModel.services>

</configuration>