<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
    <!--STS-->
    <add key="STSAPPName" value="PIIPSTSLocal" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="STSRealm" value="http://localhost:3024/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--LOCALHOST-->
    <add key="ApiAutorizacion" value="http://localhost:10221/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiIdentidad" value="http://localhost:8058/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:RedirectUri" value="http://localhost:3024/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BackboneURL" value="http://localhost:3024/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiBackbone" value="http://localhost:3240/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--<add key="ApiMensajeria" value="http://localhost:41055/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->
		<!--LOCALHOST-->

    <!--AZURE-->
    <!--<add key="ApiBackbone" value="https://as-backbone-api-piip.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    <add key="ApiMensajeria" value="https://mensajeriawebapi-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiAuditoria" value="https://as-auditoria-api-piip.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--AZURE-->

		<!--Application Insights-->
		<add key="InstrumentationKey" value="95df2959-854f-40d2-97f4-cff512bf9e8e" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="InstrumentationEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<!--Paginacion-->
		<add key="TopePaginacionConsultaAplicaciones" value="10" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="TopePaginacion" value="15" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="MaximoPaginas" value="10" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<!--Ids de tipos de objetos de negocio-->
		<add key="IdTipoProyecto" value="bc154cba-50a5-4209-81ce-7c0ff0aec2ce" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="IdTipoTramite" value="9c5ef8c1-da05-48b9-ba29-00c9efd7a774" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<!--Nombre troca de modulos-->
		<add key="NombreEntorno" value="LOCAL" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>

  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="false" name="MGAWebAppFedAuth" path="/" persistentSessionLifetime="0:10:0"/>
      <wsFederation passiveRedirectEnabled="true" issuer="https://sts-test.dnp.gov.co/" realm="http://localhost:3024/" requireHttps="false" xdt:Transform="Replace" />
    </federationConfiguration>
  </system.identityModel.services>

</configuration>