<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="Env" value="UAT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:MetadataAddress" value="https://as-identidad-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:MetadataAddressOpenId" value="OpenId/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:RedirectUri" value="https://as-backbone-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiCache" value="https://cacheentidadesnegociowebapi-uat.azurewebsites.net/"/>

    <add key="ApiAuditoria" value="https://auditoriawebapi-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiMensajeria" value="https://mensajeriawebapi-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiAutorizacion" value="https://autorizacionwebapi-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiNotificacion" value="https://notificacionwebapi-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiPiipCore" value="https://as-formularios-api-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiIdentidad" value="https://as-identidad-api-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiBackbone" value="https://as-backbone-api-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiServicioNegocio" value="https://as-serviciosnegocio-api-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiMotorFlujos" value="https://as-motorflujos-api-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiArchivo" value="https://as-archivos-api-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="pdf:Backbone" value="https://as-backbone-sitio-uat.azurewebsites.net/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--<add key="b2c:ClientId" value="920f6a03-4e91-4f28-b72e-4f25a8d53263" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    <add key="ApiManejadorArchivos" value="https://dnpmanejadorarchivosapi.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--B2C-->
    <add key="b2c:Tenant" value="dnpb2c.onmicrosoft.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="b2c:ClientId" value="e52427a6-af99-4022-ae89-d72b609bc63d" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="b2c:PolicySignin" value="B2C_1_Sign_in" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--B2B-->
    <add key="b2b:Tenant" value="dnp.gov.co" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="b2b:ClientId" value="bc4293dd-1b04-44c0-93a0-98732ba5f16f" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--Application Insights-->
    <add key="InstrumentationKey" value="8aa5af5f-2024-4ef3-bdd9-d897b33adfe1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="InstrumentationEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="KeyCollection" value="Archivos" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->

  </system.web>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="false" name="MGAWebAppFedAuth" path="/" persistentSessionLifetime="0:10:0"/>
      <wsFederation passiveRedirectEnabled="true" issuer="https://sts-test.dnp.gov.co/" realm="https://backbone-cap.azurewebsites.net/" requireHttps="false" xdt:Transform="Replace" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>