<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<!--AZURE-->
    <add key="ApiServicioNegocio" value="https://as-serviciosnegocios-api-ntuat.azurewebsites.net/"/>
    <add key="ApiServicioNegocioWBS" value="https://as-serviciowbs-api-ntuat.azurewebsites.net/"/>
    <add key="AdministracionURL" value="https://as-administracion-sitio-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="BackboneURL" value="https://as-backbone-sitio-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ApiPiipCore" value="https://as-formularios-api-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiCache" value="https://cacheentidadesnegociowebapi-uatntc.azurewebsites.net/"/>
    <add key="ApiServicioNegocio" value="https://as-serviciosnegocios-api-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ApiBackbone" value="https://as-backbone-api-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ApiMotorFlujos" value="https://as-motorflujos-api-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ApiAuditoria" value="https://as-auditoria-api-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ApiMensajeria" value="https://as-mensajeria-api-ntuat.azurewebsites.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ApiAutorizacion" value="https://as-autorizacion-api-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ApiNotificacion" value="https://as-notificaciones-api-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ApiIdentidad" value="https://as-identidad-api-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ApiArchivo" value="https://as-archivos-api-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="pdf:Backbone" value="https://as-backbone-sitio-ntuat.azurewebsites.net/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="ApiCache" value="https://as-serviciosnegocio-api-uat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="ApiManejadorArchivos" value="https://as-manejadorarchivos-api-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="KeyCollection" value="Archivos" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="ApiFichasProyectos" value="https://as-fichasproyectos-api-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!--AZURE-->

    <!--STS-->
    <add key="STSAPPName" value="PIIPBackboneQA"/>
    <add key="STSRealm" value="https://as-backbone-sitio-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="STSIssuer" value="https://sts-test.dnp.gov.co/WebServices/CredentialStoreService.asmx"/>
    <add key="STSWebServiceUser" value="itcert:#79987654"/>
    <add key="STSWebServicePassword" value="Test@123"/>

    <!--B2C-->
		<add key="b2c:Tenant" value="dnpb2c.onmicrosoft.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="b2c:ClientId" value="e52427a6-af99-4022-ae89-d72b609bc63d" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="b2c:PolicySignin" value="B2C_1_Sign_in" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!--B2B-->
		<add key="b2b:Tenant" value="dnp.gov.co" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="b2b:ClientId" value="bc4293dd-1b04-44c0-93a0-98732ba5f16f" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<!--AAD-->
		<!-- METADADOS -->
		<add key="ida:MultiTenantClientId" value="5530698e-c40a-4af3-ba9e-5881bbf11e35" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ida:MetadataAddress" value="https://as-identidad-sitio-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="ida:RedirectUri" value="https://as-backbone-sitio-ntuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!--<add key="ida:RedirectUri" value="http://localhost:3024/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
		<add key="ida:AADInstance" value="https://login.microsoftonline.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<!--Application Insights-->
		<add key="InstrumentationKey" value="493f2422-4178-4441-a326-d755a935bf09" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="InstrumentationEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<!--Paginacion-->
		<add key="TopePaginacionConsultaAplicaciones" value="10" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="TopePaginacion" value="15" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="MaximoPaginas" value="10" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<!--Ids de tipos de objetos de negocio-->
		<add key="IdTipoProyecto" value="bc154cba-50a5-4209-81ce-7c0ff0aec2ce" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="IdTipoTramite" value="9c5ef8c1-da05-48b9-ba29-00c9efd7a774" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<!--Nombre troca de modulos-->
		<add key="NombreEntorno" value="NTUAT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
	</system.web>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="true" name="MGAWebAppFedAuth" path="/" persistentSessionLifetime="0:10:0"/>
      <wsFederation passiveRedirectEnabled="true" issuer="https://sts-test.dnp.gov.co/" realm="https://as-backbone-sitio-ntuat.azurewebsites.net/" requireHttps="true" xdt:Transform="Replace" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>