<div class="modal-header" ng-init="vm.init()">
    <button type='button' class='swal2-close closemodalDNP' aria-label='Close this dialog' data-dismiss="modal" ng-click="vm.cerrar()">×</button>
    <h3 class="text-left ui-seccion-title">
        <span class="encabezadoTitulos">Agregar Indicador </span>
    </h3>
</div>
<div class="modal-body">
    <div>
        <span class="encabezadoTitulos">  Politica {{vm.nombrePoliticaSelec}}</span>
    </div>
    <div>
        <span class="encabezadoTitulos">Categoría {{vm.nombreSubCategoriaSelec}}</span>
    </div>
    <div>
        <span class="encabezadoTitulos">Subcategoría  {{vm.nombreCategoriaSelec}}</span>
    </div>
    <div>
        <label for="entidad" class="form-label"><m>{{vm.Mensajeindicadores}}</m></label>
    </div>
    <br />
    <div style="border-width: 0px;left: 0px; top: 0px; width: 624px; height: 161px; overflow: auto; -webkit-overflow-scrolling: touch; -ms-overflow-x: hidden; overflow-x: hidden; background-image: none; border: none; border-radius: 0px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;">
        <div class="containerchek">
            <ul>
                <li ng-repeat="IndicadoresCatag in vm.listaPoliticasCategoriasIndicadores">
                    <input type="checkbox" id="ChckIndicador_{{IndicadoresCatag.IndicadorId}}" ng-change="vm.camSeleccion(IndicadoresCatag)" ng-model="IndicadoresCatag.isChecked" ng-value="IndicadoresCatag" ng-disabled="IndicadoresCatag.inhabilitar">
                    <label for="ChckIndicador_{{IndicadoresCatag.IndicadorId}}">{{IndicadoresCatag.Indicador}}</label>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer textCenterDNP">
    <button class="btneditarDNP" type="button" ng-click="vm.cerrar()">CANCELAR</button>
    <button class="btneditarDNP" type="button" ng-click="vm.guardar()">ACEPTAR</button>
</div>