<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <!--<add name="MGAWebContexto" connectionString="Server=tcp:sdb-piip-devsgr.database.windows.net;Initial Catalog=DB-PIIP-devsgr-MgaWeb;Persist Security Info=False;User ID=AppPiip;Password=PIIPdnp2021+*;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="MGAWebContextoSGR" connectionString="Server=tcp:sdb-piip-devsgr.database.windows.net;Initial Catalog=DB-PIIP-devsgr-MgaWeb;Persist Security Info=False;User ID=AppPiip;Password=PIIPdnp2021+*;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
    <!--<add name="MGAWebContexto" connectionString="Server=tcp:sdb-piip-uatntc.database.windows.net;Initial Catalog=DB-PIIP-uat-MgaWeb;Persist Security Info=False;User ID=AppPiip;Password=PIIPdnp2021+*;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="MGAWebContextoSGR" connectionString="Server=tcp:sdb-piip-uatntc.database.windows.net;Initial Catalog=DB-PIIP-uat-MgaWeb;Persist Security Info=False;User ID=AppPiip;Password=PIIPdnp2021+*;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
    <add name="MGAWebContexto" connectionString="Server=tcp:sdb-piip-uatntc.database.windows.net;Initial Catalog=DB-PIIP-UAT-MgaWeb;Persist Security Info=False;User ID=AppPiip;Password=PIIPdnp2021+*;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="MGAWebContextoSGR" connectionString="Server=tcp:sdb-piip-uatntc.database.windows.net;Initial Catalog=DB-PIIP-UAT-MgaWeb;Persist Security Info=False;User ID=AppPiip;Password=PIIPdnp2021+*;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="IdAplicacionServicioNegocio" value="59FFD1E2-B9C5-4315-BD70-0C28007C6AC2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--Application Insights-->
    <add key="InstrumentationKey" value="49404118-e104-4cec-ae32-472b668b507c" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="InstrumentationEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="ApiAuditoria" value="https://as-auditoria-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiAutorizacion" value="https://as-autorizacion-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--<add key="ApiAutorizacion" value="http://localhost:10221/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->
    <!--<add key="ApiPiipCore" value="https://as-formularios-api-ntcdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    <add key="ApiPiipCore" value="http://localhost:31573/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--<add key="ApiServicioNegocio" value="http://localhost:47900/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    <add key="ApiServicioNegocio" value="https://as-serviciosnegocios-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiMotorFlujos" value="http://localhost:49883/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiFicha" value="http://localhost:65500/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>


  </appSettings>

  <!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

  <configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
    <connectionStrings>
      <!--<add name="MGAWebContexto" connectionString="Server=tcp:sdb-piip-devsgr.database.windows.net;Initial Catalog=DB-PIIP-devsgr-MgaWeb;Persist Security Info=False;User ID=AppPiip;Password=PIIPdnp2021+*;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="MGAWebContextoSGR" connectionString="Server=tcp:sdb-piip-devsgr.database.windows.net;Initial Catalog=DB-PIIP-devsgr-MgaWeb;Persist Security Info=False;User ID=AppPiip;Password=PIIPdnp2021+*;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
      <!--<add name="MGAWebContexto" connectionString="Server=tcp:sdb-piip-uatntc.database.windows.net;Initial Catalog=DB-PIIP-uat-MgaWeb;Persist Security Info=False;User ID=AppPiip;Password=PIIPdnp2021+*;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="MGAWebContextoSGR" connectionString="Server=tcp:sdb-piip-uatntc.database.windows.net;Initial Catalog=DB-PIIP-uat-MgaWeb;Persist Security Info=False;User ID=AppPiip;Password=PIIPdnp2021+*;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
      <add name="MGAWebContexto" connectionString="Server=tcp:sdb-piip-uatntc.database.windows.net;Initial Catalog=DB-PIIP-UAT-MgaWeb;Persist Security Info=False;User ID=AppPiip;Password=PIIPdnp2021+*;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="MGAWebContextoSGR" connectionString="Server=tcp:sdb-piip-uatntc.database.windows.net;Initial Catalog=DB-PIIP-UAT-MgaWeb;Persist Security Info=False;User ID=AppPiip;Password=PIIPdnp2021+*;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    <appSettings>
      <add key="IdAplicacionServicioNegocio" value="59FFD1E2-B9C5-4315-BD70-0C28007C6AC2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

      <!--Application Insights-->
      <add key="InstrumentationKey" value="49404118-e104-4cec-ae32-472b668b507c" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="InstrumentationEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

      <add key="ApiAuditoria" value="https://as-auditoria-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="ApiAutorizacion" value="https://as-autorizacion-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <!--<add key="ApiAutorizacion" value="http://localhost:10221/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->
      <!--<add key="ApiPiipCore" value="https://as-formularios-api-ntcdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
      <add key="ApiPiipCore" value="http://localhost:31573/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

      <!--<add key="ApiServicioNegocio" value="http://localhost:47900/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
      <add key="ApiServicioNegocio" value="https://as-serviciosnegocios-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="ApiMotorFlujos" value="http://localhost:49883/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="ApiFicha" value="https://as-fichasproyectos-api-ntdev.azurewebsites.net/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>


    </appSettings>
    <system.web>
      <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    </system.web>
  </configuration>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>