<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--AZURE-->
    <add key="ApiAuditoria" value="https://as-auditoria-api-ntcdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiAutorizacion" value="https://as-autorizacion-api-ntdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiPiipCore" value="https://as-formularios-api-ntcdev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiCache" value="https://cacheentidadesnegociowebapi-dev.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--AZURE-->

    <add key="IdAplicacionServicioNegocio" value="180EEA30-5058-4591-A2A7-CB4A55BD9204" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--Application Insights-->
    <add key="InstrumentationKey" value="2a10ccd1-560c-4d8c-a979-755429d79e2f" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="InstrumentationEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="MGAWebContexto"
    connectionString="Server=tcp:sdb-piip-uatntc.database.windows.net,1433;Initial Catalog=DB-PIIP-UAT-MgaWeb;Persist Security Info=False;User ID=administrador;Password=!!ntc2020@@@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;"
    providerName="System.Data.SqlClient"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <!--<add name="MGAWebContexto" connectionString="metadata=res://*/Modelo.ModeloMGAWeb.csdl|res://*/Modelo.ModeloMGAWeb.ssdl|res://*/Modelo.ModeloMGAWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:sdb-piip-dev.database.windows.net;initial catalog=db-piip-dev-mgaweb;user id=webpiip;password=DNPpiip2016+*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>