<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="IdAplicacionServicioNegocio" value="59FFD1E2-B9C5-4315-BD70-0C28007C6AC2"/>
    <!--Application Insights-->
    <add key="InstrumentationKey" value="49404118-e104-4cec-ae32-472b668b507c"/>
    <add key="InstrumentationEnabled" value="true"/>
    <add key="JwtSecret-Usuario" value="HSsAsDs1s8D3J21419Jf12fJfDb9f2Jg0a1Df9012gKgDg01g2gKDK12KDJ92192JRJs"/>
    <add key="JwtSecret-Servicio" value="22sAsDs1s8D3J21419Jf12fJfDb9f2Jg0a1I32KKKSs12gKgDg01g2gKDK12KDJ92192JRTR"/>
    <!--End Points-->
    <add key="ApiAuditoria" value="https://as-auditoria-api-ntdev.azurewebsites.net/"/>
    <add key="ApiAutorizacion" value="https://as-autorizacion-api-ntdev.azurewebsites.net/"/>
    <add key="ApiInteroperabilidadOrfeo" value="https://as-interorfeo-api-qa.azurewebsites.net/"/>
    <add key="ApiMotorFlujos" value="http://localhost:49883/"/>
    <!--<add key="ApiMotorFlujos" value="http://localhost:55319/"/>-->
    <add key="ApiFicha" value="http://localhost:65500/"/>
    <add key="ApiServicioNegocio" value="https://as-serviciosnegocios-api-ntdev.azurewebsites.net/"/>
    <!--<add key="ApiServicioNegocio" value="http://localhost:49700/"/>-->
    <!--<add key="ApiInteroperabilidadOrfeo" value="http://localhost:44355/"/>-->
    <!--<add key="ApiAutorizacion" value="http://localhost:10221/" />-->
    <add key="ApiPiipCore" value="http://localhost:31573/"/>
    <!--<add key="ApiPiipCore" value="http://localhost:31573/" />-->
    <add key="ApiCache" value="https://cacheentidadesnegociowebapi-dev.azurewebsites.net/"/>
    <!--<add key="ApiCache" value="http://cacheentidadesnegociowebapi-dev.azurewebsites.net/" />-->
    <add key="ApiManejadorArchivos" value="https://as-manejadorarchivos-api-ntuat.azurewebsites.net/"/>
    <add key="ApiNotificacion" value="https://as-notificaciones-api-ntuat.azurewebsites.net/"/>
    <!--Uris-->
    <add key="uriObtenerPermiso" value="api/Authorization/ObtenerPermiso"/>
    <add key="uriObtenerProyecto" value="api/CacheEntidadesNegocio/Proyecto"/>
    <add key="uriGuardarCatalogo" value="api/CacheEntidadesNegocio/Catalogos/{0}/?ttl={1}"/>
    <add key="uriObtenerCatalogo" value="api/CacheEntidadesNegocio/Catalogos/{0}"/>
    <add key="uriObtenerCatalogoPorId" value="api/CacheEntidadesNegocio/Catalogos/{0}/{1}/"/>
    <add key="uriConsultarRelacionCatalogo" value="api/CacheEntidadesNegocio/Catalogos/{0}/{1}/{2}/"/>
    <add key="uriGuardarCatalogoReferencia" value="api/CacheEntidadesNegocio/Catalogos/{0}/{1}/{2}/?ttl={3}"/>
    <add key="uriConsultarCarta" value="api/TramitesProyectos/ConsultarCarta"/>
    <add key="uriFirmarCarta" value="api/TramitesProyectos/Firmar"/>
    <!--Notificacion-->
    <add key="uriCrearNotificacionFlujo" value="api/UsuarioNotificacion/CrearNotificacionFlujo"/>
    <!--Tiempos (TTL) Catálogos Caché-->
    <add key="TTL_Entidades" value="24"/>
    <add key="TTL_TiposEntidades" value="24"/>
    <add key="TTL_Sectores" value="24"/>
    <add key="TTL_Regiones" value="48"/>
    <add key="TTL_Programas" value="48"/>
    <add key="TTL_Resguardos" value="48"/>
    <add key="TTL_Productos" value="48"/>
    <add key="TTL_Alternativas" value="24"/>
    <add key="TTL_TiposRecursos" value="48"/>
    <add key="TTL_ClasificacionesRecursos" value="48"/>
    <add key="TTL_Etapas" value="30"/>
    <add key="TTL_Departamentos" value="30"/>
    <add key="TTL_Municipios" value="30"/>
    <!--Métodos Autorización-->
    <add key="consultarFuenteFinanciacion" value="ConsultarFuenteFinanciacion"/>
    <add key="previewFuenteFinanciacion" value="PreviewFuenteFinanciacion"/>
    <add key="postFuenteFinanciacion" value="PostFuenteFinanciacion"/>
    <add key="consultarProyecto" value="ConsultarProyecto"/>
    <add key="previewProyecto" value="PreviewProyecto"/>
    <add key="actualizarEstadoProyecto" value="ActualizarEstadoProyecto"/>
    <add key="ejecutarAccion" value="EjecutarAccion"/>
    <add key="postProductoTemporal" value="PostProductoTemporal"/>
    <add key="postProductoDefinitivo" value="PostProductoDefinitivo"/>
    <add key="consultarProducto" value="ConsultarProducto"/>
    <add key="previewProducto" value="PreviewProducto"/>
    <add key="postCadenaValorTemporal" value="PostCadenaValorTemporal"/>
    <add key="postCadenaValorDefinitivo" value="PostCadenaValorDefinitivo"/>
    <add key="consultarCadenaValor" value="ConsultarCadenaValor"/>
    <add key="previewCadenaValor" value="PreviewCadenaValor"/>
    <add key="identificarEntidadDestinoTransferencias" value="IdentificarEntidadDestino"/>
    <add key="CreacionBpin" value="CreacionBpin"/>
    <add key="postRegionalizacionTemporal" value="PostRegionalizacionTemporal"/>
    <add key="postRegionalizacionDefinitivo" value="PostRegionalizacionDefinitivo"/>
    <add key="consultarRegionalizacion" value="ConsultarRegionalizacion"/>
    <add key="previewRegionalizacion" value="PreviewRegionalizacion"/>
    <add key="consultarCatalogo" value="ConsultarCatalogo"/>
    <add key="consultarCatalogoPorId" value="ConsultarCatalogoPorId"/>
    <add key="consultarRelacionCatalogo" value="ConsultarRelacionCatalogo"/>
    <add key="generarBpinProyecto" value="GenerarBpinProyecto"/>
    <add key="aplicarMergeProyecto" value="AplicarMergeProyecto"/>
    <add key="actualizarNombreProyecto" value="ActualizarNombreProyecto"/>
    <add key="SGR_CTUS_CrearInstanciaCtusSGR" value="SGR_CTUS_CrearInstanciaCtusSGR"/>
    <add key="SGR_CTUS_AplicarFlujoCTUSSGR" value="SGR_CTUS_AplicarFlujoCTUSSGR"/>
    <add key="SGR_CTUS_DevolverFlujoCTUSSGR" value="SGR_CTUS_DevolverFlujoCTUSSGR"/>
    <add key="SGR_OCADPaz_AplicarFlujoSGR" value="SGR_OCADPaz_AplicarFlujoSGR"/>
    <add key="SGR_CTUS_CrearInstanciaCtusAutomaticaSGR" value="SGR_CTUS_CrearInstanciaCtusAutomaticaSGR"/>
    <!--Otros-->
    <add key="UsuarioGenericoServiciosNegocio" value="UsuarioServiciosNegocio"/>
    <add key="idAdministracionEnAutorizaciones" value="AP:PIIP"/>
    <add key="idObtenerFuenteFinanciacion" value="FuenteFinanciacionProyecto"/>
    <add key="idObtenerProyecto" value="Proyecto"/>
    <add key="idObtenerProducto" value="Producto"/>
    <add key="idObtenerPreguntas" value="Preguntas"/>
    <!--Otros-->
    <add key="idReasignarRadicadoORFEO" value="ReasignarRadicadoORFEO"/>
    <add key="uriReasignarRadicadoORFEO" value="api/Radicado/ReasignarRadicadoEntrada"/>
    <add key="uriCargarDocumentoElectronicoORFEO" value="api/Radicado/CargarDocumentoElectronico"/>
    <add key="uriRadicadoEntradaOrfeo" value="api/Radicado/RegistrarRadicado"/>
    <add key="uriConsultaDetalleTramiteFlujos" value="api/Tramite/ObtenerDetalleTramite?numeroTramite={0}"/>
    <add key="uriResetAccionesFlujoPorTramite" value="api/Tramites/ResetAccionesFlujoPorTramite/{0}"/>
    <add key="uriResetAccionesFlujoPorProyecto" value="api/Tramites/ResetAccionesFlujoPorProyecto/{0}"/>
    <add key="urObtenerUsuariosAnalistas" value="api/Usuarios/ObtenerUsuariosPerfil"/>
    <add key="urObtenerUsuarioCuentas" value="api/Usuarios/ObtenerUsuarioCuentas"/>
    <add key="uriObtenerDetalleCartaConcepto" value="api/Tramites/ObtenerDetalleCartaTramite"/>
    <add key="PostGenerarRadicadoEntrada" value="PostGenerarRadicadoEntrada"/>
    <add key="uriConsultarRadicado" value="api/Radicado/"/>
    <add key="uriCerrarRadicado" value="api/Radicado/CerrarRadicado"/>
    <add key="uriFichaFisico" value="api/FichaFisico"/>
    <add key="uriFichaPlantillaReporte" value="api/Reporte/ObtenerPlantilla/"/>
    <add key="uriFichaFisicoSGR" value="api/FichaFisicoSGR"/>
    <add key="uriFichaPlantillaReporte" value="api/Reporte/ObtenerPlantilla/"/>
    <add key="nombreAnexoRadicadoReporte" value="Radicado_entrada_tramite"/>
    <add key="nombreDocumentoFirmadoVF" value="28356-tramite-preliminar"/>
    <add key="documentoCartaConceptoAclaracionLeyenda" value="31540_Aclaracion_Leyenda"/>
    <add key="uriCerrarInstancia" value="api/Tramite/CerrarInstancia"/>
    <add key="nombrePDFCartaIncorporacion" value="12232022-incorporacion"/>
    <add key="nombrePDFReporte" value="26426-iniciales_Despedida"/>
    <add key="NombrePDFCartaVf" value="28356-tramite-preliminar"/>
    <add key="uriNotificarUsuarios" value="api/Flujo/NotificarUsuarios"/>
    <add key="uriRegistroInstanciaPriorizacion" value="api/Flujo/CrearInstancia"/>
    <add key="ObtenerRegistroPriorizacion" value="api/priorizacion/ObtenerRegistroPriorizacion"/>
    <add key="actualizarCargueMasivo" value="actualizarCargueMasivo"/>
    <add key="uriNotificarMarcaPrevio" value="api/Flujo/NotificarMarcaPrevio"/>
    <add key="uriEnviarCorreoMarcaPrevio" value="api/Flujo/EnviarCorreoMarcaPrevio"/>
    <add key="nombrePDFCartaAdicion" value="732023-adicion-donacion"/>
    <add key="NombrePDFCartaReprogramacionVF" value="28323-reprogVF"/>
    <add key="PostInclusionFuentesProgramacion" value="PostInclusionFuentesProgramacion"/>
    <add key="ObtenerRegistroPriorizacion" value="api/priorizacion/ObtenerRegistroPriorizacion"/>
    <!--ManejadorArchivos -->
    <add key="uriArchivoInfoManejadorArchivos" value="ArchivoInfo/"/>
    <add key="uriArchivosManejadorArchivos" value="Archivos/"/>
    <add key="uriAuthorizationManejadorArchivos" value="Authorization"/>
    <add key="collectionArchivos" value="ArchivosPIIP"/>
    <add key="userAuthArchivos" value="AdminPIIP"/>
    <add key="passwordAuthArchivos" value="PIIP123*+"/>
    <add key="uriValidarArchivosSgr" value="ArchivoInfo/sgr/"/>
    <!--Uris Documento Soporte-->
    <add key="uriObtenerListadoArchivosPIIP" value="api/ObtenerListadoArchivosPIIP/"/>
    <!--SGR-->
    <add key="uriGenerarMensajeEstadoProyectoSgr" value="SGR/Proyectos/GenerarMensajeEstadoProyecto/"/>
    <add key="uriPostAplicarFlujoSGR" value="SGR/Proyectos/PostAplicarFlujoSGR/"/>
    <add key="uriPostDevolverFlujoSGR" value="SGR/Proyectos/PostDevolverFlujoSGR/"/>
    <add key="uriRegistroInstancia" value="api/Flujo/CrearInstancia"/>
    <add key="uriObtenerProyectoCtusSgr" value="SGR/Proyectos/LeerProyectoCtus"/>
    <add key="uriObtenerConfiguracionReporteSgr" value="SGR/Transversal/ObtenerConfiguracionReportes"/>
    <add key="uriObtenerRolAprobadorCtusSgr" value="SGR/CTUS/LeerRolDirectorProyectoCtus"/>
    <add key="uriObtenerUsuariosNotificacionViabilidadSgr" value="SGR/Transversal/LeerUsuariosNotificacionViabilidad/"/>
    <add key="uriGuardarProyectoCtusSgr" value="SGR/Proyectos/GuardarProyectoCtus"/>
    <add key="uriClonarDocumentoSoporte" value="Archivos/clonar/"/>
  </appSettings>
  <connectionStrings>
    <add name="MGAWebContexto"
      connectionString="Server=tcp:sdb-piip-uatntc.database.windows.net;Initial Catalog=DB-PIIP-UAT-MgaWeb;Persist Security Info=False;User ID=AppPiip;Password=PIIPdnp2021+*;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;"
      providerName="System.Data.EntityClient"/>
    <add name="MGAWebContextoSGR"
      connectionString="Server=tcp:sdb-piip-uatntc.database.windows.net;Initial Catalog=DB-PIIP-UAT-MgaWeb;Persist Security Info=False;User ID=AppPiip;Password=PIIPdnp2021+*;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;"
      providerName="System.Data.EntityClient"/>
    <!--<add name="MGAWebContexto" connectionString="metadata=res://*/Modelo.ModeloMGAWeb.csdl|res://*/Modelo.ModeloMGAWeb.ssdl|res://*/Modelo.ModeloMGAWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:sdb-piip-dev.database.windows.net;initial catalog=db-piip-dev-mgaweb;user id=webpiip;password=DNPpiip2016+*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.8" debug="true"/>
    <httpRuntime targetFramework="4.8"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule"
        type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation"
        preCondition="integratedMode,managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.TelemetryCorrelation" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.1.0" newVersion="1.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <!--<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
      -->
    </compilers>
  </system.codedom>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener"
          type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
<!--ProjectGuid: B25F5746-AC7A-411A-9CF6-B4D08C147EA4-->