<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="IdAplicacionServicioNegocio" value="57ccfa1e-f36d-4ede-90d4-94b6adfa3813" />
		<!--End Points-->
		<add key="ApiAuditoria" value="https://auditoriawebapi-dev.azurewebsites.net/" />
		<add key="ApiMensajeria" value="https://mensajeriawebapi-dev.azurewebsites.net/" />
		<add key="ApiAutorizacion" value="https://autorizacionwebapi-dev.azurewebsites.net/" />
		<!--<add key="ApiAutorizacion" value="http://localhost:10221/" />-->
		<add key="ApiNotificacion" value="http://notificacionwebapi-dev.azurewebsites.net/" />
		<add key="ApiPiipCore" value="https://as-formularios-api-dev.azurewebsites.net/" />
		<!--<add key="ApiPiipCore" value="http://localhost:31573/" />-->
		<add key="ApiIdentidad" value="https://as-identidad-api-dev.azurewebsites.net/" />
		<add key="ApiBackbone" value="https://as-backbone-api-dev.azurewebsites.net/" />
		<add key="idGuardarRegionalizacionTemporal" value="RegionalizacionProyecto" />
		<add key="idAdministracionEnAutorizaciones" value="AP:PIIP" />
		<!--<add key="ApiBackbone" value="http://localhost:3240/" />-->

		<!--Uris-->
		<add key="uriObtenerPermiso" value="api/Authorization/ObtenerPermiso" />
		<add key="uriObtenerProyecto" value="api/CacheEntidadesNegocio/Proyecto" />

		<!--Métodos Autorización-->
		<add key="consultarFuenteFinanciacion" value="ConsultarFuenteFinanciacion" />
		<add key="previewFuenteFinanciacion" value="PreviewFuenteFinanciacion" />
		<add key="postFuenteFinanciacion" value="PostFuenteFinanciacion" />

		<add key="consultarProyecto" value="ConsultarProyecto" />
		<add key="previewProyecto" value="PreviewProyecto" />

		<add key="ejecutarAccion" value="EjecutarAccion" />

		<add key="postProductoTemporal" value="PostProductoTemporal" />
		<add key="postProductoDefinitivo" value="PostProductoDefinitivo" />
		<add key="consultarProducto" value="ConsultarProducto" />
		<add key="previewProducto" value="PreviewProducto" />

		<add key="postCadenaValorTemporal" value="PostCadenaValorTemporal" />
		<add key="postCadenaValorDefinitivo" value="PostCadenaValorDefinitivo" />
		<add key="consultarCadenaValor" value="ConsultarCadenaValor" />
		<add key="previewCadenaValor" value="PreviewCadenaValor" />

		<add key="postRegionalizacionTemporal" value="PostRegionalizacionTemporal" />
		<add key="postRegionalizacionDefinitivo" value="PostRegionalizacionDefinitivo" />
		<add key="consultarRegionalizacion" value="ConsultarRegionalizacion" />
		<add key="previewRegionalizacion" value="PreviewRegionalizacion" />

		<add key="postFocalizacionTemporal" value="PostFocalizacionTemporal" />
		<add key="postFocalizacionDefinitivo" value="PostFocalizacionDefinitivo" />
		<add key="consultarFocalizacion" value="ConsultarFocalizacion" />
		<add key="previewFocalizacion" value="PreviewFocalizacion" />

		<add key="consultarRegionalizacionIndicadores" value="ConsultarRegionalizacionIndicadores" />
		<add key="previewRegionalizacionIndicadores" value="PreviewRegionalizacionIndicadores" />
		<add key="postRegionalizacionIndicadoresDefinitivo" value="PostRegionalizacionIndicadoresDefinitivo" />
		<add key="postRegionalizacionIndicadoresTemporal" value="PostRegionalizacionIndicadoresTemporal" />

		<add key="consultarCuantificacionLocalizacion" value="ConsultarCuantificacionLocalizacion" />
		<add key="previewCuantificacionLocalizacion" value="PreviewCuantificacionLocalizacion" />
		<add key="postCuantificacionLocalizacionDefinitivo" value="PostCuantificacionLocalizacionDefinitivo" />
		<add key="postCuantificacionLocalizacionTemporal" value="PostCuantificacionLocalizacionTemporal" />

		<add key="consultarCuantificacionBeneficiario" value="ConsultarCuantificacionBeneficiario" />
		<add key="previewCuantificacionBeneficiario" value="PreviewCuantificacionBeneficiario" />
		<add key="postCuantificacionBeneficiarioDefinitivo" value="PostCuantificacionBeneficiarioDefinitivo" />
		<add key="postCuantificacionBeneficiarioTemporal" value="PostCuantificacionBeneficiarioemporal" />

		<add key="postFocalizacionProyectoTemporal" value="PostFocalizacionProyectoTemporal" />
		<add key="postFocalizacionProyectoDefinitivo" value="PostFocalizacionProyectoDefinitivo" />
		<add key="consultarFocalizacionProyecto" value="ConsultarFocalizacionProyecto" />
		<add key="previewFocalizacionProyecto" value="PreviewFocalizacionProyecto" />

		<add key="consultarFocalizacionCuantificacionLocalizacion" value="ConsultarFocalizacionCuantificacionLocalizacion" />
		<add key="previewFocalizacionCuantificacionLocalizacion" value="PreviewFocalizacionCuantificacionLocalizacion" />
		<add key="postFocalizaCuantificaLocalizaDefinitivo" value="PostFocalizaCuantificaLocalizaDefinitivo" />
		<add key="postFocalizaCuantificaLocalizaTemporal" value="PostFocalizaCuantificaLocalizaTemporal" />

		<add key="consultarIndicadorProductoAgregar" value="ConsultarIndicadorProductoAgregar" />
		<add key="previewIndicadorProductoAgregar" value="PreviewIndicadorProductoAgregar" />
		<add key="postIndicadorProductoAgregarDefinitivo" value="PostIndicadorProductoAgregarDefinitivo" />
		<add key="postIndicadorProductoAgregarTemporal" value="PostIndicadorProductoAgregarTemporal" />

		<add key="consultarRegionalizacionIndicadorAgregar" value="ConsultarRegionalizacionIndicadorAgregar" />
		<add key="previewRegionalizacionIndicadorAgregar" value="PreviewRegionalizacionIndicadorAgregar" />
		<add key="postRegionalizacionIndicadorAgregarDefinitivo" value="PostRegionalizacionIndicadorAgregarDefinitivo" />
		<add key="postRegionalizacionIndicadorAgregarTemporal" value="PostRegionalizacionIndicadorAgregarTemporal" />

		<add key="consultarValidarViabilidadCompletarInfo" value="ConsultarValidarViabilidadCompletarInfo" />
		<add key="previewValidarViabilidadCompletarInfo" value="PreviewValidarViabilidadCompletarInfo" />
		<add key="postValidarViabilidadCompletarInfoTemporal" value="PostValidarViabilidadCompletarInfoTemporal" />
		<add key="postValidarViabilidadCompletarInfoDefinitivo" value="PostValidarViabilidadCompletarInfoDefinitivo" />

		<add key="consultarLocalizacion" value="ConsultarLocalizacion" />
		<add key="previewLocalizacion" value="PreviewLocalizacion" />
		<add key="postLocalizacionDefinitivo" value="PostLocalizacionDefinitivo" />
		<add key="postLocalizacionTemporal" value="PostLocalizacionTemporal" />

		<add key="consultarPoliticaTransversalCategoria" value="ConsultarPoliticaTransversalCategoria" />
		<add key="previewPoliticaTransversalCategoria" value="PreviewPoliticaTransversalCategoria" />
		<add key="postPoliticaTransversalCategoriaDefinitivo" value="PostPoliticaTransversalCategoriaDefinitivo" />
		<add key="postPoliticaTransversalCategoriaTemporal" value="PostPoliticaTransversalCategoriaTemporal" />

		<add key="consultarPoliticaTransversalBeneficiario" value="ConsultarPoliticaTransversalBeneficiario" />
		<add key="previewPoliticaTransversalBeneficiario" value="PreviewPoliticaTransversalBeneficiario" />
		<add key="postPoliticaTransversalBeneficiarioDefinitivo" value="PostPoliticaTransversalBeneficiarioDefinitivo" />
		<add key="postPoliticaTransversalBeneficiarioTemporal" value="PostPoliticaTransversalBeneficiarioTemporal" />

		<add key="consultarPoliticaTransversalMetas" value="consultarPoliticaTransversalMetas" />
		<add key="previewPoliticaTransversalMetas" value="previewPoliticaTransversalMetas" />
		<add key="postPoliticaTransversalMetasDefinitivo" value="postPoliticaTransversalMetasDefinitivo" />
		<add key="postPoliticaTransversalMetosTemporal" value="postPoliticaTransversalMetosTemporal" />

		<add key="consultarAgregarPoliticas" value="consultarAgregarPoliticas" />
		<add key="previewAgregarPoliticas" value="previewAgregarPoliticas" />
		<add key="postAgregarPoliticas" value="postAgregarPoliticas" />
		<add key="postAgregarPoliticasTemporal" value="postAgregarPoliticasTemporal" />

		<add key="consultarRegionalizaFuentes" value="ConsultarRegionalizaFuentes" />
		<add key="previewRegionalizaFuentes" value="PreviewRegionalizaFuentes" />
		<add key="postRegionalizaFuentesDefinitivo" value="PostRegionalizaFuentesDefinitivo" />
		<add key="postRegionalizaFuentesTemporal" value="PostRegionalizaFuentesTemporal" />

		<add key="consultarPTAsociacionIndicadores" value="consultarPTAsociacionIndicadores" />
		<add key="previewPTAsociacionIndicadores" value="previewPTAsociacionIndicadores" />
		<add key="postPTAsociacionIndicadores" value="postPTAsociacionIndicadores" />
		<add key="postPTAsociacionIndicadoresTemporal" value="postPTAsociacionIndicadoresTemporal" />

		<add key="consultarDiligenciarFuentes" value="consultarDiligenciarFuentes" />
		<add key="previewDiligenciarFuentes" value="previewDiligenciarFuentes" />
		<add key="postDiligenciarFuentesDefinitivo" value="postDiligenciarFuentesDefinitivo" />
		<add key="postDiligenciarFuentesTemporal" value="postDiligenciarFuentesTemporal" />

		<add key="postDiligenciarFuentes" value="postDiligenciarFuentes" />

		<add key="consultarFocalizacionPoliticaTransversaleRelacion" value="consultarFocalizacionPoliticaTransversaleRelacion" />
		<add key="previewFocalizacionPoliticaTransversaleRelacion" value="previewFocalizacionPoliticaTransversaleRelacion" />
		<add key="postTempFocalizacionPoliticaTransversaleRelacion" value="postTempFocalizacionPoliticaTransversaleRelacion" />
		<add key="postDefFocalizacionPoliticaTransversaleRelacion" value="postDefFocalizacionPoliticaTransversaleRelacion" />
		<add key="consultarAjustesUbicacion" value="ConsultarAjustesUbicacion" />
		<add key="previewAjustesUbicacion" value="PreviewAjustesUbicacion" />
		<add key="postAjustesUbicacionDefinitivo" value="PostAjustesUbicacionDefinitivo" />
		<add key="postAjustesUbicacionTemporal" value="PostAjustesUbicacionTemporal" />
		<add key="consultarAjustesRegionalizaFuentes" value="ConsultarAjustesRegionalizaFuentes" />
		<add key="previewAjustesRegionalizaFuentes" value="PreviewAjustesRegionalizaFuentes" />
		<add key="postAjustesRegionalizaFuentesDefinitivo" value="PostAjustesRegionalizaFuentesDefinitivo" />
		<add key="postAjustesRegionalizaFuentesTemporal" value="PostAjustesRegionalizaFuentesTemporal" />
		<add key="consultarFuenteFinanciacionAjuste" value="consultarFuenteFinanciacionAjuste" />
		<add key="previewFuenteFinanciacionAjuste" value="previewFuenteFinanciacionAjuste" />
		<add key="postTempFuenteFinanciacionAjuste" value="postTempFuenteFinanciacionAjuste" />
		<add key="postDefinitivoFuenteFinanciacionAjuste" value="postDefinitivoFuenteFinanciacionAjuste" />
		<add key="consultarAjustesPoliticaTransversalBeneficiario" value="ConsultarAjustesPoliticaTransversalBeneficiario" />
		<add key="previewAjustesPoliticaTransversalBeneficiario" value="PreviewAjustesPoliticaTransversalBeneficiario" />
		<add key="postAjustesPoliticaTransversalBeneficiarioDef" value="PostAjustesPoliticaTransversalBeneficiarioDef" />
		<add key="postAjustesPoliticaTransversalBeneficiarioTemporal" value="PostAjustesPoliticaTransversalBeneficiarioTemporal" />
		<add key="consultarAjustesCuantificacionBeneficiario" value="ConsultarAjustesCuantificacionBeneficiario" />
		<add key="previewAjustesCuantificacionBeneficiario" value="PreviewAjustesCuantificacionBeneficiario" />
		<add key="postAjustesCuantificacionBeneficiarioDefinitivo" value="PostAjustesCuantificacionBeneficiarioDefinitivo" />
		<add key="postAjustesCuantificacionBeneficiarioTemporal" value="PostAjustesCuantificacionBeneficiarioTemporal" />
		<add key="consultarAjustesPoliticaTransversalCategoria" value="ConsultarAjustesPoliticaTransversalCategoria" />
		<add key="previewAjustesPoliticaTransversalCategoria" value="PreviewAjustesPoliticaTransversalCategoria" />
		<add key="postAjustesPoliticaTransversalCategoriaDefinitivo" value="PostAjustesPoliticaTransversalCategoriaDefinitivo" />
		<add key="postAjustesPoliticaTransversalCategoriaTemporal" value="PostAjustesPoliticaTransversalCategoriaTemporal" />
		<add key="consultarAjustesPoliticaTransversalMetas" value="consultarAjustesPoliticaTransversalMetas" />
		<add key="previewAjustesPoliticaTransversalMetas" value="previewAjustesPoliticaTransversalMetas" />
		<add key="postAjustesPoliticaTransversalMetasDefinitivo" value="postAjustesPoliticaTransversalMetasDefinitivo" />
		<add key="postAjustesPoliticaTransversalMetasTemporal" value="postPoAjustesliticaTransversalMetasTemporal" />
		<add key="consultarAjustePTAsociacionIndicadores" value="consultarAjustePTAsociacionIndicadores" />
		<add key="previewAjustePTAsociacionIndicadores" value="previewAjustePTAsociacionIndicadores" />
		<add key="postAjustePTAsociacionIndicadores" value="postAjustePTAsociacionIndicadores" />
		<add key="postAjustePTAsociacionIndicadoresTemporal" value="postAjustePTAsociacionIndicadoresTemporal" />
    <add key="serviciosWBS" value="serviciosWBS" />

		<add key="postRegionalizacionMetasyRecursosAjuste" value="postRegionalizacionMetasyRecursosAjuste" />
		<add key="previewRegionalizacionMetasyRecursosAjuste" value="previewRegionalizacionMetasyRecursosAjuste" />
		<add key="postDefinitivoRegionalizacionMetasyRecursosAjuste" value="postDefinitivoRegionalizacionMetasyRecursosAjuste" />
		<add key="consultarRegionalizacionMetasyRecursosAjuste" value="consultarRegionalizacionMetasyRecursosAjuste" />
		<add key="consultarRegionalizacionMetasyRecursosAjuste" value="consultarRegionalizacionMetasyRecursosAjuste" />
		<add key="postPoliticaTransversalMetasTemporal" value="postPoliticaTransversalMetasTemporal" />
		<add key="consultarFPTRelacionAjustes" value="consultarFPTRelacionAjustes" />


		<!--Otros-->
		<add key="UsuarioGenericoServiciosNegocio" value="UsuarioServiciosNegocio" />
		<add key="idAdministracionEnAutorizaciones" value="AP:PIIP" />
		<add key="idObtenerFuenteFinanciacion" value="FuenteFinanciacionProyecto" />
		<add key="idObtenerProyecto" value="Proyecto" />
		<add key="idObtenerProducto" value="Producto" />
		<add key="idObtenerPreguntas" value="Preguntas" />
		<add key="identificarEntidadDestinoTransferencias" value="IdentificarEntidadDestino" />


	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
