.sAlert {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    position: fixed !important;
    top: 15%;
    z-index: 1000;
}

    .sAlert .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px
    }

        .sAlert .alert h4 {
            margin-top: 0;
            color: inherit
        }

        .sAlert .alert .alert-link {
            font-weight: bold
        }

        .sAlert .alert > p, .sAlert .alert > ul {
            margin-bottom: 0
        }

            .sAlert .alert > p + p {
                margin-top: 5px
            }

    .sAlert .alert-dismissable, .sAlert .alert-dismissible {
        padding-right: 35px
    }

        .sAlert .alert-dismissable .close, .sAlert .alert-dismissible .close {
            position: relative;
            top: -2px;
            right: -21px;
            color: inherit
        }

    .sAlert .alert-success {
        background-color: #4cae4c;
        border-color: #4cae4c;
        color: #ffffff
    }

        .sAlert .alert-success hr {
            border-top-color: #4cae4c
        }

        .sAlert .alert-success .alert-link {
            color: #4cae4c
        }

    .sAlert .alert-info {
        background-color: #00a3df;
        border-color: #00a3df;
        color: #ffffff
    }

        .sAlert .alert-info hr {
            border-top-color: #00a3df
        }

        .sAlert .alert-info .alert-link {
            color: #00a3df
        }

    .sAlert .alert-warning {
        background-color: #fcf8e3;
        border-color: #faebcc;
        color: #8a6d3b
    }

        .sAlert .alert-warning hr {
            border-top-color: #f7e1b5
        }

        .sAlert .alert-warning .alert-link {
            color: #66512c
        }

    .sAlert .alert-danger {
        background-color: #b81b27;
        border-color: #b81b27;
        color: #ffffff
    }

        .sAlert .alert-danger hr {
            border-top-color: #b81b27
        }

        .sAlert .alert-danger .alert-link {
            color: #b81b27
        }

    .sAlert .close {
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        color: #ffffff;
        text-shadow: 0 1px 0 #fff;
        opacity: .2;
        filter: alpha(opacity=20)
    }

        .sAlert .close:hover, .sAlert .close:focus {
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            opacity: .5;
            filter: alpha(opacity=50)
        }

button.sAlert .close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none
}

.sAlert .close {
    border: 0;
    background: none;
    padding-top: 0;
    font-family: inherit
}

.sAlert .alert {
    padding: 3px;
    margin-bottom: 5px;
    text-align: center
}

.sAlert .fixed-on-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0
}

.sAlert .alertContent {
    z-index: 99
}
