<section ng-init="vm.init();" class="mx-5">
    <h3 class="text-left ui-seccion-title">{{vm.titulo}}</h3>
    <div class="row mx-0 mb-5" ng-repeat="objetivo in vm.DetalleAjustes.Objetivos" ng-init="indexObjetivo = $index">
        <div class="row col-md-12 text-left" ng-repeat="producto in objetivo.Productos" ng-init="indexProducto = $index">
            <span>
                <strong>Ruta: </strong> Recursos / Costo de actividades /  <span class="encabezadoTitulos">Objetivo específico </span>{{objetivo.ObjetivoEspecifico}}.  <span class="encabezadoTitulos"> Producto </span> {{producto.Producto}}
            </span>

            <br />

            <div class="col-md-12 mb-4">
                <div ng-repeat="etapa in producto.Etapas" ng-init="indexEtapa = $index">
                    <div>
                        <ul class="nav nav-tabs">
                            <li id="liAjustados" class="nav-item" ng-class="{active : indexEtapa===0}">
                                <a href="" data-target="#tabEtapa{{indexObjetivo}}-{{indexProducto}}-{{indexEtapa}}" data-toggle="tab">
                                    <b>{{etapa.Etapa}}</b>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div id="#tabEtapa{{indexObjetivo}}-{{indexProducto}}-{{indexEtapa}}" class="mt-5">
                        <table class="TableDNP">
                            <thead>
                                <tr>
                                    <th class="columAcc"></th>
                                    <th class="textRightDNP">Vigencia</th>
                                    <th class="textRightDNP">Costos en firme $</th>
                                    <th class="textRightDNP">Costo ajustado $</th>
                                    <th class="textRightDNP">Diferencia $</th>
                                    <th class="columAcc"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="uTexto-grilla" ng-repeat="objResumen in etapa.Vigencias">
                                    <td></td>
                                    <td class="textRightDNP">{{objResumen.Vigencia}}</td>
                                    <td class="textRightDNP"><div class="blockReferenciaDNP">{{objResumen.CostoFirme}}</div></td>
                                    <td class="textRightDNP"><div class="{{objResumen.class}} textRightDNP" style="line-height: 43px;">{{objResumen.CostoAjuste}}</div></td>
                                    <td class="textRightDNP"><div class="blockReferenciaDNP">{{objResumen.Diferencia}}</div></td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="textLeftDNP"><span></span></td>
                                    <td class="textRightDNP"><span>Total:</span></td>
                                    <td class="textRightDNP"><div class="blockReferenciaDNP">{{vm.ConvertirNumero(etapa.TotalFirme)}}</div></td>
                                    <td class="textRightDNP"><div class="blockReferenciaDNP">{{vm.ConvertirNumero(etapa.TotalAjuste)}}</div></td>
                                    <td class="textRightDNP"><div class="blockReferenciaDNP">{{vm.ConvertirNumero(etapa.TotalDiferencia)}}</div></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-12 text-left">
                    <h4 class="uLabelCampo">Detalle del ajuste</h4>
                    <ul class="pl-4">
                        <li ng-if="detalle.TipoActividad != 'Iguales'" ng-repeat="detalle in producto.DetalleAjuste">
                            <span ng-if="detalle.TipoActividad == 'Nuevo'">{{(detalle.Entregable==1)? 'Se añade el entregable nivel 1': 'Se añade la actividad'}}: {{detalle.Actividad}}</span>
                            <span ng-if="detalle.TipoActividad == 'Eliminadas'">{{(detalle.Entregable==1)? 'Se elimina el entregable nivel 1': 'Se elimina la actividad'}}: {{detalle.Actividad}}</span>
                            <span ng-if="detalle.TipoActividad == 'Modificada'">{{(detalle.Entregable==1)? 'Se modificó el entregable nivel 1': 'Se modificó la actividad'}}: {{detalle.Actividad}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="row my-4">
        <div class="col-md-12 mt-3 mb-3">
            <div class="row">
                <div class="col-md-8 text-left">
                    <h4 class="text-left ui-seccion-title">Justificación</h4>
                </div>
                <div class="col-md-4 text-right">
                    <button 
                            type="button" 
                            class="{{vm.isEdicion ? 'btn btncancelarHorizonte' : 'btn btncancelarHorizonte'}}" 
                            tooltip-placement="top" 
                            ng-click="vm.isEdicion ? vm.editar('cancelar') : vm.editar('editar')" 
                            uib-tooltip="{{vm.isEdicion ? 'CANCELAR' : 'EDITAR'}}" 
                            ng-if="!vm.soloLectura">
                            {{vm.isEdicion ? 'CANCELAR' : 'EDITAR'}}
                    </button>                  
                    <button ng-click="vm.guardar()"
                            type="button"
                            id="btn-guardar-edicion-ca"
                            ng-class="vm.ClasesbtnGuardar"
                            tooltip-placement="auto"
                            uib-tooltip="Guardar"
                            ng-if="!vm.soloLectura">
                        GUARDAR
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                    <span>
                        <strong>Justifique la modificación* </strong> (Máximo 8.000 caracteres)
                    </span>
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div id="recursoscostosdelasacti-justificacion-error" class="hidden text-left color-red">
                <img class="img img-advertencia" src="Img/u11.svg" />
                <span id="recursoscostosdelasacti-justificacion-error-mns"></span>
            </div>
            <textarea rows="3"
                      id="justificacionca"
                      name="justificacionca"
                      ng-model="vm.justificacion"
                      placeholder="Maximo 8.000 caracteres"
                      minlength="1"
                      maxlength="8000"
                      class="form-control disabled" ng-required="true"></textarea>
        </div>
    </div>
</section>