<section>
    <div class="container-fluid inbox" ng-init="vm.init();">
        <div>
            <div class="tab-container col-md-12" style="width:98%;">
                <br />
                <span ng-if="vm.habilitaBotones" class="buttonbar pull-right">
                    <button type="button" class="btneditarDNP" tooltip-placement="top" ng-click="vm.Editable ? vm.CancelarValores() : vm.EditarValores()" uib-tooltip="{{vm.Editable ? 'CANCELAR' : 'EDITAR'}}">
                        {{vm.Editable ? 'CANCELAR' : 'EDITAR'}}
                    </button>
                    <button ng-disabled="!vm.Editable" type="button" class="{{vm.Editable ? 'btnguardarDNP' : 'btnguardarDisabledDNP'}}" tooltip-placement="top" uib-tooltip="Guardar" tabindex="0" ng-click="vm.GuardarValores(fuentes)">
                        GUARDAR
                    </button>
                </span>
                <br />
                <div style="text-align: left;">
                    <div class="row col-md-12">
                        <div class="alert panel-heading">
                            <table class="TableDNP">
                                <thead>
                                    <tr ng-if="vm.mostrarTPasoTres">
                                        <th class="columAcc" width="5%"></th>
                                        <th class="textleftDNP" width="20%">Tipo de recurso</th>
                                        <th class="textleftDNP" width="6%">CSF / SSF</th>
                                        <th class="textRightDNP" width="16%">Valor asignado $</th>
                                        <th class="textRightDNP" width="16%">Valor vigente $</th>
                                        <th class="textRightDNP" width="16%">Valor solicitado $</th>
                                        <th class="textRightDNP" width="16%">Valor aprobado $</th>
                                        <th class="columAcc" width="5%"></th>
                                    </tr>
                                    <tr ng-if="vm.mostrarTPasoTresA">
                                        <th class="columAcc" width="5%"></th>
                                        <th class="textleftDNP" width="22%">Tipo de recurso</th>
                                        <th class="textleftDNP" width="8%">CSF / SSF</th>
                                        <th class="textRightDNP" width="20%">Valor asignado $</th>
                                        <th class="textRightDNP" width="20%">Valor vigente $</th>
                                        <th class="textRightDNP" width="20%">Valor aprobado $</th>
                                        <th class="columAcc" width="5%"></th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="creditos in fuentes.Creditos" ng-init="creditosindex = $index">
                                    <tr>
                                        <td rowspan="2"></td>
                                        <td rowspan="2">{{creditos.Codigo}}. {{creditos.Nombre}}</td>
                                        <td class="textRightDNP">CSF</td>
                                        <td><b><input type="text" class="textRightDNP form-control editInputDNP" style="padding: 0px 5px 0px 5px; margin-left: 5px" disabled value="{{vm.ConvertirNumero(creditos.ValorInicialCSF)}}" /></b></td>
                                        <td><b><input type="text" class="textRightDNP form-control editInputDNP" style="padding: 0px 5px 0px 5px; margin-left: 5px" disabled value="{{vm.ConvertirNumero(creditos.ValorVigenteCSF)}}" /></b></td>
                                        <td ng-if="vm.mostrarTPasoTres"><b><input type="text" class="textRightDNP form-control editInputDNP" style="padding: 0px 5px 0px 5px; margin-left: 5px" disabled value="{{vm.ConvertirNumero(creditos.ValorAcreditarCSF)}}" /></b></td>
                                        <td ng-if="!vm.Editable"><b><input type="text" class="textRightDNP form-control editInputDNP" style="padding: 0px 5px 0px 5px; margin-left: 5px" disabled value="{{vm.ConvertirNumero(creditos.ValorAcreditarCSFA)}}" /></b></td>
                                        <td ng-if="vm.Editable" class="textRightDNP">
                                            <input id="input-ValorAcreditarCSFA" type="text" min="0.00"
                                                   ng-readonly="!vm.Editable"
                                                   ng-keypress="vm.validateFormat($event)"
                                                   ng-keyup="vm.validarTamanio($event)"
                                                   ng-blur="vm.actualizaFila($event, fuentes, 'ValorAcreditarCSFA', creditosindex)"
                                                   ng-value="creditos.ValorAcreditarCSFA"
                                                   ng-model="fuentes.Creditos[creditosindex].ValorAcreditarCSFA"
                                                   required class="form-control editInputDNP" style="text-align:right;padding: 0px 5px 0px 5px;margin-left: 5px; background-color:white" />
                                        </td>
                                        <td rowspan="2"></td>
                                    </tr>
                                    <tr ng-if="creditos.origen == 'N'">
                                        <td class="textRightDNP">SSF</td>
                                        <td><b><input type="text" class="textRightDNP form-control editInputDNP" style="padding: 0px 5px 0px 5px; margin-left: 5px" disabled value="{{vm.ConvertirNumero(creditos.ValorInicialSSF)}}" /></b></td>
                                        <td><b><input type="text" class="textRightDNP form-control editInputDNP" style="padding: 0px 5px 0px 5px; margin-left: 5px" disabled value="{{vm.ConvertirNumero(creditos.ValorVigenteSSF)}}" /></b></td>
                                        <td ng-if="vm.mostrarTPasoTres"><b><input type="text" class="textRightDNP form-control editInputDNP" style="padding: 0px 5px 0px 5px; margin-left: 5px" disabled value="{{vm.ConvertirNumero(creditos.ValorAcreditarSSF)}}" /></b></td>
                                        <td ng-if="!vm.Editable"><b><input type="text" class="textRightDNP form-control editInputDNP" style="padding: 0px 5px 0px 5px; margin-left: 5px" disabled value="{{vm.ConvertirNumero(creditos.ValorAcreditarSSFA)}}" /></b></td>
                                        <td ng-if="vm.Editable" class="textRightDNP">
                                            <input id="input-ValorAcreditarSSFA" type="text" min="0.00"
                                                   ng-readonly="!vm.Editable"
                                                   ng-keypress="vm.validateFormat($event)"
                                                   ng-keyup="vm.validarTamanio($event)"
                                                   ng-blur="vm.actualizaFila($event, fuentes, 'ValorAcreditarSSFA', creditosindex)"
                                                   ng-value="creditos.ValorAcreditarSSFA"
                                                   ng-model="fuentes.Creditos[creditosindex].ValorAcreditarSSFA"
                                                   required class="form-control editInputDNP" style="text-align:right;padding: 0px 5px 0px 5px;margin-left: 5px; background-color:white" />
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="textleftDNP"><b>=</b></td>
                                        <td class="textleftDNP"><b>Total</b></td>
                                        <td class="textleftDNP"></td>
                                        <td class="textRightDNP"><b><input type="text" class="textRightDNP form-control editInputDNP" style="font-family: 'Work Sans Medium Roman', 'Work Sans Regular Roman', 'Work Sans'; font-weight: bold; font-style: normal; font-size: 16px; color: #004884; padding: 0px 5px 0px 5px; margin-left: 5px" disabled value="{{vm.ConvertirNumero(fuentes.TotalInicial)}}" /></b></td>
                                        <td class="textRightDNP"><b><input type="text" class="textRightDNP form-control editInputDNP" style="font-family: 'Work Sans Medium Roman', 'Work Sans Regular Roman', 'Work Sans'; font-weight: bold; font-style: normal; font-size: 16px; color: #004884; padding: 0px 5px 0px 5px; margin-left: 5px" disabled value="{{vm.ConvertirNumero(fuentes.TotalVigente)}}" /></b></td>
                                        <td ng-if="vm.mostrarTPasoTres" class="textRightDNP"><b><input type="text" class="textRightDNP form-control editInputDNP" style="font-family: 'Work Sans Medium Roman', 'Work Sans Regular Roman', 'Work Sans'; font-weight: bold; font-style: normal; font-size: 16px; color: #004884; padding: 0px 5px 0px 5px; margin-left: 5px" disabled value="{{vm.ConvertirNumero(fuentes.TotalAcreditar)}}" /></b></td>
                                        <td class="textRightDNP"><b><input type="text" class="textRightDNP form-control editInputDNP" style="font-family: 'Work Sans Medium Roman', 'Work Sans Regular Roman', 'Work Sans'; font-weight: bold; font-style: normal; font-size: 16px; color: #004884; padding: 0px 5px 0px 5px; margin-left: 5px" disabled value="{{vm.ConvertirNumero(fuentes.TotalAcreditarA)}}" /></b></td>
                                        <td class="columAcc"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>