<div class="text-center">
    <button class="btnaccion" tooltip-placement="auto" uib-tooltip="Editar" ng-click="grid.appScope.vm.abrirModalCrearAlertaConfiguracion(row.entity.Id)">
        <span><img class="grid-icon-accion"  src="Img/iconsgrid/iconAccionEditar.png"/></span>
    </button>
    <button class="btnaccion" tooltip-placement="auto" uib-tooltip="Eliminar" ng-click="grid.appScope.vm.eliminarAlertaConfiguracion(row.entity.Id)">
        <span><img class="grid-icon-accion"  src="Img/iconsgrid/iconAccionEliminar.png" /></span>
    </button>
</div> 