@using DNP.Backbone.Dominio.Dto;
@model List<DNP.Autorizacion.Dominio.Dto.RolDto>
@{
    Layout = null;
    ViewBag.Title = "Roles";
}
<html>
<head>
    @Html.Partial("_IncludeEstilosRelatorios")
</head>
<body class="pdf">
    @Html.Partial("_CabecalhoRelatorio", "Informe del roles")

    <div class="mt-5">
        @if (Model == null)
        {
            <table class="table table-sm table-borderless">
                <thead>
                    <tr>
                        <th class="text-left">
                            No hubo registros para los filtros seleccionados.
                        </th>
                    </tr>
                </thead>
            </table>
        }
        else
        {
            <div id="containerbody">
                <table class="table  table-borderless border-table">
                    <thead>
                        <tr>
                            <th>Roles</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Nombre</td>
                            <td>@item.OpcionesConcat</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</body>
</html>